In [1]:
import pandas as pd

In [2]:
vat = pd.read_csv("VAT_sales_2020_03.csv")
vat.head(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
0,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,NaN,NaN,0.0,NaN,NaN,NaN
1,00375911605-1218331-001-001-CM,CM-DK0311064,TCM-DK0311064,,Credit Memo,1/6/2020,Mar-20,- None -,NaN,KREDITKORTSALG VISA,...,NaN,NaN,DK-Z,CCSE,-15.0,NaN,0.0,15.0,NaN,0.0
2,00375911605-1218331-001-001-CI,IN-DK4746992,TIN-DK4746992,,Invoice,1/6/2020,Mar-20,Net 30,2/5/2020,KREDITKORTSALG VISA,...,NaN,NaN,DK-Z,CCSE,0.0,NaN,0.0,0.0,NaN,0.0

In [3]:
vat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62108 entries, 0 to 62107
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          62108 non-null  object
 1   Document Number                      62107 non-null  object
 2   Transaction Number                   62107 non-null  object
 3   Maximum of Linked Invoice            62107 non-null  object
 4   Type                                 62107 non-null  object
 5   Date                                 62107 non-null  object
 6   Period                               62107 non-null  object
 7   Terms                                62107 non-null  object
 8   Maximum of Due Date/Receive By       50885 non-null  object
 9   Company Name                         62107 non-null  object
 10  Customer VAT Registration Number     62107 non-null  object
 11  Bill to City                         62107 non-null  object
 12  Bill to State                        62107 non-null  object
 13  Bill to Country                      62107 non-null  object
 14  Bill to Zip                          62107 non-null  object
 15  Source System                        62107 non-null  object
 16  Source System Identifier             62107 non-null  object
 17  City                                 62107 non-null  object
 18  State/Province                       62107 non-null  object
 19  Country                              62107 non-null  object
 20  Zip                                  62107 non-null  object
 21  Currency                             62107 non-null  object
 22  Memo (Main)                          62107 non-null  object
 23  Maximum of GMAX Tax Code             24189 non-null  object
 24  Maximum of NetSuite Tax Item         59815 non-null  object
 25  Maximum of Coupa Tax Code            0 non-null      float64
 26  Maximum of External System Tax Code  0 non-null      float64
 27  Maximum of Tax Code (Consolidated)   59815 non-null  object
 28  FOP Type                             62107 non-null  object
 29  Sum of Assets                        60680 non-null  float64
 30  Sum of Accounts Payable              3741 non-null   float64
 31  Sum of Other Liabilities             57066 non-null  float64
 32  Sum of Income                        60290 non-null  float64
 33  Sum of Expense                       300 non-null    float64
 34  Sum of VAT                           56269 non-null  float64
dtypes: float64(8), object(27)
memory usage: 16.6+ MB

In [4]:
#vat['xxx'].fillna(0, inplace=0) if you want to replace null values with 0 for a certain colmn

In [5]:
#vat[vat['Sum of VAT'] == 0] if you want to filter in a column

In [6]:
del1 = vat[vat["External ID"].str.contains("clearing")].index

In [7]:
del1

Int64Index([62066], dtype='int64')

In [8]:
vat.drop(del1, inplace = True)

In [9]:
del2 = vat[vat["External ID"].str.contains("Cross")].index

In [10]:
vat.drop(del2, inplace=True)

In [11]:
#vat.drop(index = 62066, inplace = True) 'you can also remove line like this

In [12]:
vat.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            62098, 62099, 62100, 62101, 62102, 62103, 62104, 62105, 62106,
            62107],
           dtype='int64', length=62097)

In [13]:
62066 in vat.index

False

In [14]:
mask1 = vat[vat["Type"] == "Currency Revaluation"].index

In [15]:
mask1

Int64Index([   32,    33,    53,    54,    55,    56,    57,    58,    59,
               60,
            ...
            60568, 60569, 60570, 60791, 60792, 61477, 61478, 61479, 61480,
            61481],
           dtype='int64', length=145)

In [16]:
vat.drop(mask1, inplace = True)

In [17]:
61481 in vat.index

False

In [18]:
vat.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            62098, 62099, 62100, 62101, 62102, 62103, 62104, 62105, 62106,
            62107],
           dtype='int64', length=61952)

In [19]:
61482 in vat.index

True

In [20]:
#after the rows that have been droped, the old rows have same index number as before, but in essance we have 61952 entries
vat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61952 entries, 0 to 62107
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          61952 non-null  object
 1   Document Number                      61951 non-null  object
 2   Transaction Number                   61951 non-null  object
 3   Maximum of Linked Invoice            61951 non-null  object
 4   Type                                 61951 non-null  object
 5   Date                                 61951 non-null  object
 6   Period                               61951 non-null  object
 7   Terms                                61951 non-null  object
 8   Maximum of Due Date/Receive By       50885 non-null  object
 9   Company Name                         61951 non-null  object
 10  Customer VAT Registration Number     61951 non-null  object
 11  Bill to City                         61951 non-null  object
 12  Bill to State                        61951 non-null  object
 13  Bill to Country                      61951 non-null  object
 14  Bill to Zip                          61951 non-null  object
 15  Source System                        61951 non-null  object
 16  Source System Identifier             61951 non-null  object
 17  City                                 61951 non-null  object
 18  State/Province                       61951 non-null  object
 19  Country                              61951 non-null  object
 20  Zip                                  61951 non-null  object
 21  Currency                             61951 non-null  object
 22  Memo (Main)                          61951 non-null  object
 23  Maximum of GMAX Tax Code             24189 non-null  object
 24  Maximum of NetSuite Tax Item         59815 non-null  object
 25  Maximum of Coupa Tax Code            0 non-null      float64
 26  Maximum of External System Tax Code  0 non-null      float64
 27  Maximum of Tax Code (Consolidated)   59815 non-null  object
 28  FOP Type                             61951 non-null  object
 29  Sum of Assets                        60640 non-null  float64
 30  Sum of Accounts Payable              3695 non-null   float64
 31  Sum of Other Liabilities             57052 non-null  float64
 32  Sum of Income                        60290 non-null  float64
 33  Sum of Expense                       226 non-null    float64
 34  Sum of VAT                           56268 non-null  float64
dtypes: float64(8), object(27)
memory usage: 19.5+ MB

In [21]:
#excel_file = pd.ExcelWriter("Darko VAT.xlsx")

In [22]:
#vat.to_excel(excel_file, sheet_name = "vat", index = False)

In [23]:
#excel_file.save()

In [24]:
vat.loc[61962] #check the row in data frame

External ID                            00383781945-1308025-011-001-PC
Document Number                                          JE-DK0290640
Transaction Number                                      TJE-DK0290640
Maximum of Linked Invoice                   Credit Memo #CM-DK0311116
Type                                                          Journal
Date                                                        3/31/2020
Period                                                         Mar-20
Terms                                                        - None -
Maximum of Due Date/Receive By                                    NaN
Company Name                                                 - None -
Customer VAT Registration Number                             - None -
Bill to City                                                 - None -
Bill to State                                                - None -
Bill to Country                                              - None -
Bill to Zip                                                  - None -
Source System                                                    GMAX
Source System Identifier                  00383781945-1308025-011-001
City                                                     Copenhagen K
State/Province                                               - None -
Country                                                       Denmark
Zip                                                           DK-1366
Currency                                                 Danish Krone
Memo (Main)                                                  - None -
Maximum of GMAX Tax Code                                          NaN
Maximum of NetSuite Tax Item                                      NaN
Maximum of Coupa Tax Code                                         NaN
Maximum of External System Tax Code                               NaN
Maximum of Tax Code (Consolidated)                                NaN
FOP Type                                                     - None -
Sum of Assets                                                       0
Sum of Accounts Payable                                           NaN
Sum of Other Liabilities                                          NaN
Sum of Income                                                     NaN
Sum of Expense                                                    NaN
Sum of VAT                                                        NaN
Name: 61962, dtype: object

In [25]:
vat.tail()

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
62103,GBTICJE-IDENTIFIERH-ID2125817,JE-NL1263844,TJE-NL0153768,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,1109880.72,NaN,NaN,-1109880.72,NaN,NaN
62104,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,NaN,-998892.66,NaN,998892.66,NaN,NaN
62105,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,9523.86,-38095.45,0.00,NaN,38095.45,-9523.86
62106,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,DK-Z,- None -,-75177.78,75177.78,NaN,NaN,NaN,NaN
62107,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1479051.92,-8214988.30,3259283.14,-4922786.79,8399440.03,0.00

In [26]:
vat.drop(index = 62107, inplace = True)

In [27]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
62104,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,NaN,-998892.66,NaN,998892.66,NaN,NaN
62105,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,9523.86,-38095.45,0.0,NaN,38095.45,-9523.86
62106,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,DK-Z,- None -,-75177.78,75177.78,NaN,NaN,NaN,NaN

In [28]:
vat[["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(axis= "rows")

Sum of Assets               2123977.73
Sum of Accounts Payable    -8232149.40
Sum of Other Liabilities    3825323.80
Sum of Income              -4922786.79
Sum of Expense              8382554.08
Sum of VAT                 -1176919.42
dtype: float64

In [29]:
#remember Rows axis means that the values go down the rows, and columns means they go across the columns, 
#in this case sum of assets etc goes down the rows!!!!

In [30]:
vat.iloc[:, -6:].sum()

Sum of Assets               2123977.73
Sum of Accounts Payable    -8232149.40
Sum of Other Liabilities    3825323.80
Sum of Income              -4922786.79
Sum of Expense              8382554.08
Sum of VAT                 -1176919.42
dtype: float64

In [31]:
#Summerize the last row
#vat.loc["Totals"] = pd.Series(vat[["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(), index = ["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"])

In [32]:
vat["VAT rate"] = vat["Sum of VAT"] / (vat["Sum of Other Liabilities"] + vat["Sum of Income"])

In [33]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate
62104,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,- None -,NaN,-998892.66,NaN,998892.66,NaN,NaN,NaN
62105,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,DK-S : DK-ESSP,- None -,9523.86,-38095.45,0.0,NaN,38095.45,-9523.86,NaN
62106,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,DK-Z,- None -,-75177.78,75177.78,NaN,NaN,NaN,NaN,NaN

In [34]:
vat["Liab+Net Inc"] = vat["Sum of Other Liabilities"] + vat["Sum of Income"]

In [35]:
vat.head(100)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc
0,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,- None -,...,NaN,- None -,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,00375911605-1218331-001-001-CM,CM-DK0311064,TCM-DK0311064,,Credit Memo,1/6/2020,Mar-20,- None -,NaN,KREDITKORTSALG VISA,...,DK-Z,CCSE,-15.0,NaN,0.0,15.0,NaN,0.0,0.0,15.0
2,00375911605-1218331-001-001-CI,IN-DK4746992,TIN-DK4746992,,Invoice,1/6/2020,Mar-20,Net 30,2/5/2020,KREDITKORTSALG VISA,...,DK-Z,CCSE,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0
3,565788256-SUMVOID,JE-DK0290724,TJE-DK0290724,Credit Memo #CM-DK0296577,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,NaN,- None -,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,NaN,- None -,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,00382201145-1289081-003-001-CI,IN-DK4695571,TIN-DK4695571,,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,JEPPESEN MAERSK,...,DK-Z,CC,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0
134,00382201146-1289056-001-001-CI,IN-DK4695572,TIN-DK4695572,,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,MARIE MAERSK,...,DK-Z,CC,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0
135,00382201147-0460200-001-001-CI,IN-DK4695573,TIN-DK4695573,,Invoice,3/1/2020,Mar-20,Net 30,3/31/2020,ORSTED WIND POWER A/S,...,DK-Z,AR,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0
136,00382201156-1289059-001-001-CI,IN-DK4695574,TIN-DK4695574,,Invoice,3/1/2020,Mar-20,Net 30,3/31/2020,ORSTED WIND POWER A/S,...,DK-Z,CC,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0
137,00382201161-1289067-001-001-CI,IN-DK4695575,TIN-DK4695575,,Invoice,3/1/2020,Mar-20,Net 30,3/31/2020,ORSTED WIND POWER A/S,...,DK-Z,CC,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0

In [36]:
vat["Correct revenue"] = vat["Sum of VAT"] / 0.25

In [37]:
vat.head(50)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue
0,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,00375911605-1218331-001-001-CM,CM-DK0311064,TCM-DK0311064,,Credit Memo,1/6/2020,Mar-20,- None -,NaN,KREDITKORTSALG VISA,...,CCSE,-15.00,NaN,0.0,15.00,NaN,0.0,0.0,15.0,0.0
2,00375911605-1218331-001-001-CI,IN-DK4746992,TIN-DK4746992,,Invoice,1/6/2020,Mar-20,Net 30,2/5/2020,KREDITKORTSALG VISA,...,CCSE,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
3,565788256-SUMVOID,JE-DK0290724,TJE-DK0290724,Credit Memo #CM-DK0296577,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
4,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
5,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
6,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
7,566326949-SUMVOID,JE-DK0290728,TJE-DK0290728,Credit Memo #CM-DK0296897,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
8,566920577-VOID,JE-DK0290729,TJE-DK0290729,Credit Memo #CM-DK0297253,Journal,1/23/2020,Mar-20,- None -,NaN,- None -,...,- None -,25.00,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.0,0.0
9,567980921-SUMVOID,JE-DK0290730,TJE-DK0290730,Credit Memo #CM-DK0297881,Journal,1/27/2020,Mar-20,- None -,NaN,- None -,...,- None -,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
10,- None -,2470,BL-DK0406898,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,- None -,...,- None -,0.00,-347811.15,NaN,NaN,347811.15,NaN,NaN,NaN,NaN
11,- None -,2471,BL-DK0406899,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,- None -,...,- None -,0.00,-69562.23,NaN,NaN,69562.23,NaN,NaN,NaN,NaN
12,- None -,48644558,BL-DK0403218,,Bill,2/7/2020,Mar-20,Net 45,3/23/2020,- None -,...,- None -,3754.08,-18770.40,NaN,NaN,15016.32,NaN,NaN,NaN,NaN
13,- None -,102581746,BL-DK0406470,,Bill,2/13/2020,Mar-20,NET 8,2/13/2020,- None -,...,- None -,0.00,-3490.00,NaN,NaN,3490.00,NaN,NaN,NaN,NaN
14,00380758981-1272948-001-001-CM,CM-DK0311065,TCM-DK0311065,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,-8.50,NaN,0.0,8.50,NaN,0.0,0.0,8.5,0.0
15,00380758982-1272948-001-001-CM,CM-DK0311066,TCM-DK0311066,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,-8.50,NaN,0.0,8.50,NaN,0.0,0.0,8.5,0.0
16,00380758983-1272948-001-001-CM,CM-DK0311067,TCM-DK0311067,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,-8.50,NaN,0.0,8.50,NaN,0.0,0.0,8.5,0.0
17,00380758984-1272948-001-001-CM,CM-DK0311068,TCM-DK0311068,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,-8.50,NaN,0.0,8.50,NaN,0.0,0.0,8.5,0.0
18,00380758981-1272948-001-001-CI,IN-DK4747002,TIN-DK4747002,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
19,00380758982-1272948-001-001-CI,IN-DK4747003,TIN-DK4747003,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
20,00380758983-1272948-001-001-CI,IN-DK4747004,TIN-DK4747004,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
21,00380758984-1272948-001-001-CI,IN-DK4747005,TIN-DK4747005,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,CCSE,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
22,00381026723-1276288-001-001-CM,CM-DK0311069,TCM-DK0311069,,Credit Memo,2/19/2020,Mar-20,- None -,NaN,DANKORT/CASH PAYMENT,...,AR,-33.00,NaN,0.0,33.00,NaN,0.0,0.0,33.0,0.0
23,00381026723-1276288-001-001-CI,IN-DK4747006,TIN-DK4747006,,Invoice,2/19/2020,Mar-20,Net 30,2/24/2020,DANKORT/CASH PAYMENT,...,AR,0.00,NaN,0.0,0.00,NaN,0.0,NaN,0.0,0.0
24,- None -,137052,BL-DK0406450,,Bill,2/20/2020,Mar-20,Due on receipt,2/20/2020,- None -,...,- None -,281.20,-1406.00,NaN,NaN,1124.80,NaN,NaN,NaN,NaN
25,- None -,137650,BL-DK0407224,,Bill,2/25/2020,Mar-20,Net 14,3/10/2020,- None -,...,- None -,386.80,-1934.00,NaN,NaN,1547.20,NaN,NaN,NaN,NaN
26,576794920-VOID,CM-DK0311137,TCM-DK0311137,Invoice #IN-DK4689682,Credit Memo,2/25/2020,Mar-20,- None -,NaN,MSM REPAIRTEAM,...,CCSE,-284.00,NaN,0.0,284.00,NaN,0.0,0.0,284.0,0.0
27,- None -,23836,BL-DK0407341,,Bill,2/28/2020,Mar-20,NET 8,2/28/2020,- None -,...,- None -,654.25,-3271.25,NaN,NaN,2617.00,NaN,NaN,NaN,NaN
28,- None -,110916450,BL-DK0406305,,Bill,2/29/2020,Mar-20,Net 30,3/30/2020,- None -,...,- None -,57.25,-286.25,NaN,NaN,229.00,NaN,NaN,NaN,NaN
29,- None -,1150272,BL-DK0406903,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,- None -,...,- None -,400.00,-2000.00,NaN,1600.00,NaN,NaN,NaN,NaN,NaN
30,- None -,12286,BL-DK0407128,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,- None -,...,- None -,0.00,-22832.98,NaN,NaN,22832.98,NaN,NaN,NaN,NaN
31,- None -,139071,BL-DK0406451,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,- None -,...,- None -,714.08,-3570.38,NaN,NaN,2856.30,NaN,NaN,NaN,NaN
34,- None -,25681,BL-DK0406447,,Bill,2/29/2020,Mar-20,Net 10,3/10/2020,- None -,...,- None -,765.85,-3829.25,NaN,NaN,3063.40,NaN,NaN,NaN,NaN
35,- None -,495765,BL-DK0407340,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,- None -,...,- None -,0.00,-38584.14,NaN,NaN,38584.14,NaN,NaN,NaN,NaN
36,- None -,495766,BL-DK0406900,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,- None -,...,- None -,0.00,-94511.92,NaN,NaN,94511.92,NaN,NaN,NaN,NaN
37,- None -,495767,BL-DK0406901,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,- None -,...,- None -,0.00,-11326.98,NaN,NaN,11326.98,NaN,NaN,NaN,NaN
38,- None -,495768,BL-DK0406902,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,- None -,...,- None -,0.00,-1767.39,NaN,NaN,1767.39,NaN,NaN,NaN,NaN
39,- None -,53169,BL-DK0406283,,Bill,2/29/2020,Mar-20,Net 20,3/20/2020,- None -,...,- None -,7184.88,-35924.38,NaN,NaN,28739.50,NaN,NaN,NaN,NaN
40,- None -,CPH1814449,BL-DK0406449,,Bill,2/29/2020,Mar-20,Net 15,3/15/2020,- None -,...,- None -,154.81,-774.06,NaN,NaN,619.25,NaN,NaN,NaN,NaN
41,00380287939-1289112-010-001-VB,00380287939-1289112-010-001,BL-DK0406275,Invoice #IN-DK4695663,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-1010.00,NaN,1010.00,NaN,NaN,NaN,NaN,NaN
42,00381646059-1289089-012-001-VB,00381646059-1289089-012-001,BL-DK0406276,Invoice #IN-DK4695673,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-386.80,NaN,386.80,NaN,NaN,NaN,NaN,NaN
43,00382201135-1289060-001-001-VB,00382201135-1289060-001-001,BL-DK0406273,Invoice #IN-DK4695564,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-1853.00,NaN,1853.00,NaN,NaN,NaN,NaN,NaN
44,00382201145-1289102-005-001-VB,00382201145-1289102-005-001,BL-DK0406278,Invoice #IN-DK4695768,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-823.29,NaN,823.29,NaN,NaN,NaN,NaN,NaN
45,00382201196-1289076-001-001-VB,00382201196-1289076-001-001,BL-DK0406274,Invoice #IN-DK4695591,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-2503.00,NaN,2503.00,NaN,NaN,NaN,NaN,NaN
46,00382201565-1289083-001-001-VC,00382201565-1289083-001-001,BC-DK0125150,Invoice #IN-DK4695601,Bill Credit,3/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,0.00,19.29,NaN,-19.29,NaN,NaN,NaN,NaN,NaN
47,00382201739-1289090-004-001-VC,00382201739-1289090-004-001,BC-DK0125152,Invoice #IN-DK4695750,Bill Credit,3/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,0.00,30.98,NaN,-30.98,NaN,NaN,NaN,NaN,NaN
48,00382202937-1289098-001-001-VC,00382202937-1289098-001-001,BC-DK0125151,Invoice #IN-DK4695760,Bill Credit,3/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,0.00,166.06,NaN,-166.06,NaN,NaN,NaN,NaN,NaN
49,00382203495-1289101-001-001-VB,00382203495-1289101-001-001,BL-DK0406277,Invoice #IN-DK4695763,Bill,3/1/2020,Mar-20,- None -,3/1/2020,- None -,...,- None -,0.00,-3253.00,NaN,3253.00,NaN,NaN,NaN,NaN,NaN
50,00382205407-1289141-001-001-VC,00382205407-1289141-001-001,BC-DK0125153,Invoice #IN-DK4695902,Bill Credit,3/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,0.00,294.00,NaN,-294.00,NaN,NaN,NaN,NaN,NaN
51,00382205864-1289155-001-001-VC,00382205864-1289155-001-001,BC-DK0125154,Invoice #IN-DK4695946,Bill Credit,3/1/2020,Mar-20,- None -,NaN,- None -,...,- None -,0.00,114.97,NaN,-114.97,NaN,NaN,NaN,NaN,NaN

In [38]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [39]:
def vat_amount(row):

    vat_yes = row[34]

    if vat_yes > 0:
        return "VAT"
    elif vat_yes < 0 :
        return "VAT"
    else:
        return "Transactions 0DKK"
    
vat["Comment"] = vat.apply(vat_amount, axis= "columns")

In [40]:
#pd.options.display.max_rows = 4000
vat.head(20)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment
0,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
1,00375911605-1218331-001-001-CM,CM-DK0311064,TCM-DK0311064,,Credit Memo,1/6/2020,Mar-20,- None -,NaN,KREDITKORTSALG VISA,...,-15.00,NaN,0.0,15.0,NaN,0.0,0.0,15.0,0.0,Transactions 0DKK
2,00375911605-1218331-001-001-CI,IN-DK4746992,TIN-DK4746992,,Invoice,1/6/2020,Mar-20,Net 30,2/5/2020,KREDITKORTSALG VISA,...,0.00,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,Transactions 0DKK
3,565788256-SUMVOID,JE-DK0290724,TJE-DK0290724,Credit Memo #CM-DK0296577,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
4,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
5,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
6,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
7,566326949-SUMVOID,JE-DK0290728,TJE-DK0290728,Credit Memo #CM-DK0296897,Journal,1/22/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
8,566920577-VOID,JE-DK0290729,TJE-DK0290729,Credit Memo #CM-DK0297253,Journal,1/23/2020,Mar-20,- None -,NaN,- None -,...,25.00,NaN,0.0,-25.0,NaN,0.0,-0.0,-25.0,0.0,Transactions 0DKK
9,567980921-SUMVOID,JE-DK0290730,TJE-DK0290730,Credit Memo #CM-DK0297881,Journal,1/27/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK
10,- None -,2470,BL-DK0406898,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,- None -,...,0.00,-347811.15,NaN,NaN,347811.15,NaN,NaN,NaN,NaN,Transactions 0DKK
11,- None -,2471,BL-DK0406899,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,- None -,...,0.00,-69562.23,NaN,NaN,69562.23,NaN,NaN,NaN,NaN,Transactions 0DKK
12,- None -,48644558,BL-DK0403218,,Bill,2/7/2020,Mar-20,Net 45,3/23/2020,- None -,...,3754.08,-18770.40,NaN,NaN,15016.32,NaN,NaN,NaN,NaN,Transactions 0DKK
13,- None -,102581746,BL-DK0406470,,Bill,2/13/2020,Mar-20,NET 8,2/13/2020,- None -,...,0.00,-3490.00,NaN,NaN,3490.00,NaN,NaN,NaN,NaN,Transactions 0DKK
14,00380758981-1272948-001-001-CM,CM-DK0311065,TCM-DK0311065,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,-8.50,NaN,0.0,8.5,NaN,0.0,0.0,8.5,0.0,Transactions 0DKK
15,00380758982-1272948-001-001-CM,CM-DK0311066,TCM-DK0311066,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,-8.50,NaN,0.0,8.5,NaN,0.0,0.0,8.5,0.0,Transactions 0DKK
16,00380758983-1272948-001-001-CM,CM-DK0311067,TCM-DK0311067,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,-8.50,NaN,0.0,8.5,NaN,0.0,0.0,8.5,0.0,Transactions 0DKK
17,00380758984-1272948-001-001-CM,CM-DK0311068,TCM-DK0311068,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,AMEX EMPLOYEE TRAVEL DENMARK,...,-8.50,NaN,0.0,8.5,NaN,0.0,0.0,8.5,0.0,Transactions 0DKK
18,00380758981-1272948-001-001-CI,IN-DK4747002,TIN-DK4747002,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,0.00,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,Transactions 0DKK
19,00380758982-1272948-001-001-CI,IN-DK4747003,TIN-DK4747003,,Invoice,2/17/2020,Mar-20,- None -,3/18/2020,AMEX EMPLOYEE TRAVEL DENMARK,...,0.00,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,Transactions 0DKK

In [41]:
def applyFunc(s):
    if s == "VAT":
        return "Domestic 25%"
    

vat["Transaction type"] = vat["Comment"].apply(applyFunc)

In [42]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [43]:
vat.tail(5)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
62102,GBTICJE-IDENTIFIERB-ID2124824,JE-NL1263552,TJE-NL0153476,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,-3202.67,0.0,NaN,3202.67,-800.67,NaN,NaN,-3202.68,VAT,Domestic 25%
62103,GBTICJE-IDENTIFIERH-ID2125817,JE-NL1263844,TJE-NL0153768,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,NaN,NaN,-1109880.72,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62104,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,-998892.66,NaN,998892.66,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62105,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,- None -,...,-38095.45,0.0,NaN,38095.45,-9523.86,NaN,NaN,-38095.44,VAT,Domestic 25%
62106,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,- None -,...,75177.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None

In [44]:
import numpy as np

In [45]:
#mask3 = vat['External ID'].str.match("GBTICJE")
#vat['Comment'] = np.where(vat['External ID'] == 'GBTICJE','pp',vat['Comment'] )
#vat.iloc[4:]

In [46]:
vat['External ID'].str.match("GBTICJE")

0        False
1        False
2        False
3        False
4        False
         ...
62102     True
62103     True
62104     True
62105     True
62106    False
Name: External ID, Length: 61951, dtype: bool

In [47]:
62103 in vat.index

True

In [48]:
vat.insert(0, column = "External name", value = vat['External ID'].str.extract('([A-Z]\w{0,})', expand=True))

In [49]:
#store = vat['Sum of VAT'].notnull()
#store1 = vat['Comment'] == "VAT"
#vat[store & store1]
#vat['Comment'] = np.where(vat['External name'] == 'GBTICJE','Reverse charge + IC',vat['Comment'] )
#vat.iloc[4:]
#vat[vat["Comment"] == "Reverse charge + IC"]

In [50]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) & You can use the above mentioned condition with AND when same column because they !=
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == "VAT") &
        (vat['External name'] == 'GBTICJE'), "Comment"] = 'Reverse charge booked automatically in Netsuite'
vat[vat["Comment"] == "Reverse charge booked automatically in Netsuite"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
51723,GBTICJE,GBTICJE-IDENTIFIERH-ID2101879,JE-NL1260926,TJE-NL0150850,,Journal,3/18/2020,Mar-20,- None -,NaN,...,NaN,0.0,NaN,NaN,-609.49,NaN,NaN,-2437.96,Reverse charge booked automatically in Netsuite,Domestic 25%
62027,GBTICJE,GBTICJE-IDENTIFIERG-ID2119781,JE-DK0290746,TJE-DK0290746,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-8619.50,0.0,NaN,8619.50,-2154.88,NaN,NaN,-8619.52,Reverse charge booked automatically in Netsuite,Domestic 25%
62083,GBTICJE,GBTICJE-IDENTIFIERB-ID2114379,JE-NL1262268,TJE-NL0152192,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-11260.92,0.0,NaN,11260.92,-2815.23,NaN,NaN,-11260.92,Reverse charge booked automatically in Netsuite,Domestic 25%
62084,GBTICJE,GBTICJE-IDENTIFIERB-ID2114381,JE-NL1262269,TJE-NL0152193,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-13570.36,0.0,NaN,13570.36,-3392.59,NaN,NaN,-13570.36,Reverse charge booked automatically in Netsuite,Domestic 25%
62085,GBTICJE,GBTICJE-IDENTIFIERB-ID2114445,JE-NL1262327,TJE-NL0152251,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-788.28,0.0,NaN,788.28,-197.07,NaN,NaN,-788.28,Reverse charge booked automatically in Netsuite,Domestic 25%
62086,GBTICJE,GBTICJE-IDENTIFIERB-ID2114446,JE-NL1262329,TJE-NL0152253,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-949.93,0.0,NaN,949.93,-237.48,NaN,NaN,-949.92,Reverse charge booked automatically in Netsuite,Domestic 25%
62088,GBTICJE,GBTICJE-IDENTIFIERB-ID2115281,JE-NL1262465,TJE-NL0152390,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-19119.23,0.0,NaN,19119.23,-4779.81,NaN,NaN,-19119.24,Reverse charge booked automatically in Netsuite,Domestic 25%
62089,GBTICJE,GBTICJE-IDENTIFIERB-ID2115278,JE-NL1262468,TJE-NL0152392,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-19119.23,0.0,NaN,19119.23,-4779.81,NaN,NaN,-19119.24,Reverse charge booked automatically in Netsuite,Domestic 25%
62090,GBTICJE,GBTICJE-IDENTIFIERB-ID2115283,JE-NL1262474,TJE-NL0152398,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-18815.95,0.0,NaN,18815.95,-4703.99,NaN,NaN,-18815.96,Reverse charge booked automatically in Netsuite,Domestic 25%
62091,GBTICJE,GBTICJE-IDENTIFIERB-ID2115392,JE-NL1262490,TJE-NL0152414,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-17193.08,0.0,NaN,17193.08,-4298.27,NaN,NaN,-17193.08,Reverse charge booked automatically in Netsuite,Domestic 25%
62092,GBTICJE,GBTICJE-IDENTIFIERB-ID2115393,JE-NL1262494,TJE-NL0152418,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-68571.34,0.0,NaN,68571.34,-17142.84,NaN,NaN,-68571.36,Reverse charge booked automatically in Netsuite,Domestic 25%
62095,GBTICJE,GBTICJE-IDENTIFIERB-ID2116287,JE-NL1262595,TJE-NL0152519,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-6667.20,0.0,NaN,6667.20,-1666.80,NaN,NaN,-6667.20,Reverse charge booked automatically in Netsuite,Domestic 25%
62098,GBTICJE,GBTICJE-IDENTIFIERB-ID2124779,JE-NL1263508,TJE-NL0153432,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-4399.38,0.0,NaN,4399.38,-1099.85,NaN,NaN,-4399.40,Reverse charge booked automatically in Netsuite,Domestic 25%
62099,GBTICJE,GBTICJE-IDENTIFIERB-ID2124793,JE-NL1263520,TJE-NL0153444,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-660.04,0.0,NaN,660.04,-165.01,NaN,NaN,-660.04,Reverse charge booked automatically in Netsuite,Domestic 25%
62100,GBTICJE,GBTICJE-IDENTIFIERB-ID2124822,JE-NL1263550,TJE-NL0153474,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-39239.06,0.0,NaN,39239.06,-9809.77,NaN,NaN,-39239.08,Reverse charge booked automatically in Netsuite,Domestic 25%
62101,GBTICJE,GBTICJE-IDENTIFIERB-ID2124823,JE-NL1263551,TJE-NL0153475,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-14405.59,0.0,NaN,14405.59,-3601.40,NaN,NaN,-14405.60,Reverse charge booked automatically in Netsuite,Domestic 25%
62102,GBTICJE,GBTICJE-IDENTIFIERB-ID2124824,JE-NL1263552,TJE-NL0153476,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-3202.67,0.0,NaN,3202.67,-800.67,NaN,NaN,-3202.68,Reverse charge booked automatically in Netsuite,Domestic 25%
62105,GBTICJE,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-38095.45,0.0,NaN,38095.45,-9523.86,NaN,NaN,-38095.44,Reverse charge booked automatically in Netsuite,Domestic 25%

In [51]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) &
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == 'Reverse charge booked automatically in Netsuite') &
        (vat['External name'] == 'GBTICJE'), "Transaction type"] = 'Reverse charge'
vat[vat["Comment"] == "Reverse charge booked automatically in Netsuite"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
51723,GBTICJE,GBTICJE-IDENTIFIERH-ID2101879,JE-NL1260926,TJE-NL0150850,,Journal,3/18/2020,Mar-20,- None -,NaN,...,NaN,0.0,NaN,NaN,-609.49,NaN,NaN,-2437.96,Reverse charge booked automatically in Netsuite,Reverse charge
62027,GBTICJE,GBTICJE-IDENTIFIERG-ID2119781,JE-DK0290746,TJE-DK0290746,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-8619.50,0.0,NaN,8619.50,-2154.88,NaN,NaN,-8619.52,Reverse charge booked automatically in Netsuite,Reverse charge
62083,GBTICJE,GBTICJE-IDENTIFIERB-ID2114379,JE-NL1262268,TJE-NL0152192,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-11260.92,0.0,NaN,11260.92,-2815.23,NaN,NaN,-11260.92,Reverse charge booked automatically in Netsuite,Reverse charge
62084,GBTICJE,GBTICJE-IDENTIFIERB-ID2114381,JE-NL1262269,TJE-NL0152193,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-13570.36,0.0,NaN,13570.36,-3392.59,NaN,NaN,-13570.36,Reverse charge booked automatically in Netsuite,Reverse charge
62085,GBTICJE,GBTICJE-IDENTIFIERB-ID2114445,JE-NL1262327,TJE-NL0152251,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-788.28,0.0,NaN,788.28,-197.07,NaN,NaN,-788.28,Reverse charge booked automatically in Netsuite,Reverse charge
62086,GBTICJE,GBTICJE-IDENTIFIERB-ID2114446,JE-NL1262329,TJE-NL0152253,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-949.93,0.0,NaN,949.93,-237.48,NaN,NaN,-949.92,Reverse charge booked automatically in Netsuite,Reverse charge
62088,GBTICJE,GBTICJE-IDENTIFIERB-ID2115281,JE-NL1262465,TJE-NL0152390,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-19119.23,0.0,NaN,19119.23,-4779.81,NaN,NaN,-19119.24,Reverse charge booked automatically in Netsuite,Reverse charge
62089,GBTICJE,GBTICJE-IDENTIFIERB-ID2115278,JE-NL1262468,TJE-NL0152392,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-19119.23,0.0,NaN,19119.23,-4779.81,NaN,NaN,-19119.24,Reverse charge booked automatically in Netsuite,Reverse charge
62090,GBTICJE,GBTICJE-IDENTIFIERB-ID2115283,JE-NL1262474,TJE-NL0152398,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-18815.95,0.0,NaN,18815.95,-4703.99,NaN,NaN,-18815.96,Reverse charge booked automatically in Netsuite,Reverse charge
62091,GBTICJE,GBTICJE-IDENTIFIERB-ID2115392,JE-NL1262490,TJE-NL0152414,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-17193.08,0.0,NaN,17193.08,-4298.27,NaN,NaN,-17193.08,Reverse charge booked automatically in Netsuite,Reverse charge
62092,GBTICJE,GBTICJE-IDENTIFIERB-ID2115393,JE-NL1262494,TJE-NL0152418,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-68571.34,0.0,NaN,68571.34,-17142.84,NaN,NaN,-68571.36,Reverse charge booked automatically in Netsuite,Reverse charge
62095,GBTICJE,GBTICJE-IDENTIFIERB-ID2116287,JE-NL1262595,TJE-NL0152519,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-6667.20,0.0,NaN,6667.20,-1666.80,NaN,NaN,-6667.20,Reverse charge booked automatically in Netsuite,Reverse charge
62098,GBTICJE,GBTICJE-IDENTIFIERB-ID2124779,JE-NL1263508,TJE-NL0153432,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-4399.38,0.0,NaN,4399.38,-1099.85,NaN,NaN,-4399.40,Reverse charge booked automatically in Netsuite,Reverse charge
62099,GBTICJE,GBTICJE-IDENTIFIERB-ID2124793,JE-NL1263520,TJE-NL0153444,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-660.04,0.0,NaN,660.04,-165.01,NaN,NaN,-660.04,Reverse charge booked automatically in Netsuite,Reverse charge
62100,GBTICJE,GBTICJE-IDENTIFIERB-ID2124822,JE-NL1263550,TJE-NL0153474,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-39239.06,0.0,NaN,39239.06,-9809.77,NaN,NaN,-39239.08,Reverse charge booked automatically in Netsuite,Reverse charge
62101,GBTICJE,GBTICJE-IDENTIFIERB-ID2124823,JE-NL1263551,TJE-NL0153475,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-14405.59,0.0,NaN,14405.59,-3601.40,NaN,NaN,-14405.60,Reverse charge booked automatically in Netsuite,Reverse charge
62102,GBTICJE,GBTICJE-IDENTIFIERB-ID2124824,JE-NL1263552,TJE-NL0153476,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-3202.67,0.0,NaN,3202.67,-800.67,NaN,NaN,-3202.68,Reverse charge booked automatically in Netsuite,Reverse charge
62105,GBTICJE,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-38095.45,0.0,NaN,38095.45,-9523.86,NaN,NaN,-38095.44,Reverse charge booked automatically in Netsuite,Reverse charge

In [52]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) &
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == "VAT") &
        (vat['Source System'] == 'Hotel Comm'), "Comment"] = 'Hotel Commission'
vat[vat["Comment"] == "Hotel Commission"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
15802,None,- None -,JE-DK0288671,TJE-DK0288671,,Journal,3/4/2020,Mar-20,- None -,NaN,...,NaN,0.0,-21362.81,NaN,-1455.27,0.068122,-21362.81,-5821.08,Hotel Commission,Domestic 25%
35190,None,- None -,JE-DK0289287,TJE-DK0289287,,Journal,3/11/2020,Mar-20,- None -,NaN,...,NaN,0.0,-44430.58,NaN,-2343.46,0.052744,-44430.58,-9373.84,Hotel Commission,Domestic 25%
51644,None,- None -,JE-DK0289931,TJE-DK0289931,,Journal,3/18/2020,Mar-20,- None -,NaN,...,NaN,0.0,-71528.06,NaN,-2806.37,0.039235,-71528.06,-11225.48,Hotel Commission,Domestic 25%
58761,None,- None -,JE-DK0290308,TJE-DK0290308,,Journal,3/25/2020,Mar-20,- None -,NaN,...,NaN,0.0,-198701.96,NaN,-13799.59,0.069449,-198701.96,-55198.36,Hotel Commission,Domestic 25%

In [53]:
vat.iloc[4:]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
4,SUMVOID,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
5,SUMVOID,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
6,SUMVOID,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
7,SUMVOID,566326949-SUMVOID,JE-DK0290728,TJE-DK0290728,Credit Memo #CM-DK0296897,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
8,VOID,566920577-VOID,JE-DK0290729,TJE-DK0290729,Credit Memo #CM-DK0297253,Journal,1/23/2020,Mar-20,- None -,NaN,...,NaN,0.0,-25.00,NaN,0.00,-0.0,-25.0,0.00,Transactions 0DKK,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62102,GBTICJE,GBTICJE-IDENTIFIERB-ID2124824,JE-NL1263552,TJE-NL0153476,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-3202.67,0.0,NaN,3202.67,-800.67,NaN,NaN,-3202.68,Reverse charge booked automatically in Netsuite,Reverse charge
62103,GBTICJE,GBTICJE-IDENTIFIERH-ID2125817,JE-NL1263844,TJE-NL0153768,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,-1109880.72,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62104,GBTICJE,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-998892.66,NaN,998892.66,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62105,GBTICJE,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-38095.45,0.0,NaN,38095.45,-9523.86,NaN,NaN,-38095.44,Reverse charge booked automatically in Netsuite,Reverse charge
62106,None,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,...,75177.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None

In [54]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Sum of VAT'].isnull()) &
        #(vat['Sum of VAT'] == 0) & you cannot use AND for 0 and null values in same column when you both condition are equal to
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Source System'] == 'Procurement'), "Comment"] = 'Procurement inv'
vat[vat["Comment"] == "Procurement inv"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
10,None,- None -,2470,BL-DK0406898,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,...,-347811.15,NaN,NaN,347811.15,NaN,NaN,NaN,NaN,Procurement inv,None
11,None,- None -,2471,BL-DK0406899,,Bill,2/6/2020,Mar-20,NET 8,2/6/2020,...,-69562.23,NaN,NaN,69562.23,NaN,NaN,NaN,NaN,Procurement inv,None
12,None,- None -,48644558,BL-DK0403218,,Bill,2/7/2020,Mar-20,Net 45,3/23/2020,...,-18770.40,NaN,NaN,15016.32,NaN,NaN,NaN,NaN,Procurement inv,None
13,None,- None -,102581746,BL-DK0406470,,Bill,2/13/2020,Mar-20,NET 8,2/13/2020,...,-3490.00,NaN,NaN,3490.00,NaN,NaN,NaN,NaN,Procurement inv,None
24,None,- None -,137052,BL-DK0406450,,Bill,2/20/2020,Mar-20,Due on receipt,2/20/2020,...,-1406.00,NaN,NaN,1124.80,NaN,NaN,NaN,NaN,Procurement inv,None
25,None,- None -,137650,BL-DK0407224,,Bill,2/25/2020,Mar-20,Net 14,3/10/2020,...,-1934.00,NaN,NaN,1547.20,NaN,NaN,NaN,NaN,Procurement inv,None
27,None,- None -,23836,BL-DK0407341,,Bill,2/28/2020,Mar-20,NET 8,2/28/2020,...,-3271.25,NaN,NaN,2617.00,NaN,NaN,NaN,NaN,Procurement inv,None
28,None,- None -,110916450,BL-DK0406305,,Bill,2/29/2020,Mar-20,Net 30,3/30/2020,...,-286.25,NaN,NaN,229.00,NaN,NaN,NaN,NaN,Procurement inv,None
29,None,- None -,1150272,BL-DK0406903,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,...,-2000.00,NaN,1600.0,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
30,None,- None -,12286,BL-DK0407128,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,...,-22832.98,NaN,NaN,22832.98,NaN,NaN,NaN,NaN,Procurement inv,None
31,None,- None -,139071,BL-DK0406451,,Bill,2/29/2020,Mar-20,Net 60,4/29/2020,...,-3570.38,NaN,NaN,2856.30,NaN,NaN,NaN,NaN,Procurement inv,None
34,None,- None -,25681,BL-DK0406447,,Bill,2/29/2020,Mar-20,Net 10,3/10/2020,...,-3829.25,NaN,NaN,3063.40,NaN,NaN,NaN,NaN,Procurement inv,None
35,None,- None -,495765,BL-DK0407340,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,...,-38584.14,NaN,NaN,38584.14,NaN,NaN,NaN,NaN,Procurement inv,None
36,None,- None -,495766,BL-DK0406900,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,...,-94511.92,NaN,NaN,94511.92,NaN,NaN,NaN,NaN,Procurement inv,None
37,None,- None -,495767,BL-DK0406901,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,...,-11326.98,NaN,NaN,11326.98,NaN,NaN,NaN,NaN,Procurement inv,None
38,None,- None -,495768,BL-DK0406902,,Bill,2/29/2020,Mar-20,Due on receipt,2/29/2020,...,-1767.39,NaN,NaN,1767.39,NaN,NaN,NaN,NaN,Procurement inv,None
39,None,- None -,53169,BL-DK0406283,,Bill,2/29/2020,Mar-20,Net 20,3/20/2020,...,-35924.38,NaN,NaN,28739.50,NaN,NaN,NaN,NaN,Procurement inv,None
40,None,- None -,CPH1814449,BL-DK0406449,,Bill,2/29/2020,Mar-20,Net 15,3/15/2020,...,-774.06,NaN,NaN,619.25,NaN,NaN,NaN,NaN,Procurement inv,None
52,None,- None -,808277,BL-DK0406448,,Bill,3/1/2020,Mar-20,Net 10,3/11/2020,...,-2692.93,NaN,NaN,2154.34,NaN,NaN,NaN,NaN,Procurement inv,None
763,None,- None -,4524,BL-DK0406309,,Bill,3/2/2020,Mar-20,Net 30,4/1/2020,...,-16209.42,NaN,NaN,16209.42,NaN,NaN,NaN,NaN,Procurement inv,None
5712,None,- None -,3260056,BL-DK0408947,,Bill,3/3/2020,Mar-20,Net 30,4/2/2020,...,-58480.54,NaN,NaN,58480.54,NaN,NaN,NaN,NaN,Procurement inv,None
5718,None,- None -,5001838564,BL-DK0407332,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-13565.36,NaN,NaN,10872.29,NaN,NaN,NaN,NaN,Procurement inv,None
10887,None,- None -,2474,BL-DK0406769,,Bill,3/4/2020,Mar-20,NET 8,3/4/2020,...,-342901.55,NaN,NaN,342901.55,NaN,NaN,NaN,NaN,Procurement inv,None
10888,None,- None -,2475,BL-DK0406770,,Bill,3/4/2020,Mar-20,NET 8,3/4/2020,...,-68580.31,NaN,NaN,68580.31,NaN,NaN,NaN,NaN,Procurement inv,None
10915,None,- None -,653,BL-DK0406850,,Bill,3/4/2020,Mar-20,Net 15,3/19/2020,...,-4385.75,NaN,NaN,3508.60,NaN,NaN,NaN,NaN,Procurement inv,None
16022,None,- None -,2064752,BL-DK0406974,,Bill,3/5/2020,Mar-20,Due on receipt,3/5/2020,...,-18850.00,NaN,NaN,15080.00,NaN,NaN,NaN,NaN,Procurement inv,None
16052,None,- None -,655,BL-DK0406973,,Bill,3/5/2020,Mar-20,Net 15,3/20/2020,...,-6718.75,NaN,NaN,5375.00,NaN,NaN,NaN,NaN,Procurement inv,None
19623,None,- None -,20148,BL-DK0407472,,Bill,3/6/2020,Mar-20,Net 30,4/5/2020,...,-10753.00,NaN,NaN,8602.59,NaN,NaN,NaN,NaN,Procurement inv,None
19639,None,- None -,48644774,BL-DK0407139,,Bill,3/6/2020,Mar-20,Net 45,4/20/2020,...,-18770.40,NaN,NaN,15016.32,NaN,NaN,NaN,NaN,Procurement inv,None
19643,None,- None -,800583,BL-DK0407578,,Bill,3/6/2020,Mar-20,Due on receipt,3/6/2020,...,-699.00,NaN,NaN,699.00,NaN,NaN,NaN,NaN,Procurement inv,None
24935,None,- None -,8.60009E+11,BL-DK0407357,,Bill,3/9/2020,Mar-20,Net 15,3/24/2020,...,-106.43,NaN,NaN,106.43,NaN,NaN,NaN,NaN,Procurement inv,None
24936,None,- None -,8.70017E+11,BL-DK0407356,,Bill,3/9/2020,Mar-20,Net 15,3/24/2020,...,-109.91,NaN,NaN,109.91,NaN,NaN,NaN,NaN,Procurement inv,None
29005,None,- None -,507715534,BL-DK0407449,,Bill,3/10/2020,Mar-20,Net 15,3/25/2020,...,-3709.24,NaN,NaN,2967.39,NaN,NaN,NaN,NaN,Procurement inv,None
29006,None,- None -,535126303,BL-DK0407448,,Bill,3/10/2020,Mar-20,Net 15,3/25/2020,...,-5487.94,NaN,NaN,4390.35,NaN,NaN,NaN,NaN,Procurement inv,None
29234,None,- None -,CPH1817002,BL-DK0407459,,Bill,3/10/2020,Mar-20,Net 15,3/25/2020,...,-2723.14,NaN,NaN,2178.51,NaN,NaN,NaN,NaN,Procurement inv,None
32017,None,- None -,6344429,BL-DK0407557,,Bill,3/11/2020,Mar-20,Net 15,3/26/2020,...,-2309.00,NaN,NaN,1847.20,NaN,NaN,NaN,NaN,Procurement inv,None
35588,None,- None -,1400954250,BL-DK0407497,,Bill,3/12/2020,Mar-20,Net 30,4/11/2020,...,-1089.86,NaN,NaN,871.89,NaN,NaN,NaN,NaN,Procurement inv,None
39437,None,- None -,190,BL-DK0407589,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-839304.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39438,None,- None -,193,BL-DK0407594,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-5651.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39439,None,- None -,194,BL-DK0407590,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-10973.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39440,None,- None -,195,BL-DK0407591,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-6299.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39441,None,- None -,197,BL-DK0407593,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-5995.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39442,None,- None -,198,BL-DK0407597,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-5821.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39443,None,- None -,199,BL-DK0407595,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-6187.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39444,None,- None -,200,BL-DK0407596,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-7500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39445,None,- None -,203,BL-DK0407592,,Bill,3/13/2020,Mar-20,Due on receipt,3/13/2020,...,-5995.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
39456,None,- None -,301007085,BL-DK0408930,,Bill,3/13/2020,Mar-20,Net 14,3/27/2020,...,-47476.25,NaN,NaN,37981.00,NaN,NaN,NaN,NaN,Procurement inv,None
43463,None,- None -,25742,BL-DK0407875,,Bill,3/15/2020,Mar-20,Net 10,3/25/2020,...,-1278.63,NaN,NaN,1022.90,NaN,NaN,NaN,NaN,Procurement inv,None
44479,None,- None -,CPH1818854,BL-DK0407876,,Bill,3/16/2020,Mar-20,Net 15,3/31/2020,...,-1497.91,NaN,NaN,1290.22,NaN,NaN,NaN,NaN,Procurement inv,None
49450,None,- None -,3882347887,BL-DK0408351,,Bill,3/18/2020,Mar-20,Net 45,5/2/2020,...,-7936.17,NaN,NaN,7936.17,NaN,NaN,NaN,NaN,Procurement inv,None
49451,None,- None -,4312386,BL-DK0408539,,Bill,3/18/2020,Mar-20,Net 14,4/1/2020,...,-28544.61,NaN,NaN,22835.69,NaN,NaN,NaN,NaN,Procurement inv,None
49452,None,- None -,4312387,BL-DK0408540,,Bill,3/18/2020,Mar-20,Net 14,4/1/2020,...,-2882.10,NaN,NaN,2882.10,NaN,NaN,NaN,NaN,Procurement inv,None
49453,None,- None -,4312388,BL-DK0408541,,Bill,3/18/2020,Mar-20,Net 14,4/1/2020,...,-27835.06,NaN,NaN,22268.05,NaN,NaN,NaN,NaN,Procurement inv,None
49454,None,- None -,4312389,BL-DK0408542,,Bill,3/18/2020,Mar-20,Net 14,4/1/2020,...,-2591.30,NaN,NaN,2591.30,NaN,NaN,NaN,NaN,Procurement inv,None
56679,None,- None -,CPH1820666,BL-DK0408791,,Bill,3/23/2020,Mar-20,Net 15,4/7/2020,...,-282.43,NaN,NaN,225.94,NaN,NaN,NaN,NaN,Procurement inv,None

In [55]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Sum of VAT'] == 0.00) &
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Source System'] == 'NEO'), "Comment"] = 'Neo Travel Expense no vat'
vat[vat["Comment"] == "Neo Travel Expense no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
764,KDS_Exp_VB_5046988,KDS_Exp_VB_5046988.2020-03-02-1,5046988.2020-03-02-1,BL-DK0406433,,Bill,3/2/2020,Mar-20,Due on receipt,3/2/2020,...,-30724.34,30724.34,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
766,KDS_Exp_VB_6247332,KDS_Exp_VB_6247332.2020-03-02-1,6247332.2020-03-02-1,BL-DK0406434,,Bill,3/2/2020,Mar-20,Due on receipt,3/2/2020,...,-4981.41,4981.41,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
767,KDS_Exp_VB_8008094,KDS_Exp_VB_8008094.2020-03-02-1,8008094.2020-03-02-1,BL-DK0406435,,Bill,3/2/2020,Mar-20,Due on receipt,3/2/2020,...,-6231.85,6231.85,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5713,KDS_Exp_VB_342318,KDS_Exp_VB_342318,342318,BL-DK0406442,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-4213.66,NaN,NaN,4072.69,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5714,KDS_Exp_VB_343678,KDS_Exp_VB_343678,343678,BL-DK0406443,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-6644.77,NaN,NaN,6409.27,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5715,KDS_Exp_VB_347817,KDS_Exp_VB_347817,347817,BL-DK0406444,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-1200.00,NaN,NaN,960.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5716,KDS_Exp_VB_348600,KDS_Exp_VB_348600,348600,BL-DK0406445,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-832.85,NaN,NaN,832.85,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5717,KDS_Exp_VB_348624,KDS_Exp_VB_348624,348624,BL-DK0406446,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-1772.41,NaN,NaN,1772.41,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
5719,KDS_Exp_VB_8008094,KDS_Exp_VB_8008094.2020-03-03-1,8008094.2020-03-03-1,BL-DK0406657,,Bill,3/3/2020,Mar-20,Due on receipt,3/3/2020,...,-108645.78,108645.78,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
10570,KDS_Exp_JE_347817__OOP,KDS_Exp_JE_347817__OOP,JE-DK0288528,TJE-DK0288528,,Journal,3/3/2020,Mar-20,- None -,NaN,...,NaN,-387.81,NaN,387.81,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
10571,KDS_Exp_JE_348469__OOP,KDS_Exp_JE_348469__OOP,JE-DK0288529,TJE-DK0288529,,Journal,3/3/2020,Mar-20,- None -,NaN,...,NaN,-299.00,NaN,239.20,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
10911,KDS_Exp_VB_342819,KDS_Exp_VB_342819,342819,BL-DK0406659,,Bill,3/4/2020,Mar-20,Due on receipt,3/4/2020,...,-4303.47,NaN,NaN,4303.47,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
19636,KDS_Exp_VB_340001,KDS_Exp_VB_340001,340001,BL-DK0406956,,Bill,3/6/2020,Mar-20,Due on receipt,3/6/2020,...,-2081.54,NaN,NaN,2081.54,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
19637,KDS_Exp_VB_346539,KDS_Exp_VB_346539,346539,BL-DK0406966,,Bill,3/6/2020,Mar-20,Due on receipt,3/6/2020,...,-3316.44,NaN,NaN,3180.44,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
19640,KDS_Exp_VB_6353386,KDS_Exp_VB_6353386.2020-03-06-1,6353386.2020-03-06-1,BL-DK0407082,,Bill,3/6/2020,Mar-20,Due on receipt,3/6/2020,...,-46571.96,46571.96,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
23796,KDS_Exp_JE_340001__OOP,KDS_Exp_JE_340001__OOP,JE-DK0288934,TJE-DK0288934,,Journal,3/6/2020,Mar-20,- None -,NaN,...,NaN,-278.84,NaN,278.84,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
29001,KDS_Exp_VB_341031,KDS_Exp_VB_341031,341031,BL-DK0407216,,Bill,3/10/2020,Mar-20,Due on receipt,3/10/2020,...,-4677.23,NaN,NaN,4533.43,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
29002,KDS_Exp_VB_342344,KDS_Exp_VB_342344,342344,BL-DK0407217,,Bill,3/10/2020,Mar-20,Due on receipt,3/10/2020,...,-2116.76,NaN,NaN,2116.76,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
31804,KDS_Exp_JE_341031__OOP,KDS_Exp_JE_341031__OOP,JE-DK0289193,TJE-DK0289193,,Journal,3/10/2020,Mar-20,- None -,NaN,...,NaN,-319.00,NaN,255.20,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
31805,KDS_Exp_JE_348723__OOP,KDS_Exp_JE_348723__OOP,JE-DK0289194,TJE-DK0289194,,Journal,3/10/2020,Mar-20,- None -,NaN,...,NaN,-2477.00,NaN,2477.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
32030,KDS_Exp_VB_348708,KDS_Exp_VB_348708,348708,BL-DK0407322,,Bill,3/11/2020,Mar-20,Due on receipt,3/11/2020,...,-3624.68,NaN,NaN,3607.76,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
32031,KDS_Exp_VB_350738,KDS_Exp_VB_350738,350738,BL-DK0407329,,Bill,3/11/2020,Mar-20,Due on receipt,3/11/2020,...,-11920.72,NaN,NaN,11906.73,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
35185,KDS_Exp_JE_348708__OOP,KDS_Exp_JE_348708__OOP,JE-DK0289281,TJE-DK0289281,,Journal,3/11/2020,Mar-20,- None -,NaN,...,NaN,-3655.83,NaN,3655.83,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
35186,KDS_Exp_JE_350738__OOP,KDS_Exp_JE_350738__OOP,JE-DK0289282,TJE-DK0289282,,Journal,3/11/2020,Mar-20,- None -,NaN,...,NaN,-2289.33,NaN,2289.33,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
35596,KDS_Exp_VB_351249,KDS_Exp_VB_351249,351249,BL-DK0407443,,Bill,3/12/2020,Mar-20,Due on receipt,3/12/2020,...,-5244.94,NaN,NaN,5244.94,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
39143,KDS_Exp_JE_351249__OOP,KDS_Exp_JE_351249__OOP,JE-DK0289479,TJE-DK0289479,,Journal,3/12/2020,Mar-20,- None -,NaN,...,NaN,-371.92,NaN,365.92,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
39145,KDS_Exp_JE_351254__OOP,KDS_Exp_JE_351254__OOP,JE-DK0289481,TJE-DK0289481,,Journal,3/12/2020,Mar-20,- None -,NaN,...,NaN,-248.80,NaN,248.80,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
42952,KDS_Exp_VB_351095,KDS_Exp_VB_351095,351095,BL-DK0407653,,Bill,3/14/2020,Mar-20,Due on receipt,3/14/2020,...,-1621.53,NaN,NaN,1621.53,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
43420,KDS_Exp_JE_352152__OOP,KDS_Exp_JE_352152__OOP,JE-DK0289627,TJE-DK0289627,,Journal,3/14/2020,Mar-20,- None -,NaN,...,NaN,-897.00,NaN,897.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
49456,KDS_Exp_VB_5046988,KDS_Exp_VB_5046988.2020-03-18-1,5046988.2020-03-18-1,BL-DK0408233,,Bill,3/18/2020,Mar-20,Due on receipt,3/18/2020,...,-3045.00,3045.00,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
49457,KDS_Exp_VC_8008094,KDS_Exp_VC_8008094.2020-03-18-1-CR,8008094.2020-03-18-1-CR,BC-DK0125984,,Bill Credit,3/18/2020,Mar-20,- None -,NaN,...,4348.48,-4348.48,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
52004,KDS_Exp_VC_6247332,KDS_Exp_VC_6247332.2020-03-19-1-CR,6247332.2020-03-19-1-CR,BC-DK0126022,,Bill Credit,3/19/2020,Mar-20,- None -,NaN,...,10743.70,-10743.70,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
52005,KDS_Exp_VB_6299271,KDS_Exp_VB_6299271.2020-03-19-1,6299271.2020-03-19-1,BL-DK0408463,,Bill,3/19/2020,Mar-20,Due on receipt,3/19/2020,...,-6879.36,6879.36,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
52006,KDS_Exp_VB_8006463,KDS_Exp_VB_8006463.2020-03-19-1,8006463.2020-03-19-1,BL-DK0408464,,Bill,3/19/2020,Mar-20,Due on receipt,3/19/2020,...,-100250.40,100250.40,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
52007,KDS_Exp_VC_8006463,KDS_Exp_VC_8006463.2020-03-19-1-CR,8006463.2020-03-19-1-CR,BC-DK0126023,,Bill Credit,3/19/2020,Mar-20,- None -,NaN,...,17117.97,-17117.97,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
57462,KDS_Exp_VB_347832,KDS_Exp_VB_347832,347832,BL-DK0408740,,Bill,3/24/2020,Mar-20,Due on receipt,3/24/2020,...,-4700.49,NaN,NaN,4700.49,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
57463,KDS_Exp_VB_5046988,KDS_Exp_VB_5046988.2020-03-24-1,5046988.2020-03-24-1,BL-DK0408795,,Bill,3/24/2020,Mar-20,Due on receipt,3/24/2020,...,-174.53,174.53,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
58090,KDS_Exp_JE_347832__OOP,KDS_Exp_JE_347832__OOP,JE-DK0290262,TJE-DK0290262,,Journal,3/24/2020,Mar-20,- None -,NaN,...,NaN,-6291.75,NaN,6081.40,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
58091,KDS_Exp_JE_351119__OOP,KDS_Exp_JE_351119__OOP,JE-DK0290263,TJE-DK0290263,,Journal,3/24/2020,Mar-20,- None -,NaN,...,NaN,-309.00,NaN,309.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
60500,KDS_Exp_JE_354006__OOP,KDS_Exp_JE_354006__OOP,JE-DK0290502,TJE-DK0290502,,Journal,3/27/2020,Mar-20,- None -,NaN,...,NaN,-656.72,NaN,656.72,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61482,KDS_Exp_VB_339424,KDS_Exp_VB_339424,339424,BL-DK0408955,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-155.80,NaN,NaN,155.80,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61483,KDS_Exp_VB_353835,KDS_Exp_VB_353835,353835,BL-DK0408956,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-48863.63,NaN,NaN,48858.43,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61484,KDS_Exp_VB_354303,KDS_Exp_VB_354303,354303,BL-DK0408957,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-4596.75,NaN,NaN,4591.05,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61485,KDS_Exp_VB_354445,KDS_Exp_VB_354445,354445,BL-DK0408958,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-1021.00,NaN,NaN,911.60,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61486,KDS_Exp_VB_354508,KDS_Exp_VB_354508,354508,BL-DK0408959,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-91.00,NaN,NaN,72.80,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61939,KDS_Exp_JE_339424__OOP,KDS_Exp_JE_339424__OOP,JE-DK0290616,TJE-DK0290616,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-65.00,NaN,65.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61941,KDS_Exp_JE_354303__OOP,KDS_Exp_JE_354303__OOP,JE-DK0290618,TJE-DK0290618,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-793.58,NaN,793.58,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61942,KDS_Exp_JE_354460__OOP,KDS_Exp_JE_354460__OOP,JE-DK0290619,TJE-DK0290619,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-92.70,NaN,92.70,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
61943,KDS_Exp_JE_354508__OOP,KDS_Exp_JE_354508__OOP,JE-DK0290620,TJE-DK0290620,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-120.00,NaN,96.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None

In [56]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [57]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [58]:
vat.loc[#((vat['Sum of VAT'].isnull()) | (vat['Sum of VAT'] == 0)) & this is goes trough each Row and uses OR when same column same effect as below code
        (vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Type'].isin(['Bill', 'Bill Credit'])) &
        (~vat['Maximum of Linked Invoice'].isin([np.nan, ' '])), 'Comment'] = 'Linked invoice'
vat[vat["Comment"] == "Linked invoice"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
41,VB,00380287939-1289112-010-001-VB,00380287939-1289112-010-001,BL-DK0406275,Invoice #IN-DK4695663,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-1010.00,NaN,1010.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
42,VB,00381646059-1289089-012-001-VB,00381646059-1289089-012-001,BL-DK0406276,Invoice #IN-DK4695673,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-386.80,NaN,386.80,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
43,VB,00382201135-1289060-001-001-VB,00382201135-1289060-001-001,BL-DK0406273,Invoice #IN-DK4695564,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-1853.00,NaN,1853.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
44,VB,00382201145-1289102-005-001-VB,00382201145-1289102-005-001,BL-DK0406278,Invoice #IN-DK4695768,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-823.29,NaN,823.29,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
45,VB,00382201196-1289076-001-001-VB,00382201196-1289076-001-001,BL-DK0406274,Invoice #IN-DK4695591,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-2503.00,NaN,2503.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61472,VB,00383800438-1308222-001-001-VB,00383800438-1308222-001-001,BL-DK0408966,Invoice #IN-DK4748471,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61473,VB,00383800446-1308220-001-001-VB,00383800446-1308220-001-001,BL-DK0408967,Invoice #IN-DK4748472,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61474,VB,00383800447-1308221-001-001-VB,00383800447-1308221-001-001,BL-DK0408968,Invoice #IN-DK4748473,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61475,VB,00383800458-1308223-001-001-VB,00383800458-1308223-001-001,BL-DK0408969,Invoice #IN-DK4748476,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61476,VB,00383800459-1308224-001-001-VB,00383800459-1308224-001-001,BL-DK0408970,Invoice #IN-DK4748477,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None

In [59]:
#This column in CSV File is corrupt, you cannot fileter on - None - accurately

#vat.loc[#((vat['Sum of VAT'].isnull()) | (vat['Sum of VAT'] == 0)) &
        #(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Comment'] == 'Transactions 0DKK') &
        #(vat['Memo (Main)'] != '- None -'), 'Comment'] = 'Travel bill'
        #(vat['Memo (Main)'].isin(['- None -'] ) == False), 'Comment'] = 'Travel bill'
        #(~vat['Memo (Main)'].isin(['- None -'])), 'Comment'] = 'Travel bill'
#vat[vat["Comment"] == "Travel bill"]
#vat[vat['Memo (Main)'] != '- None -']

In [60]:
vat.iloc[4:]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
4,SUMVOID,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
5,SUMVOID,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
6,SUMVOID,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
7,SUMVOID,566326949-SUMVOID,JE-DK0290728,TJE-DK0290728,Credit Memo #CM-DK0296897,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
8,VOID,566920577-VOID,JE-DK0290729,TJE-DK0290729,Credit Memo #CM-DK0297253,Journal,1/23/2020,Mar-20,- None -,NaN,...,NaN,0.0,-25.00,NaN,0.00,-0.0,-25.0,0.00,Transactions 0DKK,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62102,GBTICJE,GBTICJE-IDENTIFIERB-ID2124824,JE-NL1263552,TJE-NL0153476,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-3202.67,0.0,NaN,3202.67,-800.67,NaN,NaN,-3202.68,Reverse charge booked automatically in Netsuite,Reverse charge
62103,GBTICJE,GBTICJE-IDENTIFIERH-ID2125817,JE-NL1263844,TJE-NL0153768,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,-1109880.72,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62104,GBTICJE,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-998892.66,NaN,998892.66,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None
62105,GBTICJE,GBTICJE-IDENTIFIERB-ID2128891,JE-NL1264110,TJE-NL0154034,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-38095.45,0.0,NaN,38095.45,-9523.86,NaN,NaN,-38095.44,Reverse charge booked automatically in Netsuite,Reverse charge
62106,None,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,...,75177.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transactions 0DKK,None

In [61]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].notnull()), 'Comment'] = 'IC invoice EU/Outside'
vat[vat["Comment"] == "IC invoice EU/Outside"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
60750,GBTICJE,GBTICJE-IDENTIFIERB-ID2118282,JE-NL1262716,TJE-NL0152640,,Journal,3/29/2020,Mar-20,- None -,NaN,...,-33546.36,0.0,33546.36,NaN,0.0,0.0,33546.36,0.0,IC invoice EU/Outside,None
60751,GBTICJE,GBTICJE-IDENTIFIERH-ID2123084,JE-NL1263185,TJE-NL0153109,,Journal,3/29/2020,Mar-20,- None -,NaN,...,NaN,0.0,-33546.36,NaN,0.0,-0.0,-33546.36,0.0,IC invoice EU/Outside,None
60752,GBTICJE,GBTICJE-IDENTIFIERB-ID2123089,JE-NL1263187,TJE-NL0153111,,Journal,3/29/2020,Mar-20,- None -,NaN,...,-66370.58,0.0,66370.58,NaN,0.0,0.0,66370.58,0.0,IC invoice EU/Outside,None
61964,GBTICJE,GBTICJE-IDENTIFIERA-ID2115288,JE-DK0290642,TJE-DK0290642,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-2240.42,NaN,0.0,-0.0,-2240.42,0.0,IC invoice EU/Outside,None
61965,GBTICJE,GBTICJE-IDENTIFIERA-ID2115297,JE-DK0290643,TJE-DK0290643,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-2707.17,NaN,0.0,-0.0,-2707.17,0.0,IC invoice EU/Outside,None
61966,GBTICJE,GBTICJE-IDENTIFIERA-ID2115289,JE-DK0290644,TJE-DK0290644,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-809.04,NaN,0.0,-0.0,-809.04,0.0,IC invoice EU/Outside,None
61967,GBTICJE,GBTICJE-IDENTIFIERA-ID2115290,JE-DK0290645,TJE-DK0290645,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-1991.48,NaN,0.0,-0.0,-1991.48,0.0,IC invoice EU/Outside,None
61968,GBTICJE,GBTICJE-IDENTIFIERA-ID2115294,JE-DK0290646,TJE-DK0290646,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-6285.62,NaN,0.0,-0.0,-6285.62,0.0,IC invoice EU/Outside,None
61969,GBTICJE,GBTICJE-IDENTIFIERA-ID2115291,JE-DK0290647,TJE-DK0290647,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-217.82,NaN,0.0,-0.0,-217.82,0.0,IC invoice EU/Outside,None
61970,GBTICJE,GBTICJE-IDENTIFIERA-ID2115293,JE-DK0290648,TJE-DK0290648,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-403679.89,NaN,0.0,-0.0,-403679.89,0.0,IC invoice EU/Outside,None
61971,GBTICJE,GBTICJE-IDENTIFIERA-ID2115292,JE-DK0290649,TJE-DK0290649,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-116750.71,NaN,0.0,-0.0,-116750.71,0.0,IC invoice EU/Outside,None
61972,GBTICJE,GBTICJE-IDENTIFIERA-ID2115295,JE-DK0290650,TJE-DK0290650,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-373.40,NaN,0.0,-0.0,-373.40,0.0,IC invoice EU/Outside,None
61973,GBTICJE,GBTICJE-IDENTIFIERA-ID2115296,JE-DK0290651,TJE-DK0290651,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-65283.31,NaN,0.0,-0.0,-65283.31,0.0,IC invoice EU/Outside,None
61974,GBTICJE,GBTICJE-IDENTIFIERA-ID2115298,JE-DK0290652,TJE-DK0290652,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-3609.56,NaN,0.0,-0.0,-3609.56,0.0,IC invoice EU/Outside,None
61975,GBTICJE,GBTICJE-IDENTIFIERA-ID2115299,JE-DK0290653,TJE-DK0290653,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-11139.86,NaN,0.0,-0.0,-11139.86,0.0,IC invoice EU/Outside,None
61976,GBTICJE,GBTICJE-IDENTIFIERA-ID2115300,JE-DK0290654,TJE-DK0290654,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-11980.02,NaN,0.0,-0.0,-11980.02,0.0,IC invoice EU/Outside,None
61977,GBTICJE,GBTICJE-IDENTIFIERA-ID2115301,JE-DK0290655,TJE-DK0290655,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-27040.61,NaN,0.0,-0.0,-27040.61,0.0,IC invoice EU/Outside,None
61978,GBTICJE,GBTICJE-IDENTIFIERA-ID2115302,JE-DK0290656,TJE-DK0290656,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-12602.36,NaN,0.0,-0.0,-12602.36,0.0,IC invoice EU/Outside,None
61979,GBTICJE,GBTICJE-IDENTIFIERA-ID2115303,JE-DK0290657,TJE-DK0290657,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-5943.33,NaN,0.0,-0.0,-5943.33,0.0,IC invoice EU/Outside,None
61980,GBTICJE,GBTICJE-IDENTIFIERA-ID2115304,JE-DK0290658,TJE-DK0290658,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-9957.42,NaN,0.0,-0.0,-9957.42,0.0,IC invoice EU/Outside,None
61981,GBTICJE,GBTICJE-IDENTIFIERA-ID2115305,JE-DK0290659,TJE-DK0290659,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-75085.14,NaN,0.0,-0.0,-75085.14,0.0,IC invoice EU/Outside,None
61982,GBTICJE,GBTICJE-IDENTIFIERA-ID2115306,JE-DK0290660,TJE-DK0290660,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-59028.81,NaN,0.0,-0.0,-59028.81,0.0,IC invoice EU/Outside,None
61983,GBTICJE,GBTICJE-IDENTIFIERA-ID2115308,JE-DK0290661,TJE-DK0290661,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-10486.40,NaN,0.0,-0.0,-10486.40,0.0,IC invoice EU/Outside,None
61984,GBTICJE,GBTICJE-IDENTIFIERA-ID2115309,JE-DK0290662,TJE-DK0290662,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-62.23,NaN,0.0,-0.0,-62.23,0.0,IC invoice EU/Outside,None
61985,GBTICJE,GBTICJE-IDENTIFIERA-ID2115311,JE-DK0290663,TJE-DK0290663,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-3018.34,NaN,0.0,-0.0,-3018.34,0.0,IC invoice EU/Outside,None
61986,GBTICJE,GBTICJE-IDENTIFIERA-ID2115307,JE-DK0290664,TJE-DK0290664,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-4947.59,NaN,0.0,-0.0,-4947.59,0.0,IC invoice EU/Outside,None
61987,GBTICJE,GBTICJE-IDENTIFIERA-ID2115314,JE-DK0290665,TJE-DK0290665,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-11980.02,NaN,0.0,-0.0,-11980.02,0.0,IC invoice EU/Outside,None
61988,GBTICJE,GBTICJE-IDENTIFIERA-ID2115313,JE-DK0290666,TJE-DK0290666,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-31210.28,NaN,0.0,-0.0,-31210.28,0.0,IC invoice EU/Outside,None
61989,GBTICJE,GBTICJE-IDENTIFIERA-ID2115316,JE-DK0290667,TJE-DK0290667,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-1711.43,NaN,0.0,-0.0,-1711.43,0.0,IC invoice EU/Outside,None
61990,GBTICJE,GBTICJE-IDENTIFIERA-ID2115315,JE-DK0290668,TJE-DK0290668,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-1213.56,NaN,0.0,-0.0,-1213.56,0.0,IC invoice EU/Outside,None
61991,GBTICJE,GBTICJE-IDENTIFIERA-ID2115310,JE-DK0290669,TJE-DK0290669,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-528.99,NaN,0.0,-0.0,-528.99,0.0,IC invoice EU/Outside,None
61992,GBTICJE,GBTICJE-IDENTIFIERA-ID2115318,JE-DK0290670,TJE-DK0290670,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-560.10,NaN,0.0,-0.0,-560.10,0.0,IC invoice EU/Outside,None
61993,GBTICJE,GBTICJE-IDENTIFIERA-ID2115312,JE-DK0290671,TJE-DK0290671,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-62.23,NaN,0.0,-0.0,-62.23,0.0,IC invoice EU/Outside,None
61994,GBTICJE,GBTICJE-IDENTIFIERA-ID2115319,JE-DK0290672,TJE-DK0290672,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-53676.70,NaN,0.0,-0.0,-53676.70,0.0,IC invoice EU/Outside,None
61995,GBTICJE,GBTICJE-IDENTIFIERA-ID2115320,JE-DK0290673,TJE-DK0290673,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-6472.32,NaN,0.0,-0.0,-6472.32,0.0,IC invoice EU/Outside,None
61996,GBTICJE,GBTICJE-IDENTIFIERA-ID2115321,JE-DK0290674,TJE-DK0290674,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-1618.08,NaN,0.0,-0.0,-1618.08,0.0,IC invoice EU/Outside,None
61997,GBTICJE,GBTICJE-IDENTIFIERA-ID2115322,JE-DK0290675,TJE-DK0290675,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-12789.06,NaN,0.0,-0.0,-12789.06,0.0,IC invoice EU/Outside,None
61998,GBTICJE,GBTICJE-IDENTIFIERA-ID2115323,JE-DK0290676,TJE-DK0290676,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-41198.81,NaN,0.0,-0.0,-41198.81,0.0,IC invoice EU/Outside,None
61999,GBTICJE,GBTICJE-IDENTIFIERA-ID2115324,JE-DK0290677,TJE-DK0290677,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-8526.04,NaN,0.0,-0.0,-8526.04,0.0,IC invoice EU/Outside,None
62000,GBTICJE,GBTICJE-IDENTIFIERA-ID2115317,JE-DK0290678,TJE-DK0290678,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.0,-2147.07,NaN,0.0,-0.0,-2147.07,0.0,IC invoice EU/Outside,None

In [62]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].isnull()), 'Comment'] = 'Intercompany'
vat[vat["Comment"] == "Intercompany"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
570,GBTICJE,GBTICJE-IDENTIFIERH-ID2079345,JE-NL1258535,TJE-NL0148459,,Journal,3/1/2020,Mar-20,- None -,NaN,...,NaN,NaN,-1403600.72,NaN,NaN,NaN,NaN,NaN,Intercompany,None
571,GBTICJE,GBTICJE-IDENTIFIERB-ID2079344,JE-NL1258536,TJE-NL0148460,,Journal,3/1/2020,Mar-20,- None -,NaN,...,-1559556.34,NaN,1559556.34,NaN,NaN,NaN,NaN,NaN,Intercompany,None
39259,GBTICJE,GBTICJE-IDENTIFIERH-ID2094966,JE-NL1260345,TJE-NL0150269,,Journal,3/12/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
42942,GBTICJE,GBTICJE-IDENTIFIERH-ID2096667,JE-NL1260381,TJE-NL0150305,,Journal,3/13/2020,Mar-20,- None -,NaN,...,NaN,NaN,-520.60,NaN,NaN,NaN,NaN,NaN,Intercompany,None
42943,GBTICJE,GBTICJE-IDENTIFIERB-ID2096668,JE-NL1260382,TJE-NL0150306,,Journal,3/13/2020,Mar-20,- None -,NaN,...,-479.12,NaN,479.12,NaN,NaN,NaN,NaN,NaN,Intercompany,None
46588,GBTICJE,GBTICJE-IDENTIFIERH-ID2101171,JE-NL1260905,TJE-NL0150829,,Journal,3/16/2020,Mar-20,- None -,NaN,...,NaN,NaN,-27169.31,NaN,NaN,NaN,NaN,NaN,Intercompany,None
46589,GBTICJE,GBTICJE-IDENTIFIERB-ID2101170,JE-NL1260906,TJE-NL0150830,,Journal,3/16/2020,Mar-20,- None -,NaN,...,-30188.12,NaN,30188.12,NaN,NaN,NaN,NaN,NaN,Intercompany,None
58121,GBTICJE,GBTICJE-IDENTIFIERB-ID2105979,JE-NL1261226,TJE-NL0151150,,Journal,3/24/2020,Mar-20,- None -,NaN,...,-3360.73,3360.73,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
61458,GBTICJE,GBTICJE-IDENTIFIERH-ID2112673,JE-NL1262169,TJE-NL0152093,,Journal,3/30/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
61459,GBTICJE,GBTICJE-IDENTIFIERH-ID2114074,JE-NL1262253,TJE-NL0152177,,Journal,3/30/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
61460,GBTICJE,GBTICJE-IDENTIFIERB-ID2121981,JE-NL1262995,TJE-NL0152919,,Journal,3/30/2020,Mar-20,- None -,NaN,...,-4588.55,NaN,4588.55,NaN,NaN,NaN,NaN,NaN,Intercompany,None
61461,GBTICJE,GBTICJE-IDENTIFIERH-ID2121982,JE-NL1263000,TJE-NL0152924,,Journal,3/30/2020,Mar-20,- None -,NaN,...,NaN,NaN,-4830.05,NaN,NaN,NaN,NaN,NaN,Intercompany,None
62079,GBTICJE,GBTICJE-IDENTIFIERB-ID2110873,JE-NL1262019,TJE-NL0151943,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-89629.18,NaN,NaN,89629.18,NaN,NaN,NaN,NaN,Intercompany,None
62080,GBTICJE,GBTICJE-IDENTIFIERB-ID2110910,JE-NL1262049,TJE-NL0151973,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-1009.90,NaN,NaN,1009.90,NaN,NaN,NaN,NaN,Intercompany,None
62081,GBTICJE,GBTICJE-IDENTIFIERB-ID2110922,JE-NL1262061,TJE-NL0151985,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-16032.24,NaN,NaN,16032.24,NaN,NaN,NaN,NaN,Intercompany,None
62082,GBTICJE,GBTICJE-IDENTIFIERB-ID2110944,JE-NL1262083,TJE-NL0152007,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-2146.08,NaN,NaN,2146.08,NaN,NaN,NaN,NaN,Intercompany,None
62087,GBTICJE,GBTICJE-IDENTIFIERB-ID2114585,JE-NL1262389,TJE-NL0152313,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-29344.64,NaN,NaN,29344.64,NaN,NaN,NaN,NaN,Intercompany,None
62093,GBTICJE,GBTICJE-IDENTIFIERB-ID2116084,JE-NL1262568,TJE-NL0152492,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-122782.65,NaN,NaN,122782.65,NaN,NaN,NaN,NaN,Intercompany,None
62094,GBTICJE,GBTICJE-IDENTIFIERB-ID2116183,JE-NL1262588,TJE-NL0152512,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-22771.36,NaN,NaN,22771.36,NaN,NaN,NaN,NaN,Intercompany,None
62096,GBTICJE,GBTICJE-IDENTIFIERB-ID2116692,JE-NL1262618,TJE-NL0152542,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-22621.03,NaN,NaN,22621.03,NaN,NaN,NaN,NaN,Intercompany,None
62097,GBTICJE,GBTICJE-IDENTIFIERB-ID2121592,JE-NL1262963,TJE-NL0152887,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-9434.53,NaN,NaN,9434.53,NaN,NaN,NaN,NaN,Intercompany,None
62103,GBTICJE,GBTICJE-IDENTIFIERH-ID2125817,JE-NL1263844,TJE-NL0153768,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,-1109880.72,NaN,NaN,NaN,NaN,NaN,Intercompany,None
62104,GBTICJE,GBTICJE-IDENTIFIERB-ID2125818,JE-NL1263845,TJE-NL0153769,,Journal,3/31/2020,Mar-20,- None -,NaN,...,-998892.66,NaN,998892.66,NaN,NaN,NaN,NaN,NaN,Intercompany,None

In [63]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Type'] == 'Journal'), 'Comment'] = 'JE-transactions-no vat'
vat[vat["Comment"] == "JE-transactions-no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
0,FINREP_bjhamb_253150,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
3,SUMVOID,565788256-SUMVOID,JE-DK0290724,TJE-DK0290724,Credit Memo #CM-DK0296577,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
4,SUMVOID,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
5,SUMVOID,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
6,SUMVOID,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62063,FINREP_snakk3_AIAtax4,20200331_FINREP_snakk3_AIAtax4,JE-DK0290873,TJE-DK0290873,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-12751.54,NaN,12751.54,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62064,None,- None -,JE-DK0290875,TJE-DK0290875,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62065,GSD_jkuper_Region,20200331_GSD_jkuper_Region Cleanup_GG210r-dk,JE-DK0290877,TJE-DK0290877,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62077,FINREP_FCCA,20200331_FINREP_FCCA Clearance_1115_AG2_Mar'20,JE-DK0290917,TJE-DK0290917,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,-139.32,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62078,FINREP_snakk3_AIAtax11,20200331_FINREP_snakk3_AIAtax11,JE-DK0290957,TJE-DK0290957,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,51232.64,NaN,-51232.64,NaN,NaN,NaN,NaN,JE-transactions-no vat,None

In [64]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (~vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Type'].isin(['Bill','Bill Credit'])), 'Comment'] = 'Linked invoice'
vat[vat["Comment"] == "Linked invoice"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
41,VB,00380287939-1289112-010-001-VB,00380287939-1289112-010-001,BL-DK0406275,Invoice #IN-DK4695663,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-1010.00,NaN,1010.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
42,VB,00381646059-1289089-012-001-VB,00381646059-1289089-012-001,BL-DK0406276,Invoice #IN-DK4695673,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-386.80,NaN,386.80,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
43,VB,00382201135-1289060-001-001-VB,00382201135-1289060-001-001,BL-DK0406273,Invoice #IN-DK4695564,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-1853.00,NaN,1853.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
44,VB,00382201145-1289102-005-001-VB,00382201145-1289102-005-001,BL-DK0406278,Invoice #IN-DK4695768,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-823.29,NaN,823.29,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
45,VB,00382201196-1289076-001-001-VB,00382201196-1289076-001-001,BL-DK0406274,Invoice #IN-DK4695591,Bill,3/1/2020,Mar-20,- None -,3/1/2020,...,-2503.00,NaN,2503.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61473,VB,00383800446-1308220-001-001-VB,00383800446-1308220-001-001,BL-DK0408967,Invoice #IN-DK4748472,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61474,VB,00383800447-1308221-001-001-VB,00383800447-1308221-001-001,BL-DK0408968,Invoice #IN-DK4748473,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61475,VB,00383800458-1308223-001-001-VB,00383800458-1308223-001-001,BL-DK0408969,Invoice #IN-DK4748476,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61476,VB,00383800459-1308224-001-001-VB,00383800459-1308224-001-001,BL-DK0408970,Invoice #IN-DK4748477,Bill,3/31/2020,Mar-20,- None -,3/31/2020,...,-109.00,NaN,109.00,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
61487,None,- None -,602091457,BL-DK0408972,,Bill,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,-3062.50,2450.0,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None

In [65]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (~vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Type'].isin(['Credit Memo','Invoice', 'Journal'])), 'Comment'] = 'JE-transactions-no vat'
vat[vat["Comment"] == "JE-transactions-no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
0,FINREP_bjhamb_253150,20200101_FINREP_bjhamb_253150 account reclass_06,JE-DK0289677,TJE-DK0289677,,Journal,1/1/2020,Mar-20,- None -,NaN,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
3,SUMVOID,565788256-SUMVOID,JE-DK0290724,TJE-DK0290724,Credit Memo #CM-DK0296577,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
4,SUMVOID,565788266-SUMVOID,JE-DK0290725,TJE-DK0290725,Credit Memo #CM-DK0296581,Journal,1/20/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
5,SUMVOID,566326875-SUMVOID,JE-DK0290726,TJE-DK0290726,Credit Memo #CM-DK0296872,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
6,SUMVOID,566326931-SUMVOID,JE-DK0290727,TJE-DK0290727,Credit Memo #CM-DK0296892,Journal,1/22/2020,Mar-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62063,FINREP_snakk3_AIAtax4,20200331_FINREP_snakk3_AIAtax4,JE-DK0290873,TJE-DK0290873,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,-12751.54,NaN,12751.54,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62064,None,- None -,JE-DK0290875,TJE-DK0290875,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62065,GSD_jkuper_Region,20200331_GSD_jkuper_Region Cleanup_GG210r-dk,JE-DK0290877,TJE-DK0290877,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62077,FINREP_FCCA,20200331_FINREP_FCCA Clearance_1115_AG2_Mar'20,JE-DK0290917,TJE-DK0290917,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,NaN,NaN,-139.32,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
62078,FINREP_snakk3_AIAtax11,20200331_FINREP_snakk3_AIAtax11,JE-DK0290957,TJE-DK0290957,,Journal,3/31/2020,Mar-20,- None -,NaN,...,NaN,51232.64,NaN,-51232.64,NaN,NaN,NaN,NaN,JE-transactions-no vat,None

In [66]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-E-2-VT-S-')), 'Transaction type'] = 'Regional-not in EU-Rubrik C'
vat[vat["Transaction type"] == "Regional-not in EU-Rubrik C"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
256,CI,00382201093-1289027-002-001-CI,IN-DK4695694,TIN-DK4695694,Invoice #IN-DK4695541,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
259,CI,00382201095-1289032-002-001-CI,IN-DK4695697,TIN-DK4695697,Invoice #IN-DK4695544,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
261,CI,00382201104-1289039-004-001-CI,IN-DK4695699,TIN-DK4695699,Invoice #IN-DK4695546,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
270,CI,00382201115-1289053-004-001-CI,IN-DK4695708,TIN-DK4695708,Invoice #IN-DK4695554,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
272,CI,00382201119-1289042-004-001-CI,IN-DK4695710,TIN-DK4695710,Invoice #IN-DK4695557,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61723,CI,00366409552-1308195-021-001-CI,IN-DK4748346,TIN-DK4748346,Invoice #IN-DK4748311,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
61763,CI,00383798262-1308178-003-001-CI,IN-DK4748386,TIN-DK4748386,Invoice #IN-DK4748335,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-112.08,NaN,0.0,-0.0,-112.08,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
61769,CI,00383798510-1308185-006-001-CI,IN-DK4748392,TIN-DK4748392,Invoice #IN-DK4748341,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
61858,CI,00372359982-1308215-036-001-CI,IN-DK4748481,TIN-DK4748481,Invoice #IN-DK4748438,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C
61884,CI,00383800467-1308225-002-001-CI,IN-DK4748507,TIN-DK4748507,Invoice #IN-DK4748478,Invoice,3/31/2020,Mar-20,Net 45,4/30/2020,...,NaN,0.0,-48.00,NaN,0.0,-0.0,-48.00,0.0,Transactions 0DKK,Regional-not in EU-Rubrik C

In [67]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-I-2-VT-S-')), 'Transaction type'] = 'International - Rubrik C'
vat[vat["Transaction type"] == "International - Rubrik C"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
26,VOID,576794920-VOID,CM-DK0311137,TCM-DK0311137,Invoice #IN-DK4689682,Credit Memo,2/25/2020,Mar-20,- None -,NaN,...,NaN,0.0,284.0,NaN,0.0,0.0,284.0,0.0,Transactions 0DKK,International - Rubrik C
93,CI,00382039126-1289020-004-001-CI,IN-DK4695531,TIN-DK4695531,Invoice #IN-DK4695530,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,Transactions 0DKK,International - Rubrik C
214,CI,00380863325-1289030-012-001-CI,IN-DK4695652,TIN-DK4695652,Invoice #IN-DK4695612,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,Transactions 0DKK,International - Rubrik C
215,CI,00381034532-1289033-006-001-CI,IN-DK4695653,TIN-DK4695653,Invoice #IN-DK4695615,Invoice,3/1/2020,Mar-20,Net 45,3/31/2020,...,NaN,0.0,-66.0,NaN,0.0,-0.0,-66.0,0.0,Transactions 0DKK,International - Rubrik C
216,CI,00381058556-1289036-009-001-CI,IN-DK4695654,TIN-DK4695654,Invoice #IN-DK4695617,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,Transactions 0DKK,International - Rubrik C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61903,CI,00383801061-1308246-004-001-CI,IN-DK4748526,TIN-DK4748526,Invoice #IN-DK4748525,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,Transactions 0DKK,International - Rubrik C
61911,CI,00383801044-1308245-002-001-CI,IN-DK4748534,TIN-DK4748534,Invoice #IN-DK4748523,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,Transactions 0DKK,International - Rubrik C
61912,CI,00383801061-1308246-002-001-CI,IN-DK4748535,TIN-DK4748535,Invoice #IN-DK4748524,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,Transactions 0DKK,International - Rubrik C
61923,CI,00383801328-1308251-002-001-CI,IN-DK4748546,TIN-DK4748546,Invoice #IN-DK4748544,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,Transactions 0DKK,International - Rubrik C
61924,CI,00383801328-1308251-004-001-CI,IN-DK4748547,TIN-DK4748547,Invoice #IN-DK4748545,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,Transactions 0DKK,International - Rubrik C

In [68]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-CPB-')), 'Transaction type'] = 'Rail - commission passback - Rubrik C'
vat[vat["Transaction type"] == "Rail - commission passback - Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [69]:
vat.loc[(vat['Transaction type'] == 'International - Rubrik C'), 'Comment'] = '0% VAT Denmark'
vat[vat["Transaction type"] == "International - Rubrik C"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
26,VOID,576794920-VOID,CM-DK0311137,TCM-DK0311137,Invoice #IN-DK4689682,Credit Memo,2/25/2020,Mar-20,- None -,NaN,...,NaN,0.0,284.0,NaN,0.0,0.0,284.0,0.0,0% VAT Denmark,International - Rubrik C
93,CI,00382039126-1289020-004-001-CI,IN-DK4695531,TIN-DK4695531,Invoice #IN-DK4695530,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,0% VAT Denmark,International - Rubrik C
214,CI,00380863325-1289030-012-001-CI,IN-DK4695652,TIN-DK4695652,Invoice #IN-DK4695612,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,0% VAT Denmark,International - Rubrik C
215,CI,00381034532-1289033-006-001-CI,IN-DK4695653,TIN-DK4695653,Invoice #IN-DK4695615,Invoice,3/1/2020,Mar-20,Net 45,3/31/2020,...,NaN,0.0,-66.0,NaN,0.0,-0.0,-66.0,0.0,0% VAT Denmark,International - Rubrik C
216,CI,00381058556-1289036-009-001-CI,IN-DK4695654,TIN-DK4695654,Invoice #IN-DK4695617,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,0% VAT Denmark,International - Rubrik C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61903,CI,00383801061-1308246-004-001-CI,IN-DK4748526,TIN-DK4748526,Invoice #IN-DK4748525,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-86.0,NaN,0.0,-0.0,-86.0,0.0,0% VAT Denmark,International - Rubrik C
61911,CI,00383801044-1308245-002-001-CI,IN-DK4748534,TIN-DK4748534,Invoice #IN-DK4748523,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,0% VAT Denmark,International - Rubrik C
61912,CI,00383801061-1308246-002-001-CI,IN-DK4748535,TIN-DK4748535,Invoice #IN-DK4748524,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,0% VAT Denmark,International - Rubrik C
61923,CI,00383801328-1308251-002-001-CI,IN-DK4748546,TIN-DK4748546,Invoice #IN-DK4748544,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,0% VAT Denmark,International - Rubrik C
61924,CI,00383801328-1308251-004-001-CI,IN-DK4748547,TIN-DK4748547,Invoice #IN-DK4748545,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-284.0,NaN,0.0,-0.0,-284.0,0.0,0% VAT Denmark,International - Rubrik C

In [70]:
vat.loc[(vat['Transaction type'] == 'Regional-not in EU-Rubrik C'), 'Comment'] = '0% VAT Denmark'
vat[vat["Transaction type"] == "Regional-not in EU-Rubrik C"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
256,CI,00382201093-1289027-002-001-CI,IN-DK4695694,TIN-DK4695694,Invoice #IN-DK4695541,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
259,CI,00382201095-1289032-002-001-CI,IN-DK4695697,TIN-DK4695697,Invoice #IN-DK4695544,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
261,CI,00382201104-1289039-004-001-CI,IN-DK4695699,TIN-DK4695699,Invoice #IN-DK4695546,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
270,CI,00382201115-1289053-004-001-CI,IN-DK4695708,TIN-DK4695708,Invoice #IN-DK4695554,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
272,CI,00382201119-1289042-004-001-CI,IN-DK4695710,TIN-DK4695710,Invoice #IN-DK4695557,Invoice,3/1/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.0,-25.00,NaN,0.0,-0.0,-25.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61723,CI,00366409552-1308195-021-001-CI,IN-DK4748346,TIN-DK4748346,Invoice #IN-DK4748311,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
61763,CI,00383798262-1308178-003-001-CI,IN-DK4748386,TIN-DK4748386,Invoice #IN-DK4748335,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-112.08,NaN,0.0,-0.0,-112.08,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
61769,CI,00383798510-1308185-006-001-CI,IN-DK4748392,TIN-DK4748392,Invoice #IN-DK4748341,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
61858,CI,00372359982-1308215-036-001-CI,IN-DK4748481,TIN-DK4748481,Invoice #IN-DK4748438,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-284.00,NaN,0.0,-0.0,-284.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C
61884,CI,00383800467-1308225-002-001-CI,IN-DK4748507,TIN-DK4748507,Invoice #IN-DK4748478,Invoice,3/31/2020,Mar-20,Net 45,4/30/2020,...,NaN,0.0,-48.00,NaN,0.0,-0.0,-48.00,0.0,0% VAT Denmark,Regional-not in EU-Rubrik C

In [71]:
vat.loc[(vat['Comment'] == 'Transactions 0DKK'), 'Comment'] = 'Travel Bill'
vat[vat["Comment"] == "Travel Bill"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
1,CM,00375911605-1218331-001-001-CM,CM-DK0311064,TCM-DK0311064,,Credit Memo,1/6/2020,Mar-20,- None -,NaN,...,NaN,0.00,15.0,NaN,0.0,0.0,15.0,0.0,Travel Bill,None
2,CI,00375911605-1218331-001-001-CI,IN-DK4746992,TIN-DK4746992,,Invoice,1/6/2020,Mar-20,Net 30,2/5/2020,...,NaN,0.00,0.0,NaN,0.0,NaN,0.0,0.0,Travel Bill,None
14,CM,00380758981-1272948-001-001-CM,CM-DK0311065,TCM-DK0311065,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,...,NaN,0.00,8.5,NaN,0.0,0.0,8.5,0.0,Travel Bill,None
15,CM,00380758982-1272948-001-001-CM,CM-DK0311066,TCM-DK0311066,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,...,NaN,0.00,8.5,NaN,0.0,0.0,8.5,0.0,Travel Bill,None
16,CM,00380758983-1272948-001-001-CM,CM-DK0311067,TCM-DK0311067,,Credit Memo,2/17/2020,Mar-20,- None -,NaN,...,NaN,0.00,8.5,NaN,0.0,0.0,8.5,0.0,Travel Bill,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61929,CI,00378595530-0006822-008-001-CI,IN-DK4748552,TIN-DK4748552,,Invoice,3/31/2020,Mar-20,- None -,NaN,...,NaN,0.00,0.0,NaN,0.0,NaN,0.0,0.0,Travel Bill,None
61930,CI,00376213081-0006823-015-001-CI,IN-DK4748553,TIN-DK4748553,,Invoice,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.00,0.0,NaN,0.0,NaN,0.0,0.0,Travel Bill,None
61931,CI,00376213365-0006824-012-001-CI,IN-DK4748554,TIN-DK4748554,,Invoice,3/31/2020,Mar-20,Due on receipt,3/31/2020,...,NaN,0.00,0.0,NaN,0.0,NaN,0.0,0.0,Travel Bill,None
61932,None,- None -,IN-DK4748555,TIN-DK4748555,,Invoice,3/31/2020,Mar-20,Net 10,3/31/2020,...,NaN,-5424.95,NaN,NaN,0.0,NaN,NaN,0.0,Travel Bill,None
62106,None,- None -,XXXXXXXXXXX3103- V-Pay,BC-DK0126114,,Bill Credit,3/31/2020,Mar-20,- None -,NaN,...,75177.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travel Bill,None

In [72]:
vat[vat["Comment"] == "VAT"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
100,CI,00382109513-1289068-005-001-CI,IN-DK4695538,TIN-DK4695538,,Invoice,3/1/2020,Mar-20,Net 45,3/31/2020,...,NaN,0.0,-275.0,NaN,-68.75,0.25,-275.0,-275.0,VAT,Domestic 25%
175,CI,00381020821-1289066-002-001-CI,IN-DK4695613,TIN-DK4695613,,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-275.0,NaN,-68.75,0.25,-275.0,-275.0,VAT,Domestic 25%
176,CI,00381021244-1289065-002-001-CI,IN-DK4695614,TIN-DK4695614,,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-275.0,NaN,-68.75,0.25,-275.0,-275.0,VAT,Domestic 25%
178,CI,00381034532-1289033-007-001-CI,IN-DK4695616,TIN-DK4695616,,Invoice,3/1/2020,Mar-20,Net 45,3/31/2020,...,NaN,0.0,-187.0,NaN,-46.75,0.25,-187.0,-187.0,VAT,Domestic 25%
182,CI,00381306870-1289037-007-001-CI,IN-DK4695620,TIN-DK4695620,,Invoice,3/1/2020,Mar-20,- None -,3/31/2020,...,NaN,0.0,-275.0,NaN,-68.75,0.25,-275.0,-275.0,VAT,Domestic 25%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61885,CI,00383800495-1308241-002-001-CI,IN-DK4748508,TIN-DK4748508,Invoice #IN-DK4748437,Invoice,3/31/2020,Mar-20,Due on receipt,4/30/2020,...,NaN,0.0,-254.0,NaN,-63.50,0.25,-254.0,-254.0,VAT,Domestic 25%
61916,CI,00383104888-1308247-016-001-CI,IN-DK4748539,TIN-DK4748539,Invoice #IN-DK4748533,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-86.0,NaN,-21.50,0.25,-86.0,-86.0,VAT,Domestic 25%
61918,CI,00383801125-1308248-002-001-CI,IN-DK4748541,TIN-DK4748541,Invoice #IN-DK4748527,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-178.0,NaN,-44.50,0.25,-178.0,-178.0,VAT,Domestic 25%
61919,CI,00383801168-1308249-002-001-CI,IN-DK4748542,TIN-DK4748542,Invoice #IN-DK4748528,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-254.0,NaN,-63.50,0.25,-254.0,-254.0,VAT,Domestic 25%
61920,CI,00383749923-1308250-008-001-CI,IN-DK4748543,TIN-DK4748543,Invoice #IN-DK4748540,Invoice,3/31/2020,Mar-20,- None -,4/30/2020,...,NaN,0.0,-254.0,NaN,-63.50,0.25,-254.0,-254.0,VAT,Domestic 25%

In [77]:
vat.pivot_table(index='Comment', values=['Sum of Income', 'Correct revenue', 'Sum of VAT'], aggfunc='sum')

,Correct revenue,Sum of Income,Sum of VAT
Comment,,,
0% VAT Denmark,0.00,-1653904.88,0.00
Hotel Commission,-81618.76,-336023.41,-20404.69
IC invoice EU/Outside,0.00,-942564.64,0.00
Intercompany,0.00,47703.39,0.00
JE-transactions-no vat,0.00,629257.19,0.00
Linked invoice,0.00,2877895.58,0.00
Neo Travel Expense no vat,0.00,0.00,0.00
Procurement inv,0.00,1600.00,0.00
Reverse charge booked automatically in Netsuite,-287115.28,0.00,-71778.82
Travel Bill,0.00,-3642805.12,0.00
VAT,-4338943.64,-1903944.90,-1084735.91

In [74]:
#excel_file = pd.ExcelWriter("Darko VAT7.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()