In [1]:
import pandas as pd
import numpy as np

In [2]:
vat = pd.read_csv("purchase_april_2020.csv")
vat.head(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Vendor Category,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,Coupa,...,NaN,NaN,DK-S,- None -,NaN,-205.75,NaN,NaN,164.60,41.15
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,Coupa,...,NaN,NaN,DK-S,- None -,NaN,-102.88,NaN,NaN,82.30,20.58
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,11.03,NaN,NaN,NaN,-11.03,NaN

In [3]:
vat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1662 entries, 0 to 1661
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          1662 non-null   object
 1   Document Number                      1661 non-null   object
 2   Transaction Number                   1661 non-null   object
 3   Maximum of Linked Invoice            1661 non-null   object
 4   Type                                 1661 non-null   object
 5   Date                                 1661 non-null   object
 6   Period                               1661 non-null   object
 7   Terms                                1661 non-null   object
 8   Maximum of Due Date/Receive By       173 non-null    object
 9   Vendor Category                      1661 non-null   object
 10  Vendor Name                          1661 non-null   object
 11  Vendor Number                        0 non-null      float64
 12  Company Name                         1661 non-null   object
 13  Vendor VAT Registration Number       1661 non-null   object
 14  Vendor Billing Address               1661 non-null   object
 15  Vendor Billing Country               1661 non-null   object
 16  Bill to City                         1661 non-null   object
 17  Bill to State                        1661 non-null   object
 18  Bill to Country                      1661 non-null   object
 19  Bill to Zip                          1661 non-null   object
 20  Source System                        1661 non-null   object
 21  Source System Identifier             1661 non-null   object
 22  City                                 1661 non-null   object
 23  State/Province                       1661 non-null   object
 24  Country                              1661 non-null   object
 25  Zip                                  1661 non-null   object
 26  Currency                             1661 non-null   object
 27  Memo (Main)                          1661 non-null   object
 28  Maximum of GMAX Tax Code             0 non-null      float64
 29  Maximum of NetSuite Tax Item         521 non-null    object
 30  Maximum of Coupa Tax Code            0 non-null      float64
 31  Maximum of External System Tax Code  0 non-null      float64
 32  Maximum of Tax Code (Consolidated)   521 non-null    object
 33  FOP Type                             1661 non-null   object
 34  Sum of Asset                         773 non-null    float64
 35  Sum of Accounts Payable              351 non-null    float64
 36  Sum of Other Liabilities             766 non-null    float64
 37  Sum of Income                        839 non-null    float64
 38  Sum of Expense                       305 non-null    float64
 39  Sum of VAT                           251 non-null    float64
dtypes: float64(10), object(30)
memory usage: 519.5+ KB

In [4]:
mask1 = vat[vat["External ID"].str.contains("clearing")].index
mask2 = vat[vat["External ID"].str.contains("Cross")].index
mask3 = vat[vat["Type"] == "Currency Revaluation"].index

In [5]:
mask2

Int64Index([1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601], dtype='int64')

In [6]:
mask3

Int64Index([  63,   64,   74,   75,   76,   77,   78,   79,   80,   81,
            ...
            1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377],
           dtype='int64', length=106)

In [7]:
vat.drop(mask1, inplace=True)

In [8]:
vat.drop(mask2, inplace=True)

In [9]:
vat.drop(mask3, inplace=True)

In [10]:
mask1

Int64Index([1619], dtype='int64')

In [11]:
1620 in vat.index

True

In [12]:
vat.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661],
           dtype='int64', length=1547)

In [13]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Vendor Category,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
1659,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,NaN,-17945.13,-4486.28,NaN,17945.13,4486.28
1660,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,NaN,-3189.44,-797.36,NaN,3189.44,797.36
1661,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3042599.15,-2819766.91,-2407502.12,-3285689.99,5470359.87,0.00

In [14]:
vat.drop(index=1661, inplace=True)

In [15]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Vendor Category,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
1658,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,NaN,-45880.50,-11470.13,NaN,45880.50,11470.13
1659,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,NaN,-17945.13,-4486.28,NaN,17945.13,4486.28
1660,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,NaN,-3189.44,-797.36,NaN,3189.44,797.36

In [16]:
vat[["Sum of Asset","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(axis= "rows")

Sum of Asset                3106473.50
Sum of Accounts Payable    -2824658.49
Sum of Other Liabilities   -2832348.68
Sum of Income              -3285689.99
Sum of Expense              5416357.56
Sum of VAT                   419866.10
dtype: float64

In [17]:
#Summerize the last row
#vat.loc["Totals"] = pd.Series(vat[["Sum of Asset","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(), index = ["Sum of Asset","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"])

In [18]:
#vat.drop(index='Totals', inplace=True)

In [19]:
vat['Sum of VAT'].fillna(0, inplace=True)

In [20]:
def vat_amount(row):
    
    vat = row[39]
    
    if vat >0:
        return 'VAT'
    elif vat <0:
        return 'VAT'
    else:
        return 'Transactions 0DKK'

vat['Comments'] = vat.apply(vat_amount, axis='columns')

In [21]:
vat.head(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Vendor Category,...,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,Coupa,...,NaN,DK-S,- None -,NaN,-205.75,NaN,NaN,164.60,41.15,VAT
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,Coupa,...,NaN,DK-S,- None -,NaN,-102.88,NaN,NaN,82.30,20.58,VAT
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,NaN,NaN,- None -,11.03,NaN,NaN,NaN,-11.03,0.00,Transactions 0DKK

In [22]:
vat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1546 entries, 0 to 1660
Data columns (total 41 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          1546 non-null   object
 1   Document Number                      1546 non-null   object
 2   Transaction Number                   1546 non-null   object
 3   Maximum of Linked Invoice            1546 non-null   object
 4   Type                                 1546 non-null   object
 5   Date                                 1546 non-null   object
 6   Period                               1546 non-null   object
 7   Terms                                1546 non-null   object
 8   Maximum of Due Date/Receive By       173 non-null    object
 9   Vendor Category                      1546 non-null   object
 10  Vendor Name                          1546 non-null   object
 11  Vendor Number                        0 non-null      float64
 12  Company Name                         1546 non-null   object
 13  Vendor VAT Registration Number       1546 non-null   object
 14  Vendor Billing Address               1546 non-null   object
 15  Vendor Billing Country               1546 non-null   object
 16  Bill to City                         1546 non-null   object
 17  Bill to State                        1546 non-null   object
 18  Bill to Country                      1546 non-null   object
 19  Bill to Zip                          1546 non-null   object
 20  Source System                        1546 non-null   object
 21  Source System Identifier             1546 non-null   object
 22  City                                 1546 non-null   object
 23  State/Province                       1546 non-null   object
 24  Country                              1546 non-null   object
 25  Zip                                  1546 non-null   object
 26  Currency                             1546 non-null   object
 27  Memo (Main)                          1546 non-null   object
 28  Maximum of GMAX Tax Code             0 non-null      float64
 29  Maximum of NetSuite Tax Item         521 non-null    object
 30  Maximum of Coupa Tax Code            0 non-null      float64
 31  Maximum of External System Tax Code  0 non-null      float64
 32  Maximum of Tax Code (Consolidated)   521 non-null    object
 33  FOP Type                             1546 non-null   object
 34  Sum of Asset                         749 non-null    float64
 35  Sum of Accounts Payable              306 non-null    float64
 36  Sum of Other Liabilities             752 non-null    float64
 37  Sum of Income                        838 non-null    float64
 38  Sum of Expense                       248 non-null    float64
 39  Sum of VAT                           1546 non-null   float64
 40  Comments                             1546 non-null   object
dtypes: float64(10), object(31)
memory usage: 507.3+ KB

In [23]:
vat.insert(0, column = "External name", value = vat['External ID'].str.extract('([A-Z]\w{0,})', expand=True))

In [24]:
vat['Comment 2']=''

In [25]:
vat['VAT reverse charge']=''

In [26]:
vat['VAT No']=''

In [27]:
vat.columns

Index(['External name', 'External ID', 'Document Number', 'Transaction Number',
       'Maximum of Linked Invoice', 'Type', 'Date', 'Period', 'Terms',
       'Maximum of Due Date/Receive By', 'Vendor Category', 'Vendor Name',
       'Vendor Number', 'Company Name', 'Vendor VAT Registration Number',
       'Vendor Billing Address', 'Vendor Billing Country', 'Bill to City',
       'Bill to State', 'Bill to Country', 'Bill to Zip', 'Source System',
       'Source System Identifier', 'City', 'State/Province', 'Country', 'Zip',
       'Currency', 'Memo (Main)', 'Maximum of GMAX Tax Code',
       'Maximum of NetSuite Tax Item', 'Maximum of Coupa Tax Code',
       'Maximum of External System Tax Code',
       'Maximum of Tax Code (Consolidated)', 'FOP Type', 'Sum of Asset',
       'Sum of Accounts Payable', 'Sum of Other Liabilities', 'Sum of Income',
       'Sum of Expense', 'Sum of VAT', 'Comments', 'Comment 2',
       'VAT reverse charge', 'VAT No'],
      dtype='object')

In [28]:
 vat.loc[((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comments'] == "VAT") &
        (vat['External name'] == 'GBTICJE'), "Comments"] = 'IC reverse charge EU/Outside'
vat[vat["Comments"] == "IC reverse charge EU/Outside"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
1497,GBTICJE,GBTICJE-IDENTIFIERG-ID2160191,JE-DK0291950,TJE-DK0291950,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-8502.35,-2125.59,NaN,8502.35,2125.59,IC reverse charge EU/Outside,,,
1634,GBTICJE,GBTICJE-IDENTIFIERB-ID2149599,JE-NL1266280,TJE-NL0156204,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-69613.36,-17403.34,NaN,69613.36,17403.34,IC reverse charge EU/Outside,,,
1635,GBTICJE,GBTICJE-IDENTIFIERB-ID2149601,JE-NL1266283,TJE-NL0156207,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-17181.22,-4295.31,NaN,17181.22,4295.31,IC reverse charge EU/Outside,,,
1636,GBTICJE,GBTICJE-IDENTIFIERB-ID2149887,JE-NL1266293,TJE-NL0156216,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-19453.27,-4863.32,NaN,19453.27,4863.32,IC reverse charge EU/Outside,,,
1637,GBTICJE,GBTICJE-IDENTIFIERB-ID2149893,JE-NL1266296,TJE-NL0156220,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-18845.42,-4711.36,NaN,18845.42,4711.36,IC reverse charge EU/Outside,,,
1638,GBTICJE,GBTICJE-IDENTIFIERB-ID2149891,JE-NL1266297,TJE-NL0156221,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-19453.27,-4863.32,NaN,19453.27,4863.32,IC reverse charge EU/Outside,,,
1639,GBTICJE,GBTICJE-IDENTIFIERB-ID2154392,JE-NL1266531,TJE-NL0156455,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-11482.79,-2870.70,NaN,11482.79,2870.70,IC reverse charge EU/Outside,,,
1640,GBTICJE,GBTICJE-IDENTIFIERB-ID2154390,JE-NL1266533,TJE-NL0156457,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-13837.73,-3459.43,NaN,13837.73,3459.43,IC reverse charge EU/Outside,,,
1641,GBTICJE,GBTICJE-IDENTIFIERB-ID2154454,JE-NL1266593,TJE-NL0156517,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-803.81,-200.95,NaN,803.81,200.95,IC reverse charge EU/Outside,,,
1642,GBTICJE,GBTICJE-IDENTIFIERB-ID2154455,JE-NL1266594,TJE-NL0156518,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-968.65,-242.16,NaN,968.65,242.16,IC reverse charge EU/Outside,,,
1652,GBTICJE,GBTICJE-IDENTIFIERB-ID2162489,JE-NL1267390,TJE-NL0157314,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-6803.68,-1700.92,NaN,6803.68,1700.92,IC reverse charge EU/Outside,,,
1656,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-1986.30,-496.58,NaN,1986.30,496.58,IC reverse charge EU/Outside,,,
1657,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-3036.84,-759.21,NaN,3036.84,759.21,IC reverse charge EU/Outside,,,
1658,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-45880.50,-11470.13,NaN,45880.50,11470.13,IC reverse charge EU/Outside,,,
1659,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-17945.13,-4486.28,NaN,17945.13,4486.28,IC reverse charge EU/Outside,,,
1660,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-3189.44,-797.36,NaN,3189.44,797.36,IC reverse charge EU/Outside,,,

In [29]:
 vat.loc[((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comments'] == "IC reverse charge EU/Outside") &
        (vat['External name'] == 'GBTICJE'), "VAT reverse charge"] = 'Reverse charge booked automatically in Netsuite'
vat[vat["VAT reverse charge"] == "Reverse charge booked automatically in Netsuite"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
1497,GBTICJE,GBTICJE-IDENTIFIERG-ID2160191,JE-DK0291950,TJE-DK0291950,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-8502.35,-2125.59,NaN,8502.35,2125.59,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1634,GBTICJE,GBTICJE-IDENTIFIERB-ID2149599,JE-NL1266280,TJE-NL0156204,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-69613.36,-17403.34,NaN,69613.36,17403.34,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1635,GBTICJE,GBTICJE-IDENTIFIERB-ID2149601,JE-NL1266283,TJE-NL0156207,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-17181.22,-4295.31,NaN,17181.22,4295.31,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1636,GBTICJE,GBTICJE-IDENTIFIERB-ID2149887,JE-NL1266293,TJE-NL0156216,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-19453.27,-4863.32,NaN,19453.27,4863.32,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1637,GBTICJE,GBTICJE-IDENTIFIERB-ID2149893,JE-NL1266296,TJE-NL0156220,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-18845.42,-4711.36,NaN,18845.42,4711.36,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1638,GBTICJE,GBTICJE-IDENTIFIERB-ID2149891,JE-NL1266297,TJE-NL0156221,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-19453.27,-4863.32,NaN,19453.27,4863.32,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1639,GBTICJE,GBTICJE-IDENTIFIERB-ID2154392,JE-NL1266531,TJE-NL0156455,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-11482.79,-2870.70,NaN,11482.79,2870.70,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1640,GBTICJE,GBTICJE-IDENTIFIERB-ID2154390,JE-NL1266533,TJE-NL0156457,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-13837.73,-3459.43,NaN,13837.73,3459.43,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1641,GBTICJE,GBTICJE-IDENTIFIERB-ID2154454,JE-NL1266593,TJE-NL0156517,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-803.81,-200.95,NaN,803.81,200.95,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1642,GBTICJE,GBTICJE-IDENTIFIERB-ID2154455,JE-NL1266594,TJE-NL0156518,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-968.65,-242.16,NaN,968.65,242.16,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1652,GBTICJE,GBTICJE-IDENTIFIERB-ID2162489,JE-NL1267390,TJE-NL0157314,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-6803.68,-1700.92,NaN,6803.68,1700.92,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1656,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-1986.30,-496.58,NaN,1986.30,496.58,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1657,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-3036.84,-759.21,NaN,3036.84,759.21,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1658,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-45880.50,-11470.13,NaN,45880.50,11470.13,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1659,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-17945.13,-4486.28,NaN,17945.13,4486.28,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1660,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-3189.44,-797.36,NaN,3189.44,797.36,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,

In [30]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['Source System'].isin(['Procurement']) &
        (vat['Bill to Country'].isin(['Denmark']))), 'Comments'] = 'Procurement-Denmark 0% VAT'
vat[vat["Comments"] == "Procurement-Denmark 0% VAT"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
27,None,- None -,8035674,BL-DK0409122,,Bill,2/20/2020,Apr-20,Net 15,3/6/2020,...,NaN,-22851.25,NaN,NaN,22851.25,0.0,Procurement-Denmark 0% VAT,,,
57,None,- None -,000000073489628E,BL-DK0409021,,Bill,3/25/2020,Apr-20,Due on receipt,3/25/2020,...,NaN,-153980.85,NaN,NaN,153980.85,0.0,Procurement-Denmark 0% VAT,,,
664,None,- None -,4325998,BL-DK0409075,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,NaN,-3261.63,NaN,NaN,3261.63,0.0,Procurement-Denmark 0% VAT,,,
666,None,- None -,4326000,BL-DK0409073,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,NaN,-3104.05,NaN,NaN,3104.05,0.0,Procurement-Denmark 0% VAT,,,

In [31]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['Source System'].isin(['Procurement']) &
        (~vat['Bill to Country'].isin(['Denmark']))), 'Comments'] = 'Procurement-EU/Outside Reverse charge'
vat[vat["Comments"] == "Procurement-EU/Outside Reverse charge"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
33,None,- None -,6710014110,BL-DK0408586,,Bill,2/26/2020,Apr-20,Due on receipt,2/26/2020,...,NaN,-54500.12,NaN,NaN,54500.12,0.0,Procurement-EU/Outside Reverse charge,,,
49,None,- None -,1127,BL-DK0409040,,Bill,3/14/2020,Apr-20,Net 30,4/13/2020,...,4086.12,-4086.12,NaN,NaN,NaN,0.0,Procurement-EU/Outside Reverse charge,,,
58,None,- None -,6710014286,BL-DK0409063,,Bill,3/26/2020,Apr-20,Due on receipt,3/26/2020,...,NaN,-51642.76,NaN,NaN,51642.76,0.0,Procurement-EU/Outside Reverse charge,,,
61,None,- None -,12488,BL-DK0409058,,Bill,3/31/2020,Apr-20,Net 60,5/30/2020,...,NaN,-16771.41,NaN,NaN,16771.41,0.0,Procurement-EU/Outside Reverse charge,,,
66,None,- None -,498350,BL-DK0409059,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-21566.48,NaN,NaN,21566.48,0.0,Procurement-EU/Outside Reverse charge,,,
67,None,- None -,498351,BL-DK0409025,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-82237.88,NaN,NaN,82237.88,0.0,Procurement-EU/Outside Reverse charge,,,
68,None,- None -,498352,BL-DK0409023,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-8055.16,NaN,NaN,8055.16,0.0,Procurement-EU/Outside Reverse charge,,,
69,None,- None -,498353,BL-DK0409024,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-1684.07,NaN,NaN,1684.07,0.0,Procurement-EU/Outside Reverse charge,,,
125,None,- None -,4561,BL-DK0408984,,Bill,4/1/2020,Apr-20,Net 30,5/1/2020,...,NaN,-4959.48,NaN,NaN,4959.48,0.0,Procurement-EU/Outside Reverse charge,,,
283,None,- None -,202004002,BL-DK0409007,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,NaN,-354264.28,NaN,NaN,354264.28,0.0,Procurement-EU/Outside Reverse charge,,,
284,None,- None -,202004003,BL-DK0409008,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,NaN,-70852.86,NaN,NaN,70852.86,0.0,Procurement-EU/Outside Reverse charge,,,

In [32]:
## DOES NOT WORK IN THIS CASE

# def proc(row):
    
#     check =row[41]
    
#     if check == 'Procurement-EU/Outside Reverse charge':
#         return vat["Sum of Accounts Payable"] * 0.25
#     else:
#         return ''

    
# vat["VAT reverse charge"] = vat["Comments"].apply(proc)

In [33]:
## DOES NOT WORK IN THIS CASE

# def applyFunc(s):
#     if s == "Procurement-EU/Outside Reverse charge":
#         return vat["Sum of Accounts Payable"] * 0.25
    

# vat["VAT reverse charge"] = vat["Comments"].apply(applyFunc)

In [34]:
#This Method worksin this case
vat['VAT reverse charge'] = np.where(vat['Comments'] == 'Procurement-EU/Outside Reverse charge',vat['Sum of Accounts Payable'] * 0.25, vat['VAT reverse charge'])

In [35]:
#tip from internet
#df.loc[df['product']=='a', ['market_penetration_rate', 'success_rate']] * 100

In [36]:
#tip from internet
# df.apply(lambda row: row[['success_rate', 'market_penetration_rate']]*100 if row['product'] == 'a' 
#      else row[['success_rate', 'market_penetration_rate']], axis=1)

In [37]:
vat[vat["Comments"] == "Procurement-EU/Outside Reverse charge"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
33,None,- None -,6710014110,BL-DK0408586,,Bill,2/26/2020,Apr-20,Due on receipt,2/26/2020,...,NaN,-54500.12,NaN,NaN,54500.12,0.0,Procurement-EU/Outside Reverse charge,,-13625,
49,None,- None -,1127,BL-DK0409040,,Bill,3/14/2020,Apr-20,Net 30,4/13/2020,...,4086.12,-4086.12,NaN,NaN,NaN,0.0,Procurement-EU/Outside Reverse charge,,-1021.53,
58,None,- None -,6710014286,BL-DK0409063,,Bill,3/26/2020,Apr-20,Due on receipt,3/26/2020,...,NaN,-51642.76,NaN,NaN,51642.76,0.0,Procurement-EU/Outside Reverse charge,,-12910.7,
61,None,- None -,12488,BL-DK0409058,,Bill,3/31/2020,Apr-20,Net 60,5/30/2020,...,NaN,-16771.41,NaN,NaN,16771.41,0.0,Procurement-EU/Outside Reverse charge,,-4192.85,
66,None,- None -,498350,BL-DK0409059,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-21566.48,NaN,NaN,21566.48,0.0,Procurement-EU/Outside Reverse charge,,-5391.62,
67,None,- None -,498351,BL-DK0409025,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-82237.88,NaN,NaN,82237.88,0.0,Procurement-EU/Outside Reverse charge,,-20559.5,
68,None,- None -,498352,BL-DK0409023,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-8055.16,NaN,NaN,8055.16,0.0,Procurement-EU/Outside Reverse charge,,-2013.79,
69,None,- None -,498353,BL-DK0409024,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,NaN,-1684.07,NaN,NaN,1684.07,0.0,Procurement-EU/Outside Reverse charge,,-421.017,
125,None,- None -,4561,BL-DK0408984,,Bill,4/1/2020,Apr-20,Net 30,5/1/2020,...,NaN,-4959.48,NaN,NaN,4959.48,0.0,Procurement-EU/Outside Reverse charge,,-1239.87,
283,None,- None -,202004002,BL-DK0409007,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,NaN,-354264.28,NaN,NaN,354264.28,0.0,Procurement-EU/Outside Reverse charge,,-88566.1,
284,None,- None -,202004003,BL-DK0409008,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,NaN,-70852.86,NaN,NaN,70852.86,0.0,Procurement-EU/Outside Reverse charge,,-17713.2,

In [38]:
vat.tail(3)

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
1658,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-45880.50,-11470.13,NaN,45880.50,11470.13,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1659,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-17945.13,-4486.28,NaN,17945.13,4486.28,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,
1660,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-3189.44,-797.36,NaN,3189.44,797.36,IC reverse charge EU/Outside,,Reverse charge booked automatically in Netsuite,

In [39]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['Source System'].isin(['NEO'])), 'Comments'] = 'Neo travel expense - no vat'
vat[vat["Comments"] == "Neo travel expense - no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
121,KDS_Exp_VB_342338,KDS_Exp_VB_342338,342338,BL-DK0408974,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,NaN,-1050.00,NaN,NaN,1050.00,0.0,Neo travel expense - no vat,,,
122,KDS_Exp_VB_342343,KDS_Exp_VB_342343,342343,BL-DK0408975,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,NaN,-85.60,NaN,NaN,85.60,0.0,Neo travel expense - no vat,,,
123,KDS_Exp_VB_349172,KDS_Exp_VB_349172,349172,BL-DK0408976,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,NaN,-472.22,NaN,NaN,472.22,0.0,Neo travel expense - no vat,,,
124,KDS_Exp_VB_354752,KDS_Exp_VB_354752,354752,BL-DK0408977,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,NaN,0.00,NaN,NaN,0.00,0.0,Neo travel expense - no vat,,,
192,KDS_Exp_VB_342340,KDS_Exp_VB_342340,342340,BL-DK0408988,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,NaN,-13226.00,NaN,NaN,13226.00,0.0,Neo travel expense - no vat,,,
193,KDS_Exp_VB_354845,KDS_Exp_VB_354845,354845,BL-DK0408989,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,NaN,-938.84,NaN,NaN,938.84,0.0,Neo travel expense - no vat,,,
246,KDS_Exp_VB_355496,KDS_Exp_VB_355496,355496,BL-DK0408995,,Bill,4/4/2020,Apr-20,Due on receipt,4/4/2020,...,NaN,-499.00,NaN,NaN,499.00,0.0,Neo travel expense - no vat,,,
252,KDS_Exp_JE_342325__OOP,KDS_Exp_JE_342325__OOP,JE-DK0290837,TJE-DK0290837,,Journal,4/4/2020,Apr-20,- None -,NaN,...,NaN,NaN,-1075.00,NaN,1075.00,0.0,Neo travel expense - no vat,,,
305,KDS_Exp_VC_354883,KDS_Exp_VC_354883,354883,BC-DK0126122,,Bill Credit,4/7/2020,Apr-20,- None -,NaN,...,NaN,1702.00,NaN,NaN,-1702.00,0.0,Neo travel expense - no vat,,,
727,KDS_Exp_JE_357506__OOP,KDS_Exp_JE_357506__OOP,JE-DK0291129,TJE-DK0291129,,Journal,4/21/2020,Apr-20,- None -,NaN,...,NaN,NaN,-368.99,NaN,368.99,0.0,Neo travel expense - no vat,,,
814,KDS_Exp_VC_8006463,KDS_Exp_VC_8006463.2020-04-23-1-CR,8006463.2020-04-23-1-CR,BC-DK0126127,,Bill Credit,4/23/2020,Apr-20,- None -,NaN,...,NaN,131652.31,-131652.31,NaN,NaN,0.0,Neo travel expense - no vat,,,
1029,KDS_Exp_VC_8006463,KDS_Exp_VC_8006463.2020-04-28-1-CR,8006463.2020-04-28-1-CR,BC-DK0126128,,Bill Credit,4/28/2020,Apr-20,- None -,NaN,...,NaN,8059.05,-8059.05,NaN,NaN,0.0,Neo travel expense - no vat,,,

In [40]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].notnull()), 'Comments'] = 'IC Invoice - EU Sales/IC Invoice - Outside EU'
vat[vat["Comments"] == "IC Invoice - EU Sales/IC Invoice - Outside EU"]
#'DK-S : DK-ESSS', 'DK-OS'

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
1366,GBTICJE,GBTICJE-IDENTIFIERB-ID2155588,JE-NL1266697,TJE-NL0156621,,Journal,4/29/2020,Apr-20,- None -,NaN,...,NaN,-40252.64,0.0,40252.64,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1381,GBTICJE,GBTICJE-IDENTIFIERA-ID2149906,JE-DK0291253,TJE-DK0291253,,Journal,4/30/2020,Apr-20,- None -,NaN,...,2707.17,NaN,0.0,-2707.17,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1382,GBTICJE,GBTICJE-IDENTIFIERA-ID2149898,JE-DK0291254,TJE-DK0291254,,Journal,4/30/2020,Apr-20,- None -,NaN,...,809.04,NaN,0.0,-809.04,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1383,GBTICJE,GBTICJE-IDENTIFIERA-ID2149897,JE-DK0291255,TJE-DK0291255,,Journal,4/30/2020,Apr-20,- None -,NaN,...,2240.42,NaN,0.0,-2240.42,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1384,GBTICJE,GBTICJE-IDENTIFIERA-ID2149899,JE-DK0291256,TJE-DK0291256,,Journal,4/30/2020,Apr-20,- None -,NaN,...,1991.48,NaN,0.0,-1991.48,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1385,GBTICJE,GBTICJE-IDENTIFIERA-ID2149901,JE-DK0291257,TJE-DK0291257,,Journal,4/30/2020,Apr-20,- None -,NaN,...,217.82,NaN,0.0,-217.82,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1386,GBTICJE,GBTICJE-IDENTIFIERA-ID2149900,JE-DK0291258,TJE-DK0291258,,Journal,4/30/2020,Apr-20,- None -,NaN,...,116750.71,NaN,0.0,-116750.71,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1387,GBTICJE,GBTICJE-IDENTIFIERA-ID2149902,JE-DK0291259,TJE-DK0291259,,Journal,4/30/2020,Apr-20,- None -,NaN,...,403679.89,NaN,0.0,-403679.89,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1388,GBTICJE,GBTICJE-IDENTIFIERA-ID2149903,JE-DK0291260,TJE-DK0291260,,Journal,4/30/2020,Apr-20,- None -,NaN,...,6285.62,NaN,0.0,-6285.62,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1389,GBTICJE,GBTICJE-IDENTIFIERA-ID2149904,JE-DK0291261,TJE-DK0291261,,Journal,4/30/2020,Apr-20,- None -,NaN,...,373.40,NaN,0.0,-373.40,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1390,GBTICJE,GBTICJE-IDENTIFIERA-ID2149905,JE-DK0291262,TJE-DK0291262,,Journal,4/30/2020,Apr-20,- None -,NaN,...,65283.31,NaN,0.0,-65283.31,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1391,GBTICJE,GBTICJE-IDENTIFIERA-ID2149908,JE-DK0291263,TJE-DK0291263,,Journal,4/30/2020,Apr-20,- None -,NaN,...,11139.86,NaN,0.0,-11139.86,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1392,GBTICJE,GBTICJE-IDENTIFIERA-ID2149907,JE-DK0291264,TJE-DK0291264,,Journal,4/30/2020,Apr-20,- None -,NaN,...,3609.56,NaN,0.0,-3609.56,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1393,GBTICJE,GBTICJE-IDENTIFIERA-ID2149909,JE-DK0291265,TJE-DK0291265,,Journal,4/30/2020,Apr-20,- None -,NaN,...,11980.02,NaN,0.0,-11980.02,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1394,GBTICJE,GBTICJE-IDENTIFIERA-ID2149910,JE-DK0291266,TJE-DK0291266,,Journal,4/30/2020,Apr-20,- None -,NaN,...,27040.61,NaN,0.0,-27040.61,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1395,GBTICJE,GBTICJE-IDENTIFIERA-ID2149911,JE-DK0291267,TJE-DK0291267,,Journal,4/30/2020,Apr-20,- None -,NaN,...,12602.36,NaN,0.0,-12602.36,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1396,GBTICJE,GBTICJE-IDENTIFIERA-ID2149912,JE-DK0291268,TJE-DK0291268,,Journal,4/30/2020,Apr-20,- None -,NaN,...,5943.33,NaN,0.0,-5943.33,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1397,GBTICJE,GBTICJE-IDENTIFIERA-ID2149913,JE-DK0291269,TJE-DK0291269,,Journal,4/30/2020,Apr-20,- None -,NaN,...,9957.42,NaN,0.0,-9957.42,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1398,GBTICJE,GBTICJE-IDENTIFIERA-ID2149914,JE-DK0291270,TJE-DK0291270,,Journal,4/30/2020,Apr-20,- None -,NaN,...,75085.14,NaN,0.0,-75085.14,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1399,GBTICJE,GBTICJE-IDENTIFIERA-ID2149916,JE-DK0291271,TJE-DK0291271,,Journal,4/30/2020,Apr-20,- None -,NaN,...,59028.81,NaN,0.0,-59028.81,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1400,GBTICJE,GBTICJE-IDENTIFIERA-ID2149915,JE-DK0291272,TJE-DK0291272,,Journal,4/30/2020,Apr-20,- None -,NaN,...,4947.59,NaN,0.0,-4947.59,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1401,GBTICJE,GBTICJE-IDENTIFIERA-ID2149918,JE-DK0291273,TJE-DK0291273,,Journal,4/30/2020,Apr-20,- None -,NaN,...,62.23,NaN,0.0,-62.23,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1402,GBTICJE,GBTICJE-IDENTIFIERA-ID2149917,JE-DK0291274,TJE-DK0291274,,Journal,4/30/2020,Apr-20,- None -,NaN,...,10486.40,NaN,0.0,-10486.40,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1403,GBTICJE,GBTICJE-IDENTIFIERA-ID2149920,JE-DK0291275,TJE-DK0291275,,Journal,4/30/2020,Apr-20,- None -,NaN,...,3018.34,NaN,0.0,-3018.34,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1404,GBTICJE,GBTICJE-IDENTIFIERA-ID2149922,JE-DK0291276,TJE-DK0291276,,Journal,4/30/2020,Apr-20,- None -,NaN,...,11980.02,NaN,0.0,-11980.02,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1405,GBTICJE,GBTICJE-IDENTIFIERA-ID2149923,JE-DK0291277,TJE-DK0291277,,Journal,4/30/2020,Apr-20,- None -,NaN,...,31210.28,NaN,0.0,-31210.28,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1406,GBTICJE,GBTICJE-IDENTIFIERA-ID2149925,JE-DK0291278,TJE-DK0291278,,Journal,4/30/2020,Apr-20,- None -,NaN,...,1711.43,NaN,0.0,-1711.43,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1407,GBTICJE,GBTICJE-IDENTIFIERA-ID2149924,JE-DK0291279,TJE-DK0291279,,Journal,4/30/2020,Apr-20,- None -,NaN,...,1213.56,NaN,0.0,-1213.56,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1408,GBTICJE,GBTICJE-IDENTIFIERA-ID2149919,JE-DK0291280,TJE-DK0291280,,Journal,4/30/2020,Apr-20,- None -,NaN,...,528.99,NaN,0.0,-528.99,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1409,GBTICJE,GBTICJE-IDENTIFIERA-ID2149921,JE-DK0291281,TJE-DK0291281,,Journal,4/30/2020,Apr-20,- None -,NaN,...,62.23,NaN,0.0,-62.23,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1410,GBTICJE,GBTICJE-IDENTIFIERA-ID2149929,JE-DK0291282,TJE-DK0291282,,Journal,4/30/2020,Apr-20,- None -,NaN,...,6472.32,NaN,0.0,-6472.32,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1411,GBTICJE,GBTICJE-IDENTIFIERA-ID2149930,JE-DK0291283,TJE-DK0291283,,Journal,4/30/2020,Apr-20,- None -,NaN,...,1618.08,NaN,0.0,-1618.08,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1412,GBTICJE,GBTICJE-IDENTIFIERA-ID2149931,JE-DK0291284,TJE-DK0291284,,Journal,4/30/2020,Apr-20,- None -,NaN,...,12789.06,NaN,0.0,-12789.06,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1413,GBTICJE,GBTICJE-IDENTIFIERA-ID2149927,JE-DK0291285,TJE-DK0291285,,Journal,4/30/2020,Apr-20,- None -,NaN,...,560.10,NaN,0.0,-560.10,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1414,GBTICJE,GBTICJE-IDENTIFIERA-ID2149928,JE-DK0291286,TJE-DK0291286,,Journal,4/30/2020,Apr-20,- None -,NaN,...,53676.70,NaN,0.0,-53676.70,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1415,GBTICJE,GBTICJE-IDENTIFIERA-ID2149933,JE-DK0291287,TJE-DK0291287,,Journal,4/30/2020,Apr-20,- None -,NaN,...,8526.04,NaN,0.0,-8526.04,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1416,GBTICJE,GBTICJE-IDENTIFIERA-ID2149932,JE-DK0291288,TJE-DK0291288,,Journal,4/30/2020,Apr-20,- None -,NaN,...,41198.81,NaN,0.0,-41198.81,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,
1417,GBTICJE,GBTICJE-IDENTIFIERA-ID2149926,JE-DK0291289,TJE-DK0291289,,Journal,4/30/2020,Apr-20,- None -,NaN,...,2147.07,NaN,0.0,-2147.07,NaN,0.0,IC Invoice - EU Sales/IC Invoice - Outside EU,,,

In [41]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].isnull()), 'Comments'] = 'Intercompany no IC invoice'
vat[vat["Comments"] == "Intercompany no IC invoice"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
51,GBTICJE,GBTICJE-IDENTIFIERH-ID2143388,JE-NL1265477,TJE-NL0155401,,Journal,3/17/2020,Apr-20,- None -,NaN,...,5761.39,NaN,-5761.39,NaN,NaN,0.0,Intercompany no IC invoice,,,
52,GBTICJE,GBTICJE-IDENTIFIERH-ID2143387,JE-NL1265478,TJE-NL0155402,,Journal,3/17/2020,Apr-20,- None -,NaN,...,9432.22,NaN,-9432.22,NaN,NaN,0.0,Intercompany no IC invoice,,,
163,GBTICJE,GBTICJE-IDENTIFIERB-ID2125858,JE-NL1263885,TJE-NL0153809,,Journal,4/1/2020,Apr-20,- None -,NaN,...,NaN,-1116825.25,NaN,1116825.25,NaN,0.0,Intercompany no IC invoice,,,
164,GBTICJE,GBTICJE-IDENTIFIERH-ID2125859,JE-NL1263886,TJE-NL0153810,,Journal,4/1/2020,Apr-20,- None -,NaN,...,1005142.75,NaN,NaN,-1005142.75,NaN,0.0,Intercompany no IC invoice,,,
546,GBTICJE,GBTICJE-IDENTIFIERH-ID2137948,JE-NL1264657,TJE-NL0154581,,Journal,4/15/2020,Apr-20,- None -,NaN,...,11852.44,NaN,NaN,-11852.44,NaN,0.0,Intercompany no IC invoice,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650,GBTICJE,GBTICJE-IDENTIFIERB-ID2162295,JE-NL1267348,TJE-NL0157272,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-21778.51,NaN,NaN,21778.51,0.0,Intercompany no IC invoice,,,
1651,GBTICJE,GBTICJE-IDENTIFIERO-ID2162388,JE-NL1267370,TJE-NL0157294,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-8614.96,NaN,NaN,8614.96,0.0,Intercompany no IC invoice,,,
1653,GBTICJE,GBTICJE-IDENTIFIERB-ID2163890,JE-NL1267486,TJE-NL0157410,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-31007.51,NaN,NaN,31007.51,0.0,Intercompany no IC invoice,,,
1654,GBTICJE,GBTICJE-IDENTIFIERB-ID2165590,JE-NL1267542,TJE-NL0157466,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,-532843.66,NaN,532843.66,NaN,0.0,Intercompany no IC invoice,,,
1655,GBTICJE,GBTICJE-IDENTIFIERH-ID2165589,JE-NL1267547,TJE-NL0157471,,Journal,4/30/2020,Apr-20,- None -,NaN,...,592048.47,NaN,NaN,-592048.47,NaN,0.0,Intercompany no IC invoice,,,

In [42]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == "Transactions 0DKK") &
        (vat['Type'].isin(['Journal'])), 'Comments'] = 'JE-transactions no vat'
vat[vat["Comments"] == "JE-transactions no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
2,FA_rvig5_,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,...,11.03,NaN,NaN,NaN,-11.03,0.0,JE-transactions no vat,,,
5,ID,861_ID-31053_COGSADJ,JE-DK0292281,TJE-DK0292281,,Journal,1/28/2020,Apr-20,- None -,NaN,...,NaN,-17.47,17.47,NaN,NaN,0.0,JE-transactions no vat,,,
7,ID,841_ID-31113_COGSADJ,JE-DK0292296,TJE-DK0292296,,Journal,2/3/2020,Apr-20,- None -,NaN,...,NaN,111.08,-111.08,NaN,NaN,0.0,JE-transactions no vat,,,
8,ID,842_ID-31017_COGSADJ,JE-DK0292273,TJE-DK0292273,,Journal,2/4/2020,Apr-20,- None -,NaN,...,NaN,57.01,-57.01,NaN,NaN,0.0,JE-transactions no vat,,,
9,ID,843_ID-31026_COGSADJ,JE-DK0292275,TJE-DK0292275,,Journal,2/4/2020,Apr-20,- None -,NaN,...,NaN,57.01,-57.01,NaN,NaN,0.0,JE-transactions no vat,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,GSD_jkuper_Region,20200430_GSD_jkuper_Region Cleanup_GG210r-dk,JE-DK0292405,TJE-DK0292405,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,NaN,0.00,0.0,JE-transactions no vat,,,
1614,FINREP_FCCA,20200430_FINREP_FCCA Clearance_4042_AG2_Apr'20,JE-DK0292406,TJE-DK0292406,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-122.57,NaN,NaN,NaN,122.57,0.0,JE-transactions no vat,,,
1615,FINREP_FCCA,20200430_FINREP_FCCA Clearance_1115_AG2_Apr'20,JE-DK0292407,TJE-DK0292407,,Journal,4/30/2020,Apr-20,- None -,NaN,...,122.57,NaN,NaN,NaN,-122.57,0.0,JE-transactions no vat,,,
1616,RCL102APRIL2020,RCL102APRIL2020 1004,JE-DK0292409,TJE-DK0292409,,Journal,4/30/2020,Apr-20,- None -,NaN,...,0.00,0.00,NaN,NaN,NaN,0.0,JE-transactions no vat,,,
1618,AprHRG_DNK_TB_movement_Sales,2020AprHRG_DNK_TB_movement_Sales,JE-DK0292469,TJE-DK0292469,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,JE-transactions no vat,,,

In [43]:
## REMEMBER TO CHECK THAT ALL OF THE SPACES IN THE BLANK CELLS IN THE CSV FILE ARE REMOVED AS WELL!!!

vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == 'Transactions 0DKK') &
        (vat['Type'].isin(['Bill','Bill Credit'])) &
        (~vat['Maximum of Linked Invoice'].isin([np.nan, ' '])), 'Comments'] = 'Linked invoice'
vat[vat["Comments"] == "Linked invoice"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Vendor Category, Vendor Name, Vendor Number, Company Name, Vendor VAT Registration Number, Vendor Billing Address, Vendor Billing Country, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Asset, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, Comments, Comment 2, VAT reverse charge, VAT No]
Index: []

[0 rows x 45 columns]

In [44]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == 'Transactions 0DKK') &
        (~vat['Memo (Main)'].isin(['- None -'])), 'Comments'] = 'Travel Bill'
vat[vat["Comments"] == "Travel Bill"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
14,None,- None -,2383283/IC,BL-DK0409001,,Bill,2/6/2020,Apr-20,Net 97,5/13/2020,...,NaN,-1098.11,1098.11,NaN,NaN,0.0,Travel Bill,,,
24,None,- None -,1150247,BL-DK0409003,,Bill,2/18/2020,Apr-20,Net 30,3/19/2020,...,NaN,-2271.15,2271.15,NaN,NaN,0.0,Travel Bill,,,
30,None,- None -,- None -,BC-DK0126117,,Bill Credit,2/24/2020,Apr-20,- None -,NaN,...,NaN,1742.00,-1742.00,NaN,NaN,0.0,Travel Bill,,,
48,None,- None -,1.09108E+14,BL-DK0409002,,Bill,3/8/2020,Apr-20,Due on receipt,3/8/2020,...,NaN,-8373.86,8373.86,NaN,NaN,0.0,Travel Bill,,,
53,None,- None -,- None -,BC-DK0126118,,Bill Credit,3/19/2020,Apr-20,- None -,NaN,...,NaN,1439.00,-1439.00,NaN,NaN,0.0,Travel Bill,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,None,- None -,87292536,BL-DK0409141,,Bill,4/29/2020,Apr-20,Net 15,5/28/2020,...,NaN,-2938.41,2938.41,NaN,NaN,0.0,Travel Bill,,,
1215,None,- None -,87292664,BL-DK0409142,,Bill,4/29/2020,Apr-20,Net 15,5/29/2020,...,NaN,-2490.08,2490.08,NaN,NaN,0.0,Travel Bill,,,
1216,None,- None -,D2597032,BL-DK0409144,,Bill,4/29/2020,Apr-20,Due on receipt,4/29/2020,...,NaN,-21021.79,21021.79,NaN,NaN,0.0,Travel Bill,,,
1217,None,- None -,I09118002557694,BL-DK0409147,,Bill,4/29/2020,Apr-20,Net 15,5/4/2020,...,NaN,-2704.71,2704.71,NaN,NaN,0.0,Travel Bill,,,
1218,None,- None -,I09925000455882,BL-DK0409148,,Bill,4/29/2020,Apr-20,Net 15,5/4/2020,...,NaN,-5378.78,5378.78,NaN,NaN,0.0,Travel Bill,,,

In [45]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comments'] == 'Transactions 0DKK'), 'Comments'] = 'Travel Bill'
vat[vat["Comments"] == "Travel Bill"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Asset,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,Comments,Comment 2,VAT reverse charge,VAT No
14,None,- None -,2383283/IC,BL-DK0409001,,Bill,2/6/2020,Apr-20,Net 97,5/13/2020,...,NaN,-1098.11,1098.11,NaN,NaN,0.0,Travel Bill,,,
24,None,- None -,1150247,BL-DK0409003,,Bill,2/18/2020,Apr-20,Net 30,3/19/2020,...,NaN,-2271.15,2271.15,NaN,NaN,0.0,Travel Bill,,,
30,None,- None -,- None -,BC-DK0126117,,Bill Credit,2/24/2020,Apr-20,- None -,NaN,...,NaN,1742.00,-1742.00,NaN,NaN,0.0,Travel Bill,,,
48,None,- None -,1.09108E+14,BL-DK0409002,,Bill,3/8/2020,Apr-20,Due on receipt,3/8/2020,...,NaN,-8373.86,8373.86,NaN,NaN,0.0,Travel Bill,,,
53,None,- None -,- None -,BC-DK0126118,,Bill Credit,3/19/2020,Apr-20,- None -,NaN,...,NaN,1439.00,-1439.00,NaN,NaN,0.0,Travel Bill,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,None,- None -,87292536,BL-DK0409141,,Bill,4/29/2020,Apr-20,Net 15,5/28/2020,...,NaN,-2938.41,2938.41,NaN,NaN,0.0,Travel Bill,,,
1215,None,- None -,87292664,BL-DK0409142,,Bill,4/29/2020,Apr-20,Net 15,5/29/2020,...,NaN,-2490.08,2490.08,NaN,NaN,0.0,Travel Bill,,,
1216,None,- None -,D2597032,BL-DK0409144,,Bill,4/29/2020,Apr-20,Due on receipt,4/29/2020,...,NaN,-21021.79,21021.79,NaN,NaN,0.0,Travel Bill,,,
1217,None,- None -,I09118002557694,BL-DK0409147,,Bill,4/29/2020,Apr-20,Net 15,5/4/2020,...,NaN,-2704.71,2704.71,NaN,NaN,0.0,Travel Bill,,,
1218,None,- None -,I09925000455882,BL-DK0409148,,Bill,4/29/2020,Apr-20,Net 15,5/4/2020,...,NaN,-5378.78,5378.78,NaN,NaN,0.0,Travel Bill,,,

In [73]:
vat.pivot_table(index='Comments', values=['Sum of Accounts Payable', 'Sum of Expense', 'Sum of VAT'], aggfunc='sum')

,Sum of Accounts Payable,Sum of Expense,Sum of VAT
Comments,,,
IC Invoice - EU Sales/IC Invoice - Outside EU,-40252.64,0.00,0.00
IC reverse charge EU/Outside,-258983.76,258983.76,64745.96
Intercompany no IC invoice,-2644767.84,235772.67,0.00
JE-transactions no vat,5254164.63,6209034.09,0.00
Neo travel expense - no vat,125141.70,16013.65,0.00
Procurement-Denmark 0% VAT,-183197.78,183197.78,0.00
Procurement-EU/Outside Reverse charge,-670620.62,666534.50,0.00
Travel Bill,-2355223.90,4825.30,0.00
VAT,-2050918.28,-2158004.19,355120.14

In [66]:
# excel_file = pd.ExcelWriter("Darko_VAT_purchase_202004.xlsx")

# vat.to_excel(excel_file, sheet_name = "vat", index = False)

# excel_file.save()