In [1]:
import pandas as pd

In [2]:
vat = pd.read_csv("sales_april_2020.csv")
vat.head(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,- None -,...,NaN,NaN,DK-S,- None -,41.15,-205.75,NaN,NaN,164.60,NaN
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,- None -,...,NaN,NaN,DK-S,- None -,20.58,-102.88,NaN,NaN,82.30,NaN
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,NaN,NaN,NaN,- None -,11.03,NaN,NaN,NaN,-11.03,NaN

In [3]:
vat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10104 entries, 0 to 10103
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          10104 non-null  object
 1   Document Number                      10103 non-null  object
 2   Transaction Number                   10103 non-null  object
 3   Maximum of Linked Invoice            10103 non-null  object
 4   Type                                 10103 non-null  object
 5   Date                                 10103 non-null  object
 6   Period                               10103 non-null  object
 7   Terms                                10103 non-null  object
 8   Maximum of Due Date/Receive By       7605 non-null   object
 9   Company Name                         10103 non-null  object
 10  Customer VAT Registration Number     10103 non-null  object
 11  Bill to City                         10103 non-null  object
 12  Bill to State                        10103 non-null  object
 13  Bill to Country                      10103 non-null  object
 14  Bill to Zip                          10103 non-null  object
 15  Source System                        10103 non-null  object
 16  Source System Identifier             10103 non-null  object
 17  City                                 10103 non-null  object
 18  State/Province                       10103 non-null  object
 19  Country                              10103 non-null  object
 20  Zip                                  10103 non-null  object
 21  Currency                             10103 non-null  object
 22  Memo (Main)                          10103 non-null  object
 23  Maximum of GMAX Tax Code             6 non-null      object
 24  Maximum of NetSuite Tax Item         8963 non-null   object
 25  Maximum of Coupa Tax Code            0 non-null      float64
 26  Maximum of External System Tax Code  0 non-null      float64
 27  Maximum of Tax Code (Consolidated)   8963 non-null   object
 28  FOP Type                             10103 non-null  object
 29  Sum of Assets                        9415 non-null   float64
 30  Sum of Accounts Payable              351 non-null    float64
 31  Sum of Other Liabilities             9208 non-null   float64
 32  Sum of Income                        8454 non-null   float64
 33  Sum of Expense                       320 non-null    float64
 34  Sum of VAT                           8784 non-null   float64
dtypes: float64(8), object(27)
memory usage: 2.7+ MB

In [4]:
#vat['xxx'].fillna(0, inplace=0) if you want to replace null values with 0 for a certain colmn

In [5]:
#vat[vat['Sum of VAT'] == 0] if you want to filter in a column

In [6]:
del1 = vat[vat["External ID"].str.contains("clearing")].index

In [7]:
del1

Int64Index([10061], dtype='int64')

In [8]:
vat.drop(del1, inplace = True)

In [9]:
del2 = vat[vat["External ID"].str.contains("Cross")].index

In [10]:
del2

Int64Index([10036, 10037, 10038, 10039, 10040, 10041, 10042, 10043], dtype='int64')

In [11]:
vat.drop(del2, inplace=True)

In [12]:
#vat.drop(index = 62066, inplace = True) 'you can also remove line like this

In [13]:
vat.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10094, 10095, 10096, 10097, 10098, 10099, 10100, 10101, 10102,
            10103],
           dtype='int64', length=10095)

In [14]:
10061 in vat.index

False

In [15]:
mask1 = vat[vat["Type"] == "Currency Revaluation"].index

In [16]:
mask1

Int64Index([ 545,  546,  575,  576,  577,  578,  579,  580,  581,  582,
            ...
            9599, 9600, 9601, 9602, 9603, 9604, 9605, 9606, 9607, 9608],
           dtype='int64', length=106)

In [17]:
vat.drop(mask1, inplace = True)

In [18]:
9609 in vat.index

True

In [19]:
vat.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10094, 10095, 10096, 10097, 10098, 10099, 10100, 10101, 10102,
            10103],
           dtype='int64', length=9989)

In [20]:
vat.loc[544]

External ID                                                             - None -
Document Number                                                           139394
Transaction Number                                                  BL-DK0408979
Maximum of Linked Invoice
Type                                                                        Bill
Date                                                                   3/31/2020
Period                                                                    Apr-20
Terms                                                                     Net 60
Maximum of Due Date/Receive By                                         5/30/2020
Company Name                                                            - None -
Customer VAT Registration Number                                        - None -
Bill to City                                                          COPENHAGEN
Bill to State                                                           - None -
Bill to Country                                                          Denmark
Bill to Zip                                                                 1366
Source System                                                        Procurement
Source System Identifier                                                - None -
City                                                                Copenhagen K
State/Province                                                          - None -
Country                                                                  Denmark
Zip                                                                      DK-1366
Currency                                                            Danish Krone
Memo (Main)                            Courier service, Denmark Copenhagen, 2020
Maximum of GMAX Tax Code                                                     NaN
Maximum of NetSuite Tax Item                                                DK-S
Maximum of Coupa Tax Code                                                    NaN
Maximum of External System Tax Code                                          NaN
Maximum of Tax Code (Consolidated)                                          DK-S
FOP Type                                                                - None -
Sum of Assets                                                             221.82
Sum of Accounts Payable                                                 -1109.09
Sum of Other Liabilities                                                     NaN
Sum of Income                                                                NaN
Sum of Expense                                                            887.27
Sum of VAT                                                                   NaN
Name: 544, dtype: object

In [21]:
#after the rows that have been droped, the old rows have same index label as before, but a different index number, but in essance we have 61952 entries
vat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9989 entries, 0 to 10103
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   External ID                          9989 non-null   object
 1   Document Number                      9988 non-null   object
 2   Transaction Number                   9988 non-null   object
 3   Maximum of Linked Invoice            9988 non-null   object
 4   Type                                 9988 non-null   object
 5   Date                                 9988 non-null   object
 6   Period                               9988 non-null   object
 7   Terms                                9988 non-null   object
 8   Maximum of Due Date/Receive By       7605 non-null   object
 9   Company Name                         9988 non-null   object
 10  Customer VAT Registration Number     9988 non-null   object
 11  Bill to City                         9988 non-null   object
 12  Bill to State                        9988 non-null   object
 13  Bill to Country                      9988 non-null   object
 14  Bill to Zip                          9988 non-null   object
 15  Source System                        9988 non-null   object
 16  Source System Identifier             9988 non-null   object
 17  City                                 9988 non-null   object
 18  State/Province                       9988 non-null   object
 19  Country                              9988 non-null   object
 20  Zip                                  9988 non-null   object
 21  Currency                             9988 non-null   object
 22  Memo (Main)                          9988 non-null   object
 23  Maximum of GMAX Tax Code             6 non-null      object
 24  Maximum of NetSuite Tax Item         8963 non-null   object
 25  Maximum of Coupa Tax Code            0 non-null      float64
 26  Maximum of External System Tax Code  0 non-null      float64
 27  Maximum of Tax Code (Consolidated)   8963 non-null   object
 28  FOP Type                             9988 non-null   object
 29  Sum of Assets                        9391 non-null   float64
 30  Sum of Accounts Payable              307 non-null    float64
 31  Sum of Other Liabilities             9195 non-null   float64
 32  Sum of Income                        8454 non-null   float64
 33  Sum of Expense                       264 non-null    float64
 34  Sum of VAT                           8783 non-null   float64
dtypes: float64(8), object(27)
memory usage: 3.1+ MB

In [22]:
#excel_file = pd.ExcelWriter("Darko VAT.xlsx")

In [23]:
#vat.to_excel(excel_file, sheet_name = "vat", index = False)

In [24]:
#excel_file.save()

In [25]:
#vat.loc[61962] #check the row in data frame

In [26]:
vat.tail()

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
10099,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,759.21,-3036.84,0.00,NaN,3036.84,-759.21
10100,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,11470.13,-45880.50,0.00,NaN,45880.50,-11470.13
10101,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,4486.28,-17945.13,0.00,NaN,17945.13,-4486.28
10102,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,797.36,-3189.44,0.00,NaN,3189.44,-797.36
10103,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7311034.84,-2819766.91,-6031013.12,-3983284.54,5523029.73,0.00

In [27]:
vat.drop(index = 10103, inplace = True)

In [28]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Coupa Tax Code,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT
10100,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,11470.13,-45880.50,0.0,NaN,45880.50,-11470.13
10101,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,4486.28,-17945.13,0.0,NaN,17945.13,-4486.28
10102,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,NaN,DK-S : DK-ESSP,- None -,797.36,-3189.44,0.0,NaN,3189.44,-797.36

In [29]:
vat[["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(axis= "rows")

Sum of Assets               7794775.29
Sum of Accounts Payable    -2824658.49
Sum of Other Liabilities   -5223770.36
Sum of Income              -3983284.54
Sum of Expense              5469027.42
Sum of VAT                 -1232089.32
dtype: float64

In [30]:
#remember Rows axis means that the values go down the rows, and columns means they go across the columns, 
#in this case sum of assets etc goes down the rows!!!!

In [31]:
vat.iloc[:, -6:].sum()

Sum of Assets               7794775.29
Sum of Accounts Payable    -2824658.49
Sum of Other Liabilities   -5223770.36
Sum of Income              -3983284.54
Sum of Expense              5469027.42
Sum of VAT                 -1232089.32
dtype: float64

In [32]:
#Summerize the last row
#vat.loc["Totals"] = pd.Series(vat[["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"]].sum(), index = ["Sum of Assets","Sum of Accounts Payable","Sum of Other Liabilities","Sum of Income","Sum of Expense","Sum of VAT"])

In [33]:
vat["VAT rate"] = vat["Sum of VAT"] / (vat["Sum of Other Liabilities"] + vat["Sum of Income"])

In [34]:
vat.tail(3)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of External System Tax Code,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate
10100,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,DK-S : DK-ESSP,- None -,11470.13,-45880.50,0.0,NaN,45880.50,-11470.13,NaN
10101,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,DK-S : DK-ESSP,- None -,4486.28,-17945.13,0.0,NaN,17945.13,-4486.28,NaN
10102,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,NaN,DK-S : DK-ESSP,- None -,797.36,-3189.44,0.0,NaN,3189.44,-797.36,NaN

In [35]:
vat["Liab+Net Inc"] = vat["Sum of Other Liabilities"] + vat["Sum of Income"]

In [36]:
vat.head(100)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Maximum of Tax Code (Consolidated),FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,- None -,...,DK-S,- None -,41.15,-205.75,NaN,NaN,164.60,NaN,NaN,NaN
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,- None -,...,DK-S,- None -,20.58,-102.88,NaN,NaN,82.30,NaN,NaN,NaN
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,NaN,- None -,11.03,NaN,NaN,NaN,-11.03,NaN,NaN,NaN
3,- None -,602445828,BL-DK0409109,,Bill,9/2/2019,Apr-20,Net 15,9/17/2019,- None -,...,DK-S,- None -,64.59,-322.96,NaN,NaN,258.37,NaN,NaN,NaN
4,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,- None -,...,DK-S,- None -,23.70,-118.51,NaN,NaN,94.81,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,132__DFT__15__9999999__20044__199__11__1422020,IN-DK4748917,TIN-DK4748917,,Invoice,2/15/2020,Apr-20,- None -,2/15/2020,Denmark GBT CA/IK/MC Processor DFT,...,DK-Z,- None -,3194.87,NaN,-3194.87,NaN,NaN,0.0,NaN,NaN
96,132__DFT__61__21703327__20044__199__11__1422020,IN-DK4748918,TIN-DK4748918,,Invoice,2/15/2020,Apr-20,- None -,2/15/2020,Denmark VI Processor DFT,...,DK-Z,- None -,68.00,NaN,-68.00,NaN,NaN,0.0,NaN,NaN
97,132__DFT__15__99999999__20045__199__11__1522020,IN-DK4748919,TIN-DK4748919,,Invoice,2/16/2020,Apr-20,- None -,2/16/2020,Denmark GBT CA/IK/MC Processor DFT,...,DK-Z,- None -,126.12,NaN,-126.12,NaN,NaN,0.0,NaN,NaN
98,132__DFT__15__9999999__20045__199__11__1522020,IN-DK4748920,TIN-DK4748920,,Invoice,2/16/2020,Apr-20,- None -,2/16/2020,Denmark GBT CA/IK/MC Processor DFT,...,DK-Z,- None -,865.50,NaN,-865.50,NaN,NaN,0.0,NaN,NaN
99,573847896_CM-M40000606,CM-DK0311318,TCM-DK0311318,,Credit Memo,2/17/2020,Apr-20,- None -,NaN,KONGSBERG MARITIME DENMARK A/S,...,DK-Z,CC,0.00,NaN,0.00,NaN,NaN,0.0,NaN,NaN

In [37]:
vat["Correct revenue"] = vat["Sum of VAT"] / 0.25

In [38]:
vat.head(50)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,FOP Type,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,- None -,...,- None -,41.15,-205.75,NaN,NaN,164.60,NaN,NaN,NaN,NaN
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,- None -,...,- None -,20.58,-102.88,NaN,NaN,82.30,NaN,NaN,NaN,NaN
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,- None -,11.03,NaN,NaN,NaN,-11.03,NaN,NaN,NaN,NaN
3,- None -,602445828,BL-DK0409109,,Bill,9/2/2019,Apr-20,Net 15,9/17/2019,- None -,...,- None -,64.59,-322.96,NaN,NaN,258.37,NaN,NaN,NaN,NaN
4,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,- None -,...,- None -,23.70,-118.51,NaN,NaN,94.81,NaN,NaN,NaN,NaN
5,ERST-DK : 09500100020-GDK_8100886_IN-DK0002366,IN-DK4748659,TIN-DK4748659,,Invoice,12/6/2019,Apr-20,Net 20,12/26/2019,EY P/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
6,556684022_IN-M40002208,IN-DK4748876,TIN-DK4748876,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
7,556684031_IN-M40002218,IN-DK4748877,TIN-DK4748877,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
8,557390047_IN-M40003193,IN-DK4748869,TIN-DK4748869,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,NORDEA,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
9,557472473_IN-M40003314,IN-DK4748878,TIN-DK4748878,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
10,557701050_CM-M40000056,CM-DK0311325,TCM-DK0311325,,Credit Memo,12/11/2019,Apr-20,- None -,NaN,TETRA PAK PROCESSING SYSTEMS A/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
11,557934224_CM-M40000059,CM-DK0311326,TCM-DK0311326,,Credit Memo,12/12/2019,Apr-20,- None -,NaN,EY P/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
12,558217371_CM-M40000064,CM-DK0311327,TCM-DK0311327,,Credit Memo,12/13/2019,Apr-20,- None -,NaN,NORDEA,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
13,558689568_IN-M40004826,IN-DK4748824,TIN-DK4748824,,Invoice,12/16/2019,Apr-20,Net 10,12/26/2019,DHL GLOBAL FORWARDING A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
14,558866365_IN-M40005078,IN-DK4748867,TIN-DK4748867,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,LINCO FOOD SYSTEMS A/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
15,558947903_IN-M40005371,IN-DK4748870,TIN-DK4748870,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,NORDEA,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
16,558947693_IN-M40005334,IN-DK4748871,TIN-DK4748871,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,NORDEA INVESTMENT MANAGEMENT,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
17,559170545_CM-M40000122,CM-DK0311328,TCM-DK0311328,,Credit Memo,12/18/2019,Apr-20,- None -,NaN,NORDEA,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
18,559170547_CM-M40000121,CM-DK0311329,TCM-DK0311329,,Credit Memo,12/18/2019,Apr-20,- None -,NaN,NORDEA INVESTMENT MANAGEMENT,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
19,AXBT-DK : 09500100147-GDK_8102088_IN-DK0005767,IN-DK4748658,TIN-DK4748658,,Invoice,12/18/2019,Apr-20,Net 30,1/17/2020,HRG DENMARK-STAFF BUSINESS TRA,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
20,559131122_IN-M40005789,IN-DK4748859,TIN-DK4748859,,Invoice,12/18/2019,Apr-20,Net 30,1/17/2020,HRG DENMARK-STAFF BUSINESS TRA,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
21,559100205_IN-M40005609,IN-DK4749144,TIN-DK4749144,,Invoice,12/18/2019,Apr-20,Net 10,12/28/2019,NORDEA INVESTMENT MANAGEMENT,...,AR,2772.00,NaN,-2772.0,NaN,NaN,0.0,NaN,NaN,0.0
22,559100206_IN-M40005612,IN-DK4749145,TIN-DK4749145,,Invoice,12/18/2019,Apr-20,Net 10,12/28/2019,NORDEA,...,AR,1118.00,NaN,-1118.0,NaN,NaN,0.0,NaN,NaN,0.0
23,559131046_IN-M40005713,IN-DK4749146,TIN-DK4749146,,Invoice,12/18/2019,Apr-20,Net 10,12/28/2019,NORDEA,...,AR,2633.00,NaN,-2633.0,NaN,NaN,0.0,NaN,NaN,0.0
24,559131051_IN-M40005718,IN-DK4749147,TIN-DK4749147,,Invoice,12/18/2019,Apr-20,Net 10,12/28/2019,NORDEA,...,AR,565.00,NaN,-565.0,NaN,NaN,0.0,NaN,NaN,0.0
25,559625562_IN-M40007007,IN-DK4748879,TIN-DK4748879,,Invoice,12/20/2019,Apr-20,Net 10,12/30/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
26,LINC-DK : 09500100285-GDK_8102828_IN-DK0007515,IN-DK4748660,TIN-DK4748660,,Invoice,12/23/2019,Apr-20,Net 10,1/2/2020,LINCO FOOD SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
27,560669433_IN-M40007999,IN-DK4748872,TIN-DK4748872,,Invoice,12/30/2019,Apr-20,Net 10,1/9/2020,NORDEA INVESTMENT MANAGEMENT,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
28,560654933_IN-M40007960,IN-DK4749148,TIN-DK4749148,,Invoice,12/30/2019,Apr-20,Net 10,1/9/2020,NORDEA INVESTMENT MANAGEMENT,...,AR,1002.00,NaN,-1002.0,NaN,NaN,0.0,NaN,NaN,0.0
29,561051803_CM-M40000250,CM-DK0311330,TCM-DK0311330,,Credit Memo,1/2/2020,Apr-20,- None -,NaN,LINCO FOOD SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
30,561051802_IN-M40008320,IN-DK4748868,TIN-DK4748868,,Invoice,1/2/2020,Apr-20,Net 10,1/12/2020,LINCO FOOD SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
31,561287900_CM-M40000258,CM-DK0311170,TCM-DK0311170,,Credit Memo,1/3/2020,Apr-20,- None -,NaN,GYLLEBO SLOTT AB,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
32,561287899_CM-M40000257,CM-DK0311308,TCM-DK0311308,,Credit Memo,1/3/2020,Apr-20,- None -,NaN,UNILEVER DANMARK A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
33,582348109_CM-M40001288,CM-DK0311252,TCM-DK0311252,,Credit Memo,1/10/2020,Apr-20,- None -,NaN,EY P/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
34,582347052_IN-M40038732,IN-DK4748782,TIN-DK4748782,,Invoice,1/10/2020,Apr-20,Net 10,1/20/2020,DHL EXPRESS A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
35,582347068_IN-M40038749,IN-DK4748783,TIN-DK4748783,,Invoice,1/10/2020,Apr-20,Net 10,1/20/2020,DHL EXPRESS A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
36,564237272_CM-M40000332,CM-DK0311331,TCM-DK0311331,,Credit Memo,1/14/2020,Apr-20,- None -,NaN,LINCO FOOD SYSTEMS A/S,...,AR,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
37,564343893_IN-M40014626,IN-DK4748843,TIN-DK4748843,,Invoice,1/15/2020,Apr-20,Net 10,1/25/2020,KONGSBERG MARITIME DENMARK A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
38,564343926_IN-M40014635,IN-DK4748844,TIN-DK4748844,,Invoice,1/15/2020,Apr-20,Net 10,1/25/2020,KONGSBERG MARITIME DENMARK A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
39,564344097_IN-M40014653,IN-DK4748845,TIN-DK4748845,,Invoice,1/15/2020,Apr-20,Net 10,1/25/2020,KONGSBERG MARITIME DENMARK A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
40,564344234_IN-M40014689,IN-DK4749149,TIN-DK4749149,,Invoice,1/15/2020,Apr-20,Net 10,1/25/2020,NIPPON GASES DANMARK A/S,...,AR,434.00,NaN,-434.0,NaN,NaN,0.0,NaN,NaN,0.0
41,564344372_IN-M40014697,IN-DK4749150,TIN-DK4749150,,Invoice,1/15/2020,Apr-20,Net 10,1/25/2020,NIPPON GASES DANMARK A/S,...,AR,131.40,NaN,-131.4,NaN,NaN,0.0,NaN,NaN,0.0
42,564744934_IN-M40015374,IN-DK4749151,TIN-DK4749151,,Invoice,1/16/2020,Apr-20,Net 10,1/26/2020,NORDEA,...,AR,545.00,NaN,-545.0,NaN,NaN,0.0,NaN,NaN,0.0
43,565126581_IN-M40016079,IN-DK4748891,TIN-DK4748891,,Invoice,1/17/2020,Apr-20,Net 10,1/27/2020,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
44,NRDE-DK : 09500050072-GDK_8106687_IN-DK0017546,IN-DK4748661,TIN-DK4748661,,Invoice,1/22/2020,Apr-20,Net 10,2/1/2020,NORDEA,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
45,566841991_CM-M40000423,CM-DK0311332,TCM-DK0311332,,Credit Memo,1/23/2020,Apr-20,- None -,NaN,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
46,566743106_IN-M40018336,IN-DK4748865,TIN-DK4748865,,Invoice,1/23/2020,Apr-20,Net 10,2/2/2020,KONGSBERG MARITIME DENMARK A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
47,566743090_IN-M40018328,IN-DK4748880,TIN-DK4748880,,Invoice,1/23/2020,Apr-20,Net 10,2/2/2020,TETRA PAK PROCESSING SYSTEMS A/S,...,CCSE,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
48,567068440_CM-M40000433,CM-DK0311315,TCM-DK0311315,,Credit Memo,1/24/2020,Apr-20,- None -,NaN,KONGSBERG MARITIME DENMARK A/S,...,CC,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0
49,09500100260-GDK_8107150_002,IN-DK4749139,TIN-DK4749139,,Invoice,1/24/2020,Apr-20,Net 10,2/3/2020,ASTRAZENECA A/S,...,AR,500.00,NaN,-500.0,NaN,NaN,0.0,NaN,NaN,0.0

In [39]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [40]:
def vat_amount(row):

    vat_yes = row[34]

    if vat_yes > 0:
        return "VAT"
    elif vat_yes < 0 :
        return "VAT"
    else:
        return "Transactions 0DKK"
    
vat["Comment"] = vat.apply(vat_amount, axis= "columns")

In [41]:
#pd.options.display.max_rows = 4000
vat.head(20)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Sum of Assets,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment
0,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,- None -,...,41.15,-205.75,NaN,NaN,164.60,NaN,NaN,NaN,NaN,Transactions 0DKK
1,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,- None -,...,20.58,-102.88,NaN,NaN,82.30,NaN,NaN,NaN,NaN,Transactions 0DKK
2,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,- None -,...,11.03,NaN,NaN,NaN,-11.03,NaN,NaN,NaN,NaN,Transactions 0DKK
3,- None -,602445828,BL-DK0409109,,Bill,9/2/2019,Apr-20,Net 15,9/17/2019,- None -,...,64.59,-322.96,NaN,NaN,258.37,NaN,NaN,NaN,NaN,Transactions 0DKK
4,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,- None -,...,23.70,-118.51,NaN,NaN,94.81,NaN,NaN,NaN,NaN,Transactions 0DKK
5,ERST-DK : 09500100020-GDK_8100886_IN-DK0002366,IN-DK4748659,TIN-DK4748659,,Invoice,12/6/2019,Apr-20,Net 20,12/26/2019,EY P/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
6,556684022_IN-M40002208,IN-DK4748876,TIN-DK4748876,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
7,556684031_IN-M40002218,IN-DK4748877,TIN-DK4748877,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
8,557390047_IN-M40003193,IN-DK4748869,TIN-DK4748869,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,NORDEA,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
9,557472473_IN-M40003314,IN-DK4748878,TIN-DK4748878,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,TETRA PAK PROCESSING SYSTEMS A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
10,557701050_CM-M40000056,CM-DK0311325,TCM-DK0311325,,Credit Memo,12/11/2019,Apr-20,- None -,NaN,TETRA PAK PROCESSING SYSTEMS A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
11,557934224_CM-M40000059,CM-DK0311326,TCM-DK0311326,,Credit Memo,12/12/2019,Apr-20,- None -,NaN,EY P/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
12,558217371_CM-M40000064,CM-DK0311327,TCM-DK0311327,,Credit Memo,12/13/2019,Apr-20,- None -,NaN,NORDEA,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
13,558689568_IN-M40004826,IN-DK4748824,TIN-DK4748824,,Invoice,12/16/2019,Apr-20,Net 10,12/26/2019,DHL GLOBAL FORWARDING A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
14,558866365_IN-M40005078,IN-DK4748867,TIN-DK4748867,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,LINCO FOOD SYSTEMS A/S,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
15,558947903_IN-M40005371,IN-DK4748870,TIN-DK4748870,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,NORDEA,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
16,558947693_IN-M40005334,IN-DK4748871,TIN-DK4748871,,Invoice,12/17/2019,Apr-20,Net 10,12/27/2019,NORDEA INVESTMENT MANAGEMENT,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
17,559170545_CM-M40000122,CM-DK0311328,TCM-DK0311328,,Credit Memo,12/18/2019,Apr-20,- None -,NaN,NORDEA,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
18,559170547_CM-M40000121,CM-DK0311329,TCM-DK0311329,,Credit Memo,12/18/2019,Apr-20,- None -,NaN,NORDEA INVESTMENT MANAGEMENT,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK
19,AXBT-DK : 09500100147-GDK_8102088_IN-DK0005767,IN-DK4748658,TIN-DK4748658,,Invoice,12/18/2019,Apr-20,Net 30,1/17/2020,HRG DENMARK-STAFF BUSINESS TRA,...,0.00,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,Transactions 0DKK

In [42]:
def applyFunc(s):
    if s == "VAT":
        return "Domestic 25%"
    

vat["Transaction type"] = vat["Comment"].apply(applyFunc)

In [43]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [44]:
vat.tail(5)

,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,Company Name,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
10098,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,-1986.30,0.0,NaN,1986.30,-496.58,NaN,NaN,-1986.32,VAT,Domestic 25%
10099,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,-3036.84,0.0,NaN,3036.84,-759.21,NaN,NaN,-3036.84,VAT,Domestic 25%
10100,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,-45880.50,0.0,NaN,45880.50,-11470.13,NaN,NaN,-45880.52,VAT,Domestic 25%
10101,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,-17945.13,0.0,NaN,17945.13,-4486.28,NaN,NaN,-17945.12,VAT,Domestic 25%
10102,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,- None -,...,-3189.44,0.0,NaN,3189.44,-797.36,NaN,NaN,-3189.44,VAT,Domestic 25%

In [45]:
import numpy as np

In [46]:
#mask3 = vat['External ID'].str.match("GBTICJE")
#vat['Comment'] = np.where(vat['External ID'] == 'GBTICJE','pp',vat['Comment'] )
#vat.iloc[4:]

In [47]:
vat['External ID'].str.match("GBTICJE")

0        False
1        False
2        False
3        False
4        False
         ...
10098     True
10099     True
10100     True
10101     True
10102     True
Name: External ID, Length: 9988, dtype: bool

In [48]:
10098 in vat.index

True

In [49]:
vat.insert(0, column = "External name", value = vat['External ID'].str.extract('([A-Z]\w{0,})', expand=True))

In [50]:
#store = vat['Sum of VAT'].notnull()
#store1 = vat['Comment'] == "VAT"
#vat[store & store1]
#vat['Comment'] = np.where(vat['External name'] == 'GBTICJE','Reverse charge + IC',vat['Comment'] )
#vat.iloc[4:]
#vat[vat["Comment"] == "Reverse charge + IC"]

In [51]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) & You can use the above mentioned condition with AND when same column because they !=
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == "VAT") &
        (vat['External name'] == 'GBTICJE'), "Comment"] = 'Reverse charge booked automatically in Netsuite'
vat[vat["Comment"] == "Reverse charge booked automatically in Netsuite"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
6991,GBTICJE,GBTICJE-IDENTIFIERH-ID2141592,JE-NL1265373,TJE-NL0155297,,Journal,4/20/2020,Apr-20,- None -,NaN,...,NaN,0.0,NaN,NaN,-487.78,NaN,NaN,-1951.12,Reverse charge booked automatically in Netsuite,Domestic 25%
9939,GBTICJE,GBTICJE-IDENTIFIERG-ID2160191,JE-DK0291950,TJE-DK0291950,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-8502.35,0.0,NaN,8502.35,-2125.59,NaN,NaN,-8502.36,Reverse charge booked automatically in Netsuite,Domestic 25%
10076,GBTICJE,GBTICJE-IDENTIFIERB-ID2149599,JE-NL1266280,TJE-NL0156204,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-69613.36,0.0,NaN,69613.36,-17403.34,NaN,NaN,-69613.36,Reverse charge booked automatically in Netsuite,Domestic 25%
10077,GBTICJE,GBTICJE-IDENTIFIERB-ID2149601,JE-NL1266283,TJE-NL0156207,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17181.22,0.0,NaN,17181.22,-4295.31,NaN,NaN,-17181.24,Reverse charge booked automatically in Netsuite,Domestic 25%
10078,GBTICJE,GBTICJE-IDENTIFIERB-ID2149887,JE-NL1266293,TJE-NL0156216,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-19453.27,0.0,NaN,19453.27,-4863.32,NaN,NaN,-19453.28,Reverse charge booked automatically in Netsuite,Domestic 25%
10079,GBTICJE,GBTICJE-IDENTIFIERB-ID2149893,JE-NL1266296,TJE-NL0156220,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-18845.42,0.0,NaN,18845.42,-4711.36,NaN,NaN,-18845.44,Reverse charge booked automatically in Netsuite,Domestic 25%
10080,GBTICJE,GBTICJE-IDENTIFIERB-ID2149891,JE-NL1266297,TJE-NL0156221,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-19453.27,0.0,NaN,19453.27,-4863.32,NaN,NaN,-19453.28,Reverse charge booked automatically in Netsuite,Domestic 25%
10081,GBTICJE,GBTICJE-IDENTIFIERB-ID2154392,JE-NL1266531,TJE-NL0156455,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-11482.79,0.0,NaN,11482.79,-2870.70,NaN,NaN,-11482.80,Reverse charge booked automatically in Netsuite,Domestic 25%
10082,GBTICJE,GBTICJE-IDENTIFIERB-ID2154390,JE-NL1266533,TJE-NL0156457,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-13837.73,0.0,NaN,13837.73,-3459.43,NaN,NaN,-13837.72,Reverse charge booked automatically in Netsuite,Domestic 25%
10083,GBTICJE,GBTICJE-IDENTIFIERB-ID2154454,JE-NL1266593,TJE-NL0156517,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-803.81,0.0,NaN,803.81,-200.95,NaN,NaN,-803.80,Reverse charge booked automatically in Netsuite,Domestic 25%
10084,GBTICJE,GBTICJE-IDENTIFIERB-ID2154455,JE-NL1266594,TJE-NL0156518,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-968.65,0.0,NaN,968.65,-242.16,NaN,NaN,-968.64,Reverse charge booked automatically in Netsuite,Domestic 25%
10094,GBTICJE,GBTICJE-IDENTIFIERB-ID2162489,JE-NL1267390,TJE-NL0157314,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-6803.68,0.0,NaN,6803.68,-1700.92,NaN,NaN,-6803.68,Reverse charge booked automatically in Netsuite,Domestic 25%
10098,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-1986.30,0.0,NaN,1986.30,-496.58,NaN,NaN,-1986.32,Reverse charge booked automatically in Netsuite,Domestic 25%
10099,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3036.84,0.0,NaN,3036.84,-759.21,NaN,NaN,-3036.84,Reverse charge booked automatically in Netsuite,Domestic 25%
10100,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-45880.50,0.0,NaN,45880.50,-11470.13,NaN,NaN,-45880.52,Reverse charge booked automatically in Netsuite,Domestic 25%
10101,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17945.13,0.0,NaN,17945.13,-4486.28,NaN,NaN,-17945.12,Reverse charge booked automatically in Netsuite,Domestic 25%
10102,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3189.44,0.0,NaN,3189.44,-797.36,NaN,NaN,-3189.44,Reverse charge booked automatically in Netsuite,Domestic 25%

In [52]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) &
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == 'Reverse charge booked automatically in Netsuite') &
        (vat['External name'] == 'GBTICJE'), "Transaction type"] = 'Reverse charge'
vat[vat["Comment"] == "Reverse charge booked automatically in Netsuite"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
6991,GBTICJE,GBTICJE-IDENTIFIERH-ID2141592,JE-NL1265373,TJE-NL0155297,,Journal,4/20/2020,Apr-20,- None -,NaN,...,NaN,0.0,NaN,NaN,-487.78,NaN,NaN,-1951.12,Reverse charge booked automatically in Netsuite,Reverse charge
9939,GBTICJE,GBTICJE-IDENTIFIERG-ID2160191,JE-DK0291950,TJE-DK0291950,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-8502.35,0.0,NaN,8502.35,-2125.59,NaN,NaN,-8502.36,Reverse charge booked automatically in Netsuite,Reverse charge
10076,GBTICJE,GBTICJE-IDENTIFIERB-ID2149599,JE-NL1266280,TJE-NL0156204,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-69613.36,0.0,NaN,69613.36,-17403.34,NaN,NaN,-69613.36,Reverse charge booked automatically in Netsuite,Reverse charge
10077,GBTICJE,GBTICJE-IDENTIFIERB-ID2149601,JE-NL1266283,TJE-NL0156207,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17181.22,0.0,NaN,17181.22,-4295.31,NaN,NaN,-17181.24,Reverse charge booked automatically in Netsuite,Reverse charge
10078,GBTICJE,GBTICJE-IDENTIFIERB-ID2149887,JE-NL1266293,TJE-NL0156216,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-19453.27,0.0,NaN,19453.27,-4863.32,NaN,NaN,-19453.28,Reverse charge booked automatically in Netsuite,Reverse charge
10079,GBTICJE,GBTICJE-IDENTIFIERB-ID2149893,JE-NL1266296,TJE-NL0156220,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-18845.42,0.0,NaN,18845.42,-4711.36,NaN,NaN,-18845.44,Reverse charge booked automatically in Netsuite,Reverse charge
10080,GBTICJE,GBTICJE-IDENTIFIERB-ID2149891,JE-NL1266297,TJE-NL0156221,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-19453.27,0.0,NaN,19453.27,-4863.32,NaN,NaN,-19453.28,Reverse charge booked automatically in Netsuite,Reverse charge
10081,GBTICJE,GBTICJE-IDENTIFIERB-ID2154392,JE-NL1266531,TJE-NL0156455,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-11482.79,0.0,NaN,11482.79,-2870.70,NaN,NaN,-11482.80,Reverse charge booked automatically in Netsuite,Reverse charge
10082,GBTICJE,GBTICJE-IDENTIFIERB-ID2154390,JE-NL1266533,TJE-NL0156457,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-13837.73,0.0,NaN,13837.73,-3459.43,NaN,NaN,-13837.72,Reverse charge booked automatically in Netsuite,Reverse charge
10083,GBTICJE,GBTICJE-IDENTIFIERB-ID2154454,JE-NL1266593,TJE-NL0156517,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-803.81,0.0,NaN,803.81,-200.95,NaN,NaN,-803.80,Reverse charge booked automatically in Netsuite,Reverse charge
10084,GBTICJE,GBTICJE-IDENTIFIERB-ID2154455,JE-NL1266594,TJE-NL0156518,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-968.65,0.0,NaN,968.65,-242.16,NaN,NaN,-968.64,Reverse charge booked automatically in Netsuite,Reverse charge
10094,GBTICJE,GBTICJE-IDENTIFIERB-ID2162489,JE-NL1267390,TJE-NL0157314,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-6803.68,0.0,NaN,6803.68,-1700.92,NaN,NaN,-6803.68,Reverse charge booked automatically in Netsuite,Reverse charge
10098,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-1986.30,0.0,NaN,1986.30,-496.58,NaN,NaN,-1986.32,Reverse charge booked automatically in Netsuite,Reverse charge
10099,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3036.84,0.0,NaN,3036.84,-759.21,NaN,NaN,-3036.84,Reverse charge booked automatically in Netsuite,Reverse charge
10100,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-45880.50,0.0,NaN,45880.50,-11470.13,NaN,NaN,-45880.52,Reverse charge booked automatically in Netsuite,Reverse charge
10101,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17945.13,0.0,NaN,17945.13,-4486.28,NaN,NaN,-17945.12,Reverse charge booked automatically in Netsuite,Reverse charge
10102,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3189.44,0.0,NaN,3189.44,-797.36,NaN,NaN,-3189.44,Reverse charge booked automatically in Netsuite,Reverse charge

In [53]:
vat.loc[#(vat['Sum of VAT'].notnull()) &
        #(vat['Sum of VAT'] != 0) &
        ((vat['Sum of VAT'].notnull()) | (vat['Sum of VAT'] != 0)) &
        (vat['Comment'] == "VAT") &
        (vat['Source System'] == 'Hotel Comm'), "Comment"] = 'Hotel Commission'
vat[vat["Comment"] == "Hotel Commission"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
909,None,- None -,JE-DK0290741,TJE-DK0290741,,Journal,4/1/2020,Apr-20,- None -,NaN,...,NaN,0.0,-67808.18,NaN,-6157.05,0.090801,-67808.18,-24628.20,Hotel Commission,Domestic 25%
3879,None,- None -,JE-DK0290959,TJE-DK0290959,,Journal,4/9/2020,Apr-20,- None -,NaN,...,NaN,0.0,-24000.59,NaN,-954.30,0.039762,-24000.59,-3817.20,Hotel Commission,Domestic 25%
6373,None,- None -,JE-DK0291096,TJE-DK0291096,,Journal,4/17/2020,Apr-20,- None -,NaN,...,NaN,0.0,-13642.96,NaN,-1272.03,0.093237,-13642.96,-5088.12,Hotel Commission,Domestic 25%
7718,None,- None -,JE-DK0291177,TJE-DK0291177,,Journal,4/22/2020,Apr-20,- None -,NaN,...,NaN,0.0,-55498.56,NaN,-2912.96,0.052487,-55498.56,-11651.84,Hotel Commission,Domestic 25%
9537,None,- None -,JE-DK0291744,TJE-DK0291744,,Journal,4/29/2020,Apr-20,- None -,NaN,...,NaN,0.0,-35865.16,NaN,-4973.78,0.138680,-35865.16,-19895.12,Hotel Commission,Domestic 25%

In [54]:
vat.iloc[4:]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
4,None,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,...,-118.51,NaN,NaN,94.81,NaN,NaN,NaN,NaN,Transactions 0DKK,None
5,ERST,ERST-DK : 09500100020-GDK_8100886_IN-DK0002366,IN-DK4748659,TIN-DK4748659,,Invoice,12/6/2019,Apr-20,Net 20,12/26/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
6,IN,556684022_IN-M40002208,IN-DK4748876,TIN-DK4748876,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
7,IN,556684031_IN-M40002218,IN-DK4748877,TIN-DK4748877,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
8,IN,557390047_IN-M40003193,IN-DK4748869,TIN-DK4748869,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10098,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-1986.30,0.0,NaN,1986.30,-496.58,NaN,NaN,-1986.32,Reverse charge booked automatically in Netsuite,Reverse charge
10099,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3036.84,0.0,NaN,3036.84,-759.21,NaN,NaN,-3036.84,Reverse charge booked automatically in Netsuite,Reverse charge
10100,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-45880.50,0.0,NaN,45880.50,-11470.13,NaN,NaN,-45880.52,Reverse charge booked automatically in Netsuite,Reverse charge
10101,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17945.13,0.0,NaN,17945.13,-4486.28,NaN,NaN,-17945.12,Reverse charge booked automatically in Netsuite,Reverse charge
10102,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3189.44,0.0,NaN,3189.44,-797.36,NaN,NaN,-3189.44,Reverse charge booked automatically in Netsuite,Reverse charge

In [55]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Sum of VAT'].isnull()) &
        #(vat['Sum of VAT'] == 0) & you cannot use AND for 0 and null values in same column when you both condition are equal to
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Source System'] == 'Procurement'), "Comment"] = 'Procurement inv'
vat[vat["Comment"] == "Procurement inv"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
0,None,- None -,602047082,BL-DK0409107,,Bill,2/1/2019,Apr-20,Net 15,2/16/2019,...,-205.75,NaN,NaN,164.60,NaN,NaN,NaN,NaN,Procurement inv,None
1,None,- None -,602168842,BL-DK0409108,,Bill,4/2/2019,Apr-20,Net 15,4/17/2019,...,-102.88,NaN,NaN,82.30,NaN,NaN,NaN,NaN,Procurement inv,None
3,None,- None -,602445828,BL-DK0409109,,Bill,9/2/2019,Apr-20,Net 15,9/17/2019,...,-322.96,NaN,NaN,258.37,NaN,NaN,NaN,NaN,Procurement inv,None
4,None,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,...,-118.51,NaN,NaN,94.81,NaN,NaN,NaN,NaN,Procurement inv,None
59,None,- None -,602754698,BL-DK0409111,,Bill,2/3/2020,Apr-20,Net 15,2/18/2020,...,-103.68,NaN,NaN,82.94,NaN,NaN,NaN,NaN,Procurement inv,None
114,None,- None -,8035674,BL-DK0409122,,Bill,2/20/2020,Apr-20,Net 15,3/6/2020,...,-22851.25,NaN,NaN,22851.25,NaN,NaN,NaN,NaN,Procurement inv,None
147,None,- None -,6710014110,BL-DK0408586,,Bill,2/26/2020,Apr-20,Due on receipt,2/26/2020,...,-54500.12,NaN,NaN,54500.12,NaN,NaN,NaN,NaN,Procurement inv,None
178,None,- None -,8035762,BL-DK0409123,,Bill,2/29/2020,Apr-20,Net 15,3/15/2020,...,-802.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
201,None,- None -,4.46598E+12,BL-DK0409017,,Bill,3/4/2020,Apr-20,Net 15,3/19/2020,...,-260.76,NaN,NaN,208.60,NaN,NaN,NaN,NaN,Procurement inv,None
202,None,- None -,4.57498E+12,BL-DK0409019,,Bill,3/4/2020,Apr-20,Net 15,3/19/2020,...,-392.00,NaN,NaN,313.60,NaN,NaN,NaN,NaN,Procurement inv,None
203,None,- None -,4.58498E+12,BL-DK0409018,,Bill,3/4/2020,Apr-20,Net 15,3/19/2020,...,-424.00,NaN,NaN,379.20,NaN,NaN,NaN,NaN,Procurement inv,None
204,None,- None -,4.64498E+12,BL-DK0409020,,Bill,3/4/2020,Apr-20,Net 15,3/19/2020,...,-1668.00,NaN,NaN,1354.40,NaN,NaN,NaN,NaN,Procurement inv,None
205,None,- None -,4.95598E+12,BL-DK0408982,,Bill,3/4/2020,Apr-20,Net 15,3/19/2020,...,-422.01,NaN,NaN,357.60,NaN,NaN,NaN,NaN,Procurement inv,None
276,None,- None -,1127,BL-DK0409040,,Bill,3/14/2020,Apr-20,Net 30,4/13/2020,...,-4086.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Procurement inv,None
307,None,- None -,2400023420,BL-DK0409103,,Bill,3/20/2020,Apr-20,Net 15,4/4/2020,...,-130785.00,NaN,NaN,104628.00,NaN,NaN,NaN,NaN,Procurement inv,None
319,None,- None -,138549,BL-DK0409042,,Bill,3/24/2020,Apr-20,Due on receipt,3/24/2020,...,-1396.00,NaN,NaN,1116.90,NaN,NaN,NaN,NaN,Procurement inv,None
320,None,- None -,270486,BL-DK0408827,,Bill,3/24/2020,Apr-20,Net 14,4/7/2020,...,-1525.00,NaN,NaN,1220.00,NaN,NaN,NaN,NaN,Procurement inv,None
335,None,- None -,000000073489628E,BL-DK0409021,,Bill,3/25/2020,Apr-20,Due on receipt,3/25/2020,...,-153980.85,NaN,NaN,153980.85,NaN,NaN,NaN,NaN,Procurement inv,None
381,None,- None -,6710014286,BL-DK0409063,,Bill,3/26/2020,Apr-20,Due on receipt,3/26/2020,...,-51642.76,NaN,NaN,51642.76,NaN,NaN,NaN,NaN,Procurement inv,None
519,None,- None -,23882,BL-DK0409022,,Bill,3/30/2020,Apr-20,NET 8,3/30/2020,...,-1481.25,NaN,NaN,1185.00,NaN,NaN,NaN,NaN,Procurement inv,None
543,None,- None -,12488,BL-DK0409058,,Bill,3/31/2020,Apr-20,Net 60,5/30/2020,...,-16771.41,NaN,NaN,16771.41,NaN,NaN,NaN,NaN,Procurement inv,None
544,None,- None -,139394,BL-DK0408979,,Bill,3/31/2020,Apr-20,Net 60,5/30/2020,...,-1109.09,NaN,NaN,887.27,NaN,NaN,NaN,NaN,Procurement inv,None
547,None,- None -,25817,BL-DK0408983,,Bill,3/31/2020,Apr-20,Net 10,4/10/2020,...,-887.75,NaN,NaN,710.20,NaN,NaN,NaN,NaN,Procurement inv,None
548,None,- None -,498350,BL-DK0409059,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,-21566.48,NaN,NaN,21566.48,NaN,NaN,NaN,NaN,Procurement inv,None
549,None,- None -,498351,BL-DK0409025,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,-82237.88,NaN,NaN,82237.88,NaN,NaN,NaN,NaN,Procurement inv,None
550,None,- None -,498352,BL-DK0409023,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,-8055.16,NaN,NaN,8055.16,NaN,NaN,NaN,NaN,Procurement inv,None
551,None,- None -,498353,BL-DK0409024,,Bill,3/31/2020,Apr-20,Due on receipt,3/31/2020,...,-1684.07,NaN,NaN,1684.07,NaN,NaN,NaN,NaN,Procurement inv,None
552,None,- None -,53264,BL-DK0408980,,Bill,3/31/2020,Apr-20,Net 20,4/20/2020,...,-35124.44,NaN,NaN,28099.55,NaN,NaN,NaN,NaN,Procurement inv,None
553,None,- None -,83344,BL-DK0408981,,Bill,3/31/2020,Apr-20,Net 15,4/15/2020,...,-3067.48,NaN,NaN,2453.98,NaN,NaN,NaN,NaN,Procurement inv,None
565,None,- None -,CPH1822839,BL-DK0408998,,Bill,3/31/2020,Apr-20,Net 15,4/15/2020,...,-494.65,NaN,NaN,395.72,NaN,NaN,NaN,NaN,Procurement inv,None
574,None,- None -,809659,BL-DK0409101,,Bill,4/1/2020,Apr-20,Net 10,4/11/2020,...,-36516.88,NaN,NaN,29213.50,NaN,NaN,NaN,NaN,Procurement inv,None
626,None,- None -,4561,BL-DK0408984,,Bill,4/1/2020,Apr-20,Net 30,5/1/2020,...,-4959.48,NaN,NaN,4959.48,NaN,NaN,NaN,NaN,Procurement inv,None
627,None,- None -,602877320,BL-DK0409054,,Bill,4/1/2020,Apr-20,Net 15,4/16/2020,...,-103.68,NaN,NaN,82.94,NaN,NaN,NaN,NaN,Procurement inv,None
1641,None,- None -,4.59429E+12,BL-DK0409112,,Bill,4/3/2020,Apr-20,Net 15,4/18/2020,...,-2002.08,NaN,NaN,1601.66,NaN,NaN,NaN,NaN,Procurement inv,None
1643,None,- None -,660,BL-DK0408999,,Bill,4/3/2020,Apr-20,Net 15,4/18/2020,...,-1875.00,NaN,NaN,1500.00,NaN,NaN,NaN,NaN,Procurement inv,None
2147,None,- None -,111286843,BL-DK0409000,,Bill,4/4/2020,Apr-20,Net 30,5/4/2020,...,-181.25,NaN,NaN,145.00,NaN,NaN,NaN,NaN,Procurement inv,None
2152,None,- None -,4.57498E+12,BL-DK0409068,,Bill,4/4/2020,Apr-20,Net 15,4/19/2020,...,-392.00,NaN,NaN,313.60,NaN,NaN,NaN,NaN,Procurement inv,None
2153,None,- None -,4.58498E+12,BL-DK0409071,,Bill,4/4/2020,Apr-20,Net 15,4/19/2020,...,-224.00,NaN,NaN,179.20,NaN,NaN,NaN,NaN,Procurement inv,None
2154,None,- None -,4.59429E+12,BL-DK0409106,,Bill,4/4/2020,Apr-20,Net 15,4/19/2020,...,-2010.99,NaN,NaN,1608.79,NaN,NaN,NaN,NaN,Procurement inv,None
2155,None,- None -,4.64498E+12,BL-DK0409070,,Bill,4/4/2020,Apr-20,Net 15,4/19/2020,...,-1679.70,NaN,NaN,1363.76,NaN,NaN,NaN,NaN,Procurement inv,None
2156,None,- None -,4.95598E+12,BL-DK0409069,,Bill,4/4/2020,Apr-20,Net 15,4/19/2020,...,-130.38,NaN,NaN,104.30,NaN,NaN,NaN,NaN,Procurement inv,None
2613,None,- None -,20157,BL-DK0409016,,Bill,4/6/2020,Apr-20,Net 30,5/6/2020,...,-3377.00,NaN,NaN,2701.56,NaN,NaN,NaN,NaN,Procurement inv,None
2614,None,- None -,202004002,BL-DK0409007,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,-354264.28,NaN,NaN,354264.28,NaN,NaN,NaN,NaN,Procurement inv,None
2615,None,- None -,202004003,BL-DK0409008,,Bill,4/6/2020,Apr-20,NET 8,4/6/2020,...,-70852.86,NaN,NaN,70852.86,NaN,NaN,NaN,NaN,Procurement inv,None
2616,None,- None -,2.02065E+11,BL-DK0409060,,Bill,4/6/2020,Apr-20,Net 30,5/6/2020,...,-2342.96,NaN,NaN,1874.37,NaN,NaN,NaN,NaN,Procurement inv,None
2959,None,- None -,48644941,BL-DK0409034,,Bill,4/7/2020,Apr-20,Net 45,5/22/2020,...,-18770.40,NaN,NaN,15016.32,NaN,NaN,NaN,NaN,Procurement inv,None
4149,None,- None -,593391277,BL-DK0409056,,Bill,4/13/2020,Apr-20,Net 15,4/28/2020,...,-5772.26,NaN,NaN,4617.80,NaN,NaN,NaN,NaN,Procurement inv,None
4150,None,- None -,603084914,BL-DK0409057,,Bill,4/13/2020,Apr-20,Net 15,4/28/2020,...,-4241.07,NaN,NaN,3392.85,NaN,NaN,NaN,NaN,Procurement inv,None
6040,None,- None -,4325997,BL-DK0409076,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,-26326.65,NaN,NaN,21061.32,NaN,NaN,NaN,NaN,Procurement inv,None
6041,None,- None -,4325998,BL-DK0409075,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,-3261.63,NaN,NaN,3261.63,NaN,NaN,NaN,NaN,Procurement inv,None
6042,None,- None -,4325999,BL-DK0409074,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,-18002.11,NaN,NaN,14401.69,NaN,NaN,NaN,NaN,Procurement inv,None
6043,None,- None -,4326000,BL-DK0409073,,Bill,4/17/2020,Apr-20,Net 14,5/1/2020,...,-3104.05,NaN,NaN,3104.05,NaN,NaN,NaN,NaN,Procurement inv,None
8053,None,- None -,271239,BL-DK0409128,,Bill,4/24/2020,Apr-20,Net 14,5/8/2020,...,-1525.00,NaN,NaN,1220.00,NaN,NaN,NaN,NaN,Procurement inv,None
9598,None,- None -,810724,BC-DK0126129,,Bill Credit,4/30/2020,Apr-20,- None -,NaN,...,2805.63,NaN,NaN,-2244.50,NaN,NaN,NaN,NaN,Procurement inv,None

In [56]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Sum of VAT'] == 0.00) &
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Source System'] == 'NEO'), "Comment"] = 'Neo Travel Expense no vat'
vat[vat["Comment"] == "Neo Travel Expense no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
622,KDS_Exp_VB_342338,KDS_Exp_VB_342338,342338,BL-DK0408974,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,-1050.00,NaN,NaN,1050.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
623,KDS_Exp_VB_342343,KDS_Exp_VB_342343,342343,BL-DK0408975,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,-85.60,NaN,NaN,85.60,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
624,KDS_Exp_VB_349172,KDS_Exp_VB_349172,349172,BL-DK0408976,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,-472.22,NaN,NaN,472.22,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
625,KDS_Exp_VB_354752,KDS_Exp_VB_354752,354752,BL-DK0408977,,Bill,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
1638,KDS_Exp_VB_342340,KDS_Exp_VB_342340,342340,BL-DK0408988,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-13226.00,NaN,NaN,13226.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
1639,KDS_Exp_VB_354845,KDS_Exp_VB_354845,354845,BL-DK0408989,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-938.84,NaN,NaN,938.84,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
1640,KDS_Exp_VB_355296,KDS_Exp_VB_355296,355296,BL-DK0408990,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-1571.81,NaN,NaN,1257.45,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
2150,KDS_Exp_VB_342325,KDS_Exp_VB_342325,342325,BL-DK0408994,,Bill,4/4/2020,Apr-20,Due on receipt,4/4/2020,...,-16490.06,NaN,NaN,16317.90,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
2151,KDS_Exp_VB_355496,KDS_Exp_VB_355496,355496,BL-DK0408995,,Bill,4/4/2020,Apr-20,Due on receipt,4/4/2020,...,-499.00,NaN,NaN,499.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
2263,KDS_Exp_JE_342325__OOP,KDS_Exp_JE_342325__OOP,JE-DK0290837,TJE-DK0290837,,Journal,4/4/2020,Apr-20,- None -,NaN,...,NaN,-1075.00,NaN,1075.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
2957,KDS_Exp_VC_354883,KDS_Exp_VC_354883,354883,BC-DK0126122,,Bill Credit,4/7/2020,Apr-20,- None -,NaN,...,1702.00,NaN,NaN,-1702.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
2958,KDS_Exp_VB_355292,KDS_Exp_VB_355292,355292,BL-DK0409005,,Bill,4/7/2020,Apr-20,Due on receipt,4/7/2020,...,-110.00,NaN,NaN,88.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
3714,KDS_Exp_VB_348616,KDS_Exp_VB_348616,348616,BL-DK0409035,,Bill,4/9/2020,Apr-20,Due on receipt,4/9/2020,...,-4350.48,NaN,NaN,4131.68,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
3715,KDS_Exp_VB_354514,KDS_Exp_VB_354514,354514,BL-DK0409036,,Bill,4/9/2020,Apr-20,Due on receipt,4/9/2020,...,-220.00,NaN,NaN,176.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
3872,KDS_Exp_JE_348616__OOP,KDS_Exp_JE_348616__OOP,JE-DK0290935,TJE-DK0290935,,Journal,4/9/2020,Apr-20,- None -,NaN,...,NaN,-1829.00,NaN,1623.00,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
7292,KDS_Exp_JE_357506__OOP,KDS_Exp_JE_357506__OOP,JE-DK0291129,TJE-DK0291129,,Journal,4/21/2020,Apr-20,- None -,NaN,...,NaN,-368.99,NaN,368.99,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
7745,KDS_Exp_VC_8006463,KDS_Exp_VC_8006463.2020-04-23-1-CR,8006463.2020-04-23-1-CR,BC-DK0126127,,Bill Credit,4/23/2020,Apr-20,- None -,NaN,...,131652.31,-131652.31,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None
8700,KDS_Exp_VC_8006463,KDS_Exp_VC_8006463.2020-04-28-1-CR,8006463.2020-04-28-1-CR,BC-DK0126128,,Bill Credit,4/28/2020,Apr-20,- None -,NaN,...,8059.05,-8059.05,NaN,NaN,NaN,NaN,NaN,NaN,Neo Travel Expense no vat,None

In [57]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [58]:
#excel_file = pd.ExcelWriter("Darko VAT3.xlsx")

#vat.to_excel(excel_file, sheet_name = "vat", index = False)

#excel_file.save()

In [59]:
vat.loc[#((vat['Sum of VAT'].isnull()) | (vat['Sum of VAT'] == 0)) & this is goes trough each Row and uses OR when same column same effect as below code
        (vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == "Transactions 0DKK") &
        (vat['Type'].isin(['Bill', 'Bill Credit'])) &
        (~vat['Maximum of Linked Invoice'].isin([np.nan, ' '])), 'Comment'] = 'Linked invoice'
vat[vat["Comment"] == "Linked invoice"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [60]:
#This column in CSV File is corrupt, you cannot fileter on - None - accurately

#vat.loc[#((vat['Sum of VAT'].isnull()) | (vat['Sum of VAT'] == 0)) &
        #(vat['Sum of VAT'].isin([np.nan, 0])) &
        #(vat['Comment'] == 'Transactions 0DKK') &
        #(vat['Memo (Main)'] != '- None -'), 'Comment'] = 'Travel bill'
        #(vat['Memo (Main)'].isin(['- None -'] ) == False), 'Comment'] = 'Travel bill'
        #(~vat['Memo (Main)'].isin(['- None -'])), 'Comment'] = 'Travel bill'
#vat[vat["Comment"] == "Travel bill"]
#vat[vat['Memo (Main)'] != '- None -']

In [61]:
vat.iloc[4:]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
4,None,- None -,602648520,BL-DK0409110,,Bill,12/3/2019,Apr-20,Net 15,12/18/2019,...,-118.51,NaN,NaN,94.81,NaN,NaN,NaN,NaN,Procurement inv,None
5,ERST,ERST-DK : 09500100020-GDK_8100886_IN-DK0002366,IN-DK4748659,TIN-DK4748659,,Invoice,12/6/2019,Apr-20,Net 20,12/26/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
6,IN,556684022_IN-M40002208,IN-DK4748876,TIN-DK4748876,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
7,IN,556684031_IN-M40002218,IN-DK4748877,TIN-DK4748877,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
8,IN,557390047_IN-M40003193,IN-DK4748869,TIN-DK4748869,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,...,NaN,0.0,NaN,NaN,0.00,NaN,NaN,0.00,Transactions 0DKK,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10098,GBTICJE,GBTICJE-IDENTIFIERB-ID2167191,JE-NL1267740,TJE-NL0157664,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-1986.30,0.0,NaN,1986.30,-496.58,NaN,NaN,-1986.32,Reverse charge booked automatically in Netsuite,Reverse charge
10099,GBTICJE,GBTICJE-IDENTIFIERB-ID2167204,JE-NL1267747,TJE-NL0157671,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3036.84,0.0,NaN,3036.84,-759.21,NaN,NaN,-3036.84,Reverse charge booked automatically in Netsuite,Reverse charge
10100,GBTICJE,GBTICJE-IDENTIFIERB-ID2167235,JE-NL1267784,TJE-NL0157708,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-45880.50,0.0,NaN,45880.50,-11470.13,NaN,NaN,-45880.52,Reverse charge booked automatically in Netsuite,Reverse charge
10101,GBTICJE,GBTICJE-IDENTIFIERB-ID2167236,JE-NL1267785,TJE-NL0157709,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-17945.13,0.0,NaN,17945.13,-4486.28,NaN,NaN,-17945.12,Reverse charge booked automatically in Netsuite,Reverse charge
10102,GBTICJE,GBTICJE-IDENTIFIERB-ID2167237,JE-NL1267786,TJE-NL0157710,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-3189.44,0.0,NaN,3189.44,-797.36,NaN,NaN,-3189.44,Reverse charge booked automatically in Netsuite,Reverse charge

In [62]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].notnull()), 'Comment'] = 'IC invoice EU/Outside'
vat[vat["Comment"] == "IC invoice EU/Outside"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
9597,GBTICJE,GBTICJE-IDENTIFIERB-ID2155588,JE-NL1266697,TJE-NL0156621,,Journal,4/29/2020,Apr-20,- None -,NaN,...,-40252.64,0.0,40252.64,NaN,0.0,0.0,40252.64,0.0,IC invoice EU/Outside,None
9823,GBTICJE,GBTICJE-IDENTIFIERA-ID2149906,JE-DK0291253,TJE-DK0291253,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-2707.17,NaN,0.0,-0.0,-2707.17,0.0,IC invoice EU/Outside,None
9824,GBTICJE,GBTICJE-IDENTIFIERA-ID2149898,JE-DK0291254,TJE-DK0291254,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-809.04,NaN,0.0,-0.0,-809.04,0.0,IC invoice EU/Outside,None
9825,GBTICJE,GBTICJE-IDENTIFIERA-ID2149897,JE-DK0291255,TJE-DK0291255,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-2240.42,NaN,0.0,-0.0,-2240.42,0.0,IC invoice EU/Outside,None
9826,GBTICJE,GBTICJE-IDENTIFIERA-ID2149899,JE-DK0291256,TJE-DK0291256,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-1991.48,NaN,0.0,-0.0,-1991.48,0.0,IC invoice EU/Outside,None
9827,GBTICJE,GBTICJE-IDENTIFIERA-ID2149901,JE-DK0291257,TJE-DK0291257,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-217.82,NaN,0.0,-0.0,-217.82,0.0,IC invoice EU/Outside,None
9828,GBTICJE,GBTICJE-IDENTIFIERA-ID2149900,JE-DK0291258,TJE-DK0291258,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-116750.71,NaN,0.0,-0.0,-116750.71,0.0,IC invoice EU/Outside,None
9829,GBTICJE,GBTICJE-IDENTIFIERA-ID2149902,JE-DK0291259,TJE-DK0291259,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-403679.89,NaN,0.0,-0.0,-403679.89,0.0,IC invoice EU/Outside,None
9830,GBTICJE,GBTICJE-IDENTIFIERA-ID2149903,JE-DK0291260,TJE-DK0291260,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-6285.62,NaN,0.0,-0.0,-6285.62,0.0,IC invoice EU/Outside,None
9831,GBTICJE,GBTICJE-IDENTIFIERA-ID2149904,JE-DK0291261,TJE-DK0291261,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-373.40,NaN,0.0,-0.0,-373.40,0.0,IC invoice EU/Outside,None
9832,GBTICJE,GBTICJE-IDENTIFIERA-ID2149905,JE-DK0291262,TJE-DK0291262,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-65283.31,NaN,0.0,-0.0,-65283.31,0.0,IC invoice EU/Outside,None
9833,GBTICJE,GBTICJE-IDENTIFIERA-ID2149908,JE-DK0291263,TJE-DK0291263,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-11139.86,NaN,0.0,-0.0,-11139.86,0.0,IC invoice EU/Outside,None
9834,GBTICJE,GBTICJE-IDENTIFIERA-ID2149907,JE-DK0291264,TJE-DK0291264,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-3609.56,NaN,0.0,-0.0,-3609.56,0.0,IC invoice EU/Outside,None
9835,GBTICJE,GBTICJE-IDENTIFIERA-ID2149909,JE-DK0291265,TJE-DK0291265,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-11980.02,NaN,0.0,-0.0,-11980.02,0.0,IC invoice EU/Outside,None
9836,GBTICJE,GBTICJE-IDENTIFIERA-ID2149910,JE-DK0291266,TJE-DK0291266,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-27040.61,NaN,0.0,-0.0,-27040.61,0.0,IC invoice EU/Outside,None
9837,GBTICJE,GBTICJE-IDENTIFIERA-ID2149911,JE-DK0291267,TJE-DK0291267,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-12602.36,NaN,0.0,-0.0,-12602.36,0.0,IC invoice EU/Outside,None
9838,GBTICJE,GBTICJE-IDENTIFIERA-ID2149912,JE-DK0291268,TJE-DK0291268,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-5943.33,NaN,0.0,-0.0,-5943.33,0.0,IC invoice EU/Outside,None
9839,GBTICJE,GBTICJE-IDENTIFIERA-ID2149913,JE-DK0291269,TJE-DK0291269,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-9957.42,NaN,0.0,-0.0,-9957.42,0.0,IC invoice EU/Outside,None
9840,GBTICJE,GBTICJE-IDENTIFIERA-ID2149914,JE-DK0291270,TJE-DK0291270,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-75085.14,NaN,0.0,-0.0,-75085.14,0.0,IC invoice EU/Outside,None
9841,GBTICJE,GBTICJE-IDENTIFIERA-ID2149916,JE-DK0291271,TJE-DK0291271,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-59028.81,NaN,0.0,-0.0,-59028.81,0.0,IC invoice EU/Outside,None
9842,GBTICJE,GBTICJE-IDENTIFIERA-ID2149915,JE-DK0291272,TJE-DK0291272,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-4947.59,NaN,0.0,-0.0,-4947.59,0.0,IC invoice EU/Outside,None
9843,GBTICJE,GBTICJE-IDENTIFIERA-ID2149918,JE-DK0291273,TJE-DK0291273,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-62.23,NaN,0.0,-0.0,-62.23,0.0,IC invoice EU/Outside,None
9844,GBTICJE,GBTICJE-IDENTIFIERA-ID2149917,JE-DK0291274,TJE-DK0291274,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-10486.40,NaN,0.0,-0.0,-10486.40,0.0,IC invoice EU/Outside,None
9845,GBTICJE,GBTICJE-IDENTIFIERA-ID2149920,JE-DK0291275,TJE-DK0291275,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-3018.34,NaN,0.0,-0.0,-3018.34,0.0,IC invoice EU/Outside,None
9846,GBTICJE,GBTICJE-IDENTIFIERA-ID2149922,JE-DK0291276,TJE-DK0291276,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-11980.02,NaN,0.0,-0.0,-11980.02,0.0,IC invoice EU/Outside,None
9847,GBTICJE,GBTICJE-IDENTIFIERA-ID2149923,JE-DK0291277,TJE-DK0291277,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-31210.28,NaN,0.0,-0.0,-31210.28,0.0,IC invoice EU/Outside,None
9848,GBTICJE,GBTICJE-IDENTIFIERA-ID2149925,JE-DK0291278,TJE-DK0291278,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-1711.43,NaN,0.0,-0.0,-1711.43,0.0,IC invoice EU/Outside,None
9849,GBTICJE,GBTICJE-IDENTIFIERA-ID2149924,JE-DK0291279,TJE-DK0291279,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-1213.56,NaN,0.0,-0.0,-1213.56,0.0,IC invoice EU/Outside,None
9850,GBTICJE,GBTICJE-IDENTIFIERA-ID2149919,JE-DK0291280,TJE-DK0291280,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-528.99,NaN,0.0,-0.0,-528.99,0.0,IC invoice EU/Outside,None
9851,GBTICJE,GBTICJE-IDENTIFIERA-ID2149921,JE-DK0291281,TJE-DK0291281,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-62.23,NaN,0.0,-0.0,-62.23,0.0,IC invoice EU/Outside,None
9852,GBTICJE,GBTICJE-IDENTIFIERA-ID2149929,JE-DK0291282,TJE-DK0291282,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-6472.32,NaN,0.0,-0.0,-6472.32,0.0,IC invoice EU/Outside,None
9853,GBTICJE,GBTICJE-IDENTIFIERA-ID2149930,JE-DK0291283,TJE-DK0291283,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-1618.08,NaN,0.0,-0.0,-1618.08,0.0,IC invoice EU/Outside,None
9854,GBTICJE,GBTICJE-IDENTIFIERA-ID2149931,JE-DK0291284,TJE-DK0291284,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-12789.06,NaN,0.0,-0.0,-12789.06,0.0,IC invoice EU/Outside,None
9855,GBTICJE,GBTICJE-IDENTIFIERA-ID2149927,JE-DK0291285,TJE-DK0291285,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-560.10,NaN,0.0,-0.0,-560.10,0.0,IC invoice EU/Outside,None
9856,GBTICJE,GBTICJE-IDENTIFIERA-ID2149928,JE-DK0291286,TJE-DK0291286,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-53676.70,NaN,0.0,-0.0,-53676.70,0.0,IC invoice EU/Outside,None
9857,GBTICJE,GBTICJE-IDENTIFIERA-ID2149933,JE-DK0291287,TJE-DK0291287,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-8526.04,NaN,0.0,-0.0,-8526.04,0.0,IC invoice EU/Outside,None
9858,GBTICJE,GBTICJE-IDENTIFIERA-ID2149932,JE-DK0291288,TJE-DK0291288,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-41198.81,NaN,0.0,-0.0,-41198.81,0.0,IC invoice EU/Outside,None
9859,GBTICJE,GBTICJE-IDENTIFIERA-ID2149926,JE-DK0291289,TJE-DK0291289,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.0,-2147.07,NaN,0.0,-0.0,-2147.07,0.0,IC invoice EU/Outside,None

In [63]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['External name'] == 'GBTICJE') &
        (vat['Maximum of NetSuite Tax Item'].isnull()), 'Comment'] = 'Intercompany'
vat[vat["Comment"] == "Intercompany"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
290,GBTICJE,GBTICJE-IDENTIFIERH-ID2143388,JE-NL1265477,TJE-NL0155401,,Journal,3/17/2020,Apr-20,- None -,NaN,...,NaN,-5761.39,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
291,GBTICJE,GBTICJE-IDENTIFIERH-ID2143387,JE-NL1265478,TJE-NL0155402,,Journal,3/17/2020,Apr-20,- None -,NaN,...,NaN,-9432.22,NaN,NaN,NaN,NaN,NaN,NaN,Intercompany,None
945,GBTICJE,GBTICJE-IDENTIFIERB-ID2125858,JE-NL1263885,TJE-NL0153809,,Journal,4/1/2020,Apr-20,- None -,NaN,...,-1116825.25,NaN,1116825.25,NaN,NaN,NaN,NaN,NaN,Intercompany,None
946,GBTICJE,GBTICJE-IDENTIFIERH-ID2125859,JE-NL1263886,TJE-NL0153810,,Journal,4/1/2020,Apr-20,- None -,NaN,...,NaN,NaN,-1005142.75,NaN,NaN,NaN,NaN,NaN,Intercompany,None
5490,GBTICJE,GBTICJE-IDENTIFIERH-ID2137948,JE-NL1264657,TJE-NL0154581,,Journal,4/15/2020,Apr-20,- None -,NaN,...,NaN,NaN,-11852.44,NaN,NaN,NaN,NaN,NaN,Intercompany,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10092,GBTICJE,GBTICJE-IDENTIFIERB-ID2162295,JE-NL1267348,TJE-NL0157272,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-21778.51,NaN,NaN,21778.51,NaN,NaN,NaN,NaN,Intercompany,None
10093,GBTICJE,GBTICJE-IDENTIFIERO-ID2162388,JE-NL1267370,TJE-NL0157294,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-8614.96,NaN,NaN,8614.96,NaN,NaN,NaN,NaN,Intercompany,None
10095,GBTICJE,GBTICJE-IDENTIFIERB-ID2163890,JE-NL1267486,TJE-NL0157410,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-31007.51,NaN,NaN,31007.51,NaN,NaN,NaN,NaN,Intercompany,None
10096,GBTICJE,GBTICJE-IDENTIFIERB-ID2165590,JE-NL1267542,TJE-NL0157466,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-532843.66,NaN,532843.66,NaN,NaN,NaN,NaN,NaN,Intercompany,None
10097,GBTICJE,GBTICJE-IDENTIFIERH-ID2165589,JE-NL1267547,TJE-NL0157471,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,-592048.47,NaN,NaN,NaN,NaN,NaN,Intercompany,None

In [64]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Type'] == 'Journal'), 'Comment'] = 'JE-transactions-no vat'
vat[vat["Comment"] == "JE-transactions-no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
2,FA_rvig5_,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,...,NaN,NaN,NaN,-11.03,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
57,ID,861_ID-31053_COGSADJ,JE-DK0292281,TJE-DK0292281,,Journal,1/28/2020,Apr-20,- None -,NaN,...,-17.47,17.47,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
61,ID,841_ID-31113_COGSADJ,JE-DK0292296,TJE-DK0292296,,Journal,2/3/2020,Apr-20,- None -,NaN,...,111.08,-111.08,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
64,ID,842_ID-31017_COGSADJ,JE-DK0292273,TJE-DK0292273,,Journal,2/4/2020,Apr-20,- None -,NaN,...,57.01,-57.01,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
65,ID,843_ID-31026_COGSADJ,JE-DK0292275,TJE-DK0292275,,Journal,2/4/2020,Apr-20,- None -,NaN,...,57.01,-57.01,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10055,GSD_jkuper_Region,20200430_GSD_jkuper_Region Cleanup_GG210r-dk,JE-DK0292405,TJE-DK0292405,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10056,FINREP_FCCA,20200430_FINREP_FCCA Clearance_4042_AG2_Apr'20,JE-DK0292406,TJE-DK0292406,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,122.57,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10057,FINREP_FCCA,20200430_FINREP_FCCA Clearance_1115_AG2_Apr'20,JE-DK0292407,TJE-DK0292407,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,-122.57,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10058,RCL102APRIL2020,RCL102APRIL2020 1004,JE-DK0292409,TJE-DK0292409,,Journal,4/30/2020,Apr-20,- None -,NaN,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10060,AprHRG_DNK_TB_movement_Sales,2020AprHRG_DNK_TB_movement_Sales,JE-DK0292469,TJE-DK0292469,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None

In [65]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (~vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Type'].isin(['Bill','Bill Credit'])), 'Comment'] = 'Linked invoice'
vat[vat["Comment"] == "Linked invoice"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
74,None,- None -,2383283/IC,BL-DK0409001,,Bill,2/6/2020,Apr-20,Net 97,5/13/2020,...,-1098.11,1098.11,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
101,None,- None -,1150247,BL-DK0409003,,Bill,2/18/2020,Apr-20,Net 30,3/19/2020,...,-2271.15,2271.15,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
137,None,- None -,- None -,BC-DK0126117,,Bill Credit,2/24/2020,Apr-20,- None -,NaN,...,1742.00,-1742.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
244,None,- None -,1.09108E+14,BL-DK0409002,,Bill,3/8/2020,Apr-20,Due on receipt,3/8/2020,...,-8373.86,8373.86,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
300,None,- None -,- None -,BC-DK0126118,,Bill Credit,3/19/2020,Apr-20,- None -,NaN,...,1439.00,-1439.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
621,None,- None -,2800046795,BL-DK0408978,,Bill,4/1/2020,Apr-20,- None -,4/16/2020,...,-178711.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
947,None,- None -,1006045239,BL-DK0408985,,Bill,4/2/2020,Apr-20,Due on receipt,4/2/2020,...,-826.00,826.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
948,None,- None -,1070506203,BC-DK0126115,,Bill Credit,4/2/2020,Apr-20,- None -,NaN,...,826.00,-826.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1631,None,- None -,1006045274,BL-DK0408992,,Bill,4/3/2020,Apr-20,- None -,4/3/2020,...,-15028.00,15028.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1632,None,- None -,1006045391,BL-DK0408991,,Bill,4/3/2020,Apr-20,- None -,4/3/2020,...,-471.00,471.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1633,None,- None -,1070506197,BC-DK0126120,,Bill Credit,4/3/2020,Apr-20,- None -,NaN,...,852.00,-852.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1634,None,- None -,1070506226,BC-DK0126116,,Bill Credit,4/3/2020,Apr-20,- None -,NaN,...,15590.00,-15590.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1635,None,- None -,1124300,BL-DK0408986,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-30055.00,24044.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1642,None,- None -,6006162A,BL-DK0408993,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-4825.30,NaN,NaN,4825.3,NaN,NaN,NaN,NaN,Linked invoice,None
1644,None,- None -,765002,BC-DK0126119,,Bill Credit,4/3/2020,Apr-20,- None -,NaN,...,15776.21,-15776.21,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
1645,None,- None -,A917305,BL-DK0408987,,Bill,4/3/2020,Apr-20,Due on receipt,4/3/2020,...,-12106.07,12106.07,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2271,None,- None -,9034-000441,BL-DK0408996,,Bill,4/5/2020,Apr-20,Due on receipt,4/5/2020,...,-14808.65,14808.65,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2617,None,- None -,2946665,BC-DK0126121,,Bill Credit,4/6/2020,Apr-20,- None -,NaN,...,6097.60,-6097.60,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2618,None,- None -,30341156063,BL-DK0408997,,Bill,4/6/2020,Apr-20,Due on receipt,4/6/2020,...,-30267.25,30267.25,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2956,None,- None -,2428256/IC,BL-DK0409006,,Bill,4/7/2020,Apr-20,Due on receipt,4/7/2020,...,-1794.30,1794.30,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2960,None,- None -,87288829,BL-DK0409013,,Bill,4/7/2020,Apr-20,Net 15,4/8/2020,...,-7645.00,7645.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2961,None,- None -,87288850,BL-DK0409011,,Bill,4/7/2020,Apr-20,Net 15,5/7/2020,...,-1808.89,1808.89,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2962,None,- None -,87289102,BL-DK0409014,,Bill,4/7/2020,Apr-20,Net 15,5/11/2020,...,-1912.25,1912.25,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2963,None,- None -,963413,BL-DK0409004,,Bill,4/7/2020,Apr-20,Due on receipt,4/7/2020,...,-1199.96,1199.96,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2987,None,- None -,I09050000382791,BL-DK0409015,,Bill,4/7/2020,Apr-20,Net 15,5/11/2020,...,-9685.42,9685.42,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2988,None,- None -,I09118002458692,BL-DK0409010,,Bill,4/7/2020,Apr-20,Net 15,5/7/2020,...,-1149.33,1149.33,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2989,None,- None -,I09118002460011,BL-DK0409009,,Bill,4/7/2020,Apr-20,Net 15,5/7/2020,...,-1066.94,1066.94,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
2991,None,- None -,I09913000594361,BL-DK0409012,,Bill,4/7/2020,Apr-20,Net 15,5/7/2020,...,-1569.77,1569.77,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3376,None,- None -,1006048217,BC-DK0126123,,Bill Credit,4/8/2020,Apr-20,- None -,NaN,...,2746.00,-2746.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3377,None,- None -,21900171198,BL-DK0409028,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-722.50,722.50,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3378,None,- None -,21970020664,BL-DK0409029,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-2759.89,2759.89,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3379,None,- None -,22070020713,BL-DK0409030,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-1470.82,1470.82,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3380,None,- None -,22070020714,BL-DK0409031,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-300.54,300.54,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3381,None,- None -,22070020730,BL-DK0409032,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-1379.85,1379.85,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3382,None,- None -,22070020742,BL-DK0409033,,Bill,4/8/2020,Apr-20,Due on receipt,4/8/2020,...,-1801.17,1801.17,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3387,None,- None -,2800046889,BL-DK0409026,,Bill,4/8/2020,Apr-20,- None -,4/23/2020,...,-89097.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3415,None,- None -,I09118002476516,BL-DK0409027,,Bill,4/8/2020,Apr-20,Net 15,5/12/2020,...,-1049.42,1049.42,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
3713,None,- None -,22070020768,BL-DK0409037,,Bill,4/9/2020,Apr-20,Due on receipt,4/9/2020,...,-1392.02,1392.02,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4335,None,- None -,13522160_CR,BC-DK0126124,,Bill Credit,4/14/2020,Apr-20,- None -,NaN,...,30375.00,-24300.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4336,None,- None -,1451-VPAY-APRIL2020,BL-DK0409047,,Bill,4/14/2020,Apr-20,Due on receipt,4/27/2020,...,-46354.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4337,None,- None -,147907_14042020,BL-DK0409048,,Bill,4/14/2020,Apr-20,Due on receipt,4/14/2020,...,-166138.00,166138.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4338,None,- None -,147907_14042020_CR,BC-DK0126125,,Bill Credit,4/14/2020,Apr-20,- None -,NaN,...,3983.00,-3983.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4343,None,- None -,3103-VPAY-APRIL2020,BL-DK0409046,,Bill,4/14/2020,Apr-20,- None -,4/27/2020,...,-14016.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4344,None,- None -,5198664,BL-DK0409043,,Bill,4/14/2020,Apr-20,Due on receipt,4/14/2020,...,-13228.71,13228.71,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4345,None,- None -,5198665,BL-DK0409044,,Bill,4/14/2020,Apr-20,Due on receipt,4/14/2020,...,-14695.59,14695.59,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
4346,None,- None -,5198666,BL-DK0409045,,Bill,4/14/2020,Apr-20,Due on receipt,4/14/2020,...,-14289.73,14289.73,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
5515,None,- None -,134067_16042020,BL-DK0409062,,Bill,4/16/2020,Apr-20,Due on receipt,4/16/2020,...,-12663.76,12663.76,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
6039,None,- None -,3000851568,BL-DK0409067,,Bill,4/17/2020,Apr-20,Due on receipt,4/17/2020,...,-10424.27,10424.27,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
6494,None,- None -,147655_20042020,BL-DK0409072,,Bill,4/20/2020,Apr-20,Due on receipt,4/20/2020,...,-79062.50,63250.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
6992,None,- None -,75-19/039,BL-DK0409080,,Bill,4/21/2020,Apr-20,Due on receipt,4/21/2020,...,-1021.93,1021.93,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
7743,None,- None -,1020000003,BL-DK0409104,,Bill,4/23/2020,Apr-20,Due on receipt,4/23/2020,...,-43064.73,43064.73,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
7744,None,- None -,63200088,BL-DK0409105,,Bill,4/23/2020,Apr-20,Due on receipt,4/23/2020,...,-49672.89,49672.89,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
8054,None,- None -,3443000,BL-DK0409127,,Bill,4/24/2020,Apr-20,Due on receipt,4/24/2020,...,-130371.00,106492.80,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
8213,None,- None -,INV MSDC2020-ICS-127,BL-DK0409126,,Bill,4/24/2020,Apr-20,Due on receipt,4/24/2020,...,-39895.73,39895.73,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
8401,None,- None -,931564,BL-DK0409129,,Bill,4/27/2020,Apr-20,Due on receipt,4/27/2020,...,-30.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
8699,None,- None -,4184577,BL-DK0409137,,Bill,4/28/2020,Apr-20,Due on receipt,4/28/2020,...,-206741.25,175501.50,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
9185,None,- None -,D2597032,BL-DK0409144,,Bill,4/29/2020,Apr-20,Due on receipt,4/29/2020,...,-21021.79,21021.79,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None
9609,None,- None -,6682,BL-DK0409150,,Bill,4/30/2020,Apr-20,Due on receipt,4/30/2020,...,-50.00,40.00,NaN,NaN,NaN,NaN,NaN,NaN,Linked invoice,None

In [66]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (~vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Type'].isin(['Credit Memo','Invoice', 'Journal'])), 'Comment'] = 'JE-transactions-no vat'
vat[vat["Comment"] == "JE-transactions-no vat"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
2,FA_rvig5_,20200430_FA_rvig5_(1) DN-1173_Petty Variance,JE-DK0292037,TJE-DK0292037,,Journal,4/30/2019,Apr-20,- None -,NaN,...,NaN,NaN,NaN,-11.03,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
5,ERST,ERST-DK : 09500100020-GDK_8100886_IN-DK0002366,IN-DK4748659,TIN-DK4748659,,Invoice,12/6/2019,Apr-20,Net 20,12/26/2019,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,JE-transactions-no vat,None
6,IN,556684022_IN-M40002208,IN-DK4748876,TIN-DK4748876,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,JE-transactions-no vat,None
7,IN,556684031_IN-M40002218,IN-DK4748877,TIN-DK4748877,,Invoice,12/6/2019,Apr-20,Net 10,12/16/2019,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,JE-transactions-no vat,None
8,IN,557390047_IN-M40003193,IN-DK4748869,TIN-DK4748869,,Invoice,12/10/2019,Apr-20,Net 10,12/20/2019,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,JE-transactions-no vat,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10055,GSD_jkuper_Region,20200430_GSD_jkuper_Region Cleanup_GG210r-dk,JE-DK0292405,TJE-DK0292405,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10056,FINREP_FCCA,20200430_FINREP_FCCA Clearance_4042_AG2_Apr'20,JE-DK0292406,TJE-DK0292406,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,122.57,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10057,FINREP_FCCA,20200430_FINREP_FCCA Clearance_1115_AG2_Apr'20,JE-DK0292407,TJE-DK0292407,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,NaN,-122.57,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10058,RCL102APRIL2020,RCL102APRIL2020 1004,JE-DK0292409,TJE-DK0292409,,Journal,4/30/2020,Apr-20,- None -,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None
10060,AprHRG_DNK_TB_movement_Sales,2020AprHRG_DNK_TB_movement_Sales,JE-DK0292469,TJE-DK0292469,,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,JE-transactions-no vat,None

In [67]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-E-2-VT-S-')), 'Transaction type'] = 'Regional-not in EU-Rubrik C'
vat[vat["Transaction type"] == "Regional-not in EU-Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [68]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-I-2-VT-S-')), 'Transaction type'] = 'International - Rubrik C'
vat[vat["Transaction type"] == "International - Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [69]:
vat.loc[(vat['Sum of VAT'].isin([np.nan, 0])) &
        (vat['Comment'] == 'Transactions 0DKK') &
        (vat['Source System'].isin(['- None -','GMAX'])) &
        (vat['Maximum of Tax Code (Consolidated)'].str.contains('-CPB-')), 'Transaction type'] = 'Rail - commission passback - Rubrik C'
vat[vat["Transaction type"] == "Rail - commission passback - Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [70]:
vat.loc[(vat['Transaction type'] == 'International - Rubrik C'), 'Comment'] = '0% VAT Denmark'
vat[vat["Transaction type"] == "International - Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [71]:
vat.loc[(vat['Transaction type'] == 'Regional-not in EU-Rubrik C'), 'Comment'] = '0% VAT Denmark'
vat[vat["Transaction type"] == "Regional-not in EU-Rubrik C"]

Empty DataFrame
Columns: [External name, External ID, Document Number, Transaction Number, Maximum of Linked Invoice, Type, Date, Period, Terms, Maximum of Due Date/Receive By, Company Name, Customer VAT Registration Number, Bill to City, Bill to State, Bill to Country, Bill to Zip, Source System, Source System Identifier, City, State/Province, Country, Zip, Currency, Memo (Main), Maximum of GMAX Tax Code, Maximum of NetSuite Tax Item, Maximum of Coupa Tax Code, Maximum of External System Tax Code, Maximum of Tax Code (Consolidated), FOP Type, Sum of Assets, Sum of Accounts Payable, Sum of Other Liabilities, Sum of Income, Sum of Expense, Sum of VAT, VAT rate, Liab+Net Inc, Correct revenue, Comment, Transaction type]
Index: []

[0 rows x 41 columns]

In [72]:
vat.loc[(vat['Comment'] == 'Transactions 0DKK'), 'Comment'] = 'Travel Bill'
vat[vat["Comment"] == "Travel Bill"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
396,None,- None -,"Denmark BSP Feb P4,MarchP1,P2,P3 Consenting",BL-DK0409041,,Bill,3/26/2020,Apr-20,- None -,3/26/2020,...,-91630.64,91630.64,NaN,NaN,NaN,NaN,NaN,NaN,Travel Bill,None
628,CM,00383817369-1308316-001-001-CM,CM-DK0311138,TCM-DK0311138,Invoice #IN-DK4731342,Credit Memo,4/1/2020,Apr-20,- None -,NaN,...,NaN,1170.28,0.00,NaN,0.0,0.0,1170.28,0.0,Travel Bill,None
629,CM,00381061016-8114432-005-001-CM,CM-DK0311378,TCM-DK0311378,,Credit Memo,4/1/2020,Apr-20,- None -,NaN,...,NaN,0.00,NaN,453.0,0.0,NaN,NaN,0.0,Travel Bill,None
630,CM,00382036901-1308303-014-001-CM,CM-DK0311379,TCM-DK0311379,,Credit Memo,4/1/2020,Apr-20,- None -,NaN,...,NaN,0.00,NaN,318.0,0.0,NaN,NaN,0.0,Travel Bill,None
631,CM,00383498088-1308328-003-001-CM,CM-DK0311380,TCM-DK0311380,,Credit Memo,4/1/2020,Apr-20,- None -,NaN,...,NaN,0.00,NaN,621.0,0.0,NaN,NaN,0.0,Travel Bill,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,CI,00384056378-1312711-002-001-CI,IN-DK4756606,TIN-DK4756606,,Invoice,4/30/2020,Apr-20,- None -,4/30/2020,...,NaN,0.00,-178.00,NaN,0.0,-0.0,-178.00,0.0,Travel Bill,None
9810,CI,00384056381-1312721-002-001-CI,IN-DK4756607,TIN-DK4756607,,Invoice,4/30/2020,Apr-20,- None -,4/30/2020,...,NaN,0.00,-178.00,NaN,0.0,-0.0,-178.00,0.0,Travel Bill,None
9811,CI,00384056392-1312722-002-001-CI,IN-DK4756608,TIN-DK4756608,,Invoice,4/30/2020,Apr-20,- None -,4/30/2020,...,NaN,0.00,-284.00,NaN,0.0,-0.0,-284.00,0.0,Travel Bill,None
9816,CI,00384056397-1312723-002-001-CI,IN-DK4756613,TIN-DK4756613,,Invoice,4/30/2020,Apr-20,Due on receipt,4/30/2020,...,NaN,0.00,-178.00,NaN,0.0,-0.0,-178.00,0.0,Travel Bill,None
9820,CI,00384061686-1312939-003-001-CI,IN-DK4756848,TIN-DK4756848,Invoice #IN-DK4756362,Invoice,4/30/2020,Apr-20,- None -,4/30/2020,...,NaN,0.00,-30.32,NaN,0.0,-0.0,-30.32,0.0,Travel Bill,None

In [73]:
vat[vat["Comment"] == "VAT"]

,External name,External ID,Document Number,Transaction Number,Maximum of Linked Invoice,Type,Date,Period,Terms,Maximum of Due Date/Receive By,...,Sum of Accounts Payable,Sum of Other Liabilities,Sum of Income,Sum of Expense,Sum of VAT,VAT rate,Liab+Net Inc,Correct revenue,Comment,Transaction type
633,None,- None -,IN-DK4748556,TIN-DK4748556,,Invoice,4/1/2020,Apr-20,Net 30,5/1/2020,...,NaN,-71143.00,NaN,NaN,-2488.00,NaN,NaN,-9952.00,VAT,Domestic 25%
759,CI,00373867414-1308285-014-001-CI,IN-DK4749443,TIN-DK4749443,,Invoice,4/1/2020,Apr-20,Due on receipt,4/1/2020,...,NaN,0.00,-178.00,NaN,-44.50,0.25000,-178.00,-178.00,VAT,Domestic 25%
761,CI,00374900399-1308317-004-001-CI,IN-DK4749445,TIN-DK4749445,,Invoice,4/1/2020,Apr-20,- None -,4/1/2020,...,NaN,0.00,-90.00,NaN,-22.50,0.25000,-90.00,-90.00,VAT,Domestic 25%
762,CI,00375179279-1308286-010-001-CI,IN-DK4749446,TIN-DK4749446,,Invoice,4/1/2020,Apr-20,- None -,4/1/2020,...,NaN,0.00,-86.00,NaN,-21.50,0.25000,-86.00,-86.00,VAT,Domestic 25%
767,CI,00373286308-1308366-004-001-CI,IN-DK4749451,TIN-DK4749451,,Invoice,4/1/2020,Apr-20,- None -,4/1/2020,...,NaN,0.00,-86.00,NaN,-21.50,0.25000,-86.00,-86.00,VAT,Domestic 25%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,None,- None -,JE-DK0292005,TJE-DK0292005,Invoice #IN-DK4756834,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.00,-123.00,NaN,-30.75,0.25000,-123.00,-123.00,VAT,Domestic 25%
9981,None,- None -,JE-DK0292006,TJE-DK0292006,Invoice #IN-DK4756840,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.00,-360.00,NaN,-90.00,0.25000,-360.00,-360.00,VAT,Domestic 25%
9982,None,- None -,JE-DK0292008,TJE-DK0292008,Invoice #IN-DK4756837,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.00,-74.00,NaN,-18.50,0.25000,-74.00,-74.00,VAT,Domestic 25%
9983,None,- None -,JE-DK0292009,TJE-DK0292009,Invoice #IN-DK4756838,Journal,4/30/2020,Apr-20,- None -,NaN,...,NaN,0.00,-228.00,NaN,-57.00,0.25000,-228.00,-228.00,VAT,Domestic 25%
10059,AprHRG_DNK_TB_Movement,2020AprHRG_DNK_TB_Movement,JE-DK0292468,TJE-DK0292468,,Journal,4/30/2020,Apr-20,- None -,NaN,...,-334338.93,3081028.12,-341700.54,-2427216.45,-7726.21,-0.00282,2739327.58,-30904.84,VAT,Domestic 25%

In [81]:
pvt=vat.pivot_table(index='Comment', values=['Sum of Income', 'Correct revenue', 'Sum of VAT'], aggfunc='sum', margins=True, margins_name='Grand total')

In [82]:
pvt.loc[('Grand total'),:] = pvt.iloc[:(pvt.shape[0]-1), :].sum()

In [85]:
pvt.round(0).astype(int)

,Correct revenue,Sum of Income,Sum of VAT
Comment,,,
Hotel Commission,-65080,-196815,-16270
IC invoice EU/Outside,0,-968683,0
Intercompany,0,27763,0
JE-transactions-no vat,0,-1665922,0
Linked invoice,0,0,0
Neo Travel Expense no vat,0,0,0
Procurement inv,0,0,0
Reverse charge booked automatically in Netsuite,-260935,0,-65234
Travel Bill,0,-186615,0
VAT,-4602342,-993012,-1150585
Grand total,-4928357,-3983285,-1232089

In [75]:
# excel_file = pd.ExcelWriter("Darko_VAT_sales_202004.xlsx")

# vat.to_excel(excel_file, sheet_name = "vat", index = False)

# excel_file.save()